﻿@model CodexMVC.Models.ViewTourModel
@using Data.Entities
@using Services
@{
    var title = Model.Tour.Tour.ToDisplay();
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var authenticated = Request.IsAuthenticated;
    var markdown2 = new MarkdownDeep.Markdown();
    var place = Model.Tour.Location;
    var placeWithTimeZone = place.TimeZoneOffset ?? 0;
    var byArtist = Model.Tour.Artworks
        .Where(x => x.Artist != null)
        .OrderBy(x => x.Artist.FullName)
        .GroupBy(x => x.Artist.Guid);
}
@functions {
    public int? ToNullableInt(string value)
    {
        int result;
        return int.TryParse(value, out result) ? (int?)result : (int?)null;
    }

    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(Data.Entities.IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Data.Entities.Artefact)
        {
            return ((Data.Entities.Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string GetHour(string time)
    {
        var pairs = time.Split(':');
        if (pairs.Length == 0)
        {
            return time;
        }
        return pairs[0];
    }
    public string GetMinute(string time)
    {
        var pairs = time.Split(':');
        if (pairs.Length == 0)
        {
            return time;
        }
        if (pairs.Length == 1)
        {
            return "00";
        }
        return pairs[1];
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

@section styles {
    <style>
        .section-heading {
            background-color: #333;
            color: #ccc;
            padding: 20px;
            width: 800px;
        }

        .container-heading {
            background-color: #ccc;
            padding: 10px;
        }

        #map-detail {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }

        li.active a {
            text-shadow: 2px 2px #333;
        }

        colgroup .column-active {
            background-color: #dff0d8;
        }

        tr.bold-heading {
            font-weight: 600;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    @title
                </h1>
            </div>
            @if (authenticated)
            {
                <div class="col-md-1">
                    @{
                var starClassAgent = "glyphicon-bookmark";
                var starStyleAgent = Model.Tour.Bookmarked ? "color: red; " : "";
                    }
                    <p class="text-right">
                        <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@Model.Tour.Bookmarked.ToString().ToLower()" data-guid="@Model.Tour.Tour.Guid" data-type="Artefact"><span style="@starStyleAgent font-size: 3.5em;" class="glyphicon @starClassAgent"></span></a>
                    </p>
                </div>
                <div class="col-md-1">
                    @{
                var seenClassAgent = "glyphicon-eye-open";
                var seenStyleAgent = Model.Tour.Seen ? "color: red; " : "";
                    }
                    <a href="#" onclick="addSeenIt(this); return false;" data-seen="@Model.Tour.Seen.ToString().ToLower()" data-guid="@Model.Tour.Tour.Guid" data-type="Artefact"><span style="@starStyleAgent font-size: 3.5em;" class="glyphicon @seenClassAgent"></span></a>
                </div>
            }
        </div>
        <h2>
            Tour in 
                <a href="/Place/ViewDetail/@Model.Tour.Location.Guid">
                    @Model.Tour.Location.Name     
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <div id="map-detail">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Art" aria-controls="Art" role="tab" data-toggle="tab">Art</a>
                </li>
                <li role="presentation">
                    <a href="#connexions" aria-controls="connexions" role="tab" data-toggle="tab">
                        Connections
                        <span class="badge">beta</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Art">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" style="background-color: #f50057;" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#BySection" aria-controls="BySection" role="tab" data-toggle="tab">By Section</a>
                            </li>
                            @if (byArtist.Any())
                            {
                                <li role="presentation">
                                    <a href="#ByArtist" aria-controls="ByArtist" role="tab" data-toggle="tab">By Artist</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="ByArtist">
                                @foreach (var item in byArtist)
                                {
                                    var artist = item.First().Artist;
                                    <h4 class="container-heading">
                                        @artist.FullName2 <a href="/Agent/ViewDetail/@artist.Guid" class="btn btn-default btn-sm">see all</a>
                                    </h4>
                                    <div class="justified-small">
                                        @foreach (var subitem in item.First().ArtefactWithImages)
                                        {
                                            <div>
                                                <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                    <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="connexions">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Commentary">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="shadow-z-1" style="padding: 20px; padding-left: 40px; margin: 20px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script>
        $('a[data-toggle="tab"]').on('shown', function (e) {
            $(".justified").justifiedGallery({
                rowHeight : 300,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
        $(".justified").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-medium").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-small").justifiedGallery({
            rowHeight : 200,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-tiny").justifiedGallery({
            rowHeight : 100,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
    </script>
    <script>
        @{
            var collection = Model.Tour.Location;
            //var place = Model.Exhibition.Location;
            var lat = collection.Latitude.HasValue ? collection.Latitude.Value : place.Latitude.Value;
            var lng = collection.Longitude.HasValue ? collection.Longitude.Value : place.Longitude.Value;
            //var title = collection.ToDisplay();
        }
        function initializeDetailMap(){
            var centre = new google.maps.LatLng(@lat, @lng);
            var mapOptions = {
                center: centre,
                zoom: 15
            };
            var map = new google.maps.Map(document.getElementById('map-detail'),
                mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: centre,
                title: "@title"
            });
        }
        if (typeof window.google != "undefined"){
            google.maps.event.addDomListener(window, 'load', initializeDetailMap);
        }
    </script>
}
