
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

//		Stylesheet for
//			min-width: 768px

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 


// Styles
.main-nav__dropdown {
	position: absolute;
	top: 100%;
	z-index: 2;
	background-color: white;
	margin: 0;
	padding: .5em 0;
	list-style-type: none;
	box-shadow: 0 0 7px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .2);
	font-size: .87em; // 1.6 -> 1.4
}

	.main-nav__dropdown-item {}

		.main-nav__dropdown-link {
			display: block;
			padding: .25em 1em;
		}