
// Font Families

@open-sans: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@roboto: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


@font-face {
	font-family: "icomoon";
	src:url("/Content/fonts/icomoon.eot?k375uj");
	src:url("/Content/fonts/icomoon.eot?#iefixk375uj") format("embedded-opentype"),
		url("/Content/fonts/icomoon.ttf?k375uj") format("truetype"),
		url("/Content/fonts/icomoon.woff?k375uj") format("woff"),
		url("/Content/fonts/icomoon.svg?k375uj#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon-search:before { content: "\eb2d"; }
.icon-cog:before { content: "\eb5c"; }
.icon-menu:before { content: "\ec6e"; }
.icon-star-empty:before { content: "\ece0"; }
.icon-star-half:before { content: "\ece1"; }
.icon-star-full:before { content: "\ece2"; }
.icon-heart-full:before { content: "\ece6"; }
.icon-heart-empty:before { content: "\ece7"; }
.icon-cross:before { content: "\ed6a"; }

@icon-search: "\eb2d";
@icon-cog: "\eb5c";
@icon-menu: "\ec6e";
@icon-star-empty: "\ece0";
@icon-star-half: "\ece1";
@icon-star-full: "\ece2";
@icon-heart-full: "\ece6";
@icon-heart-empty: "\ece7";
@icon-cross: "\ed6a";