
//============================================================*\
//
//	#Form Elements
//
//============================================================*/


//
//	#Button
//--------------------------------------*/

.button {

	vertical-align: middle;
	.form-element-style-reset(); // Resets default styling
	
	// Custom
	.gradient(#eee, #ddd);
	border-bottom: 1px solid #cecece;
	border-radius: 2px;
	color: @copy-color;
	display: inline-block;
	font-size: @font-size-copy;
	padding: .5em 1em;
	position: relative;

	&:hover {}
	&:focus {}
	&:active {

		// Custom
		top: 1px;
		border-bottom-color: transparent;
		background-color: #e1e1e1;
		color: @copy-color;
	}

}

p .button,
ul .button { font-size: 1em; } /* Prevents nested elements' font sizes from increasing */

/* Firefox height fix */
.button::-moz-focus-inner { border: 0; padding: 0; margin-top:-2px; margin-bottom: -2px; }


//
//	#Text Inputs
//--------------------------------------*/

.field {
	vertical-align: middle;
	.form-element-style-reset(); // Resets default styling

	// Custom
	background-color: #fff;
	border: 1px solid #cecece;
	color: @copy-color;
	display: inline-block;
	font-size: @font-size-copy;
	line-height: @line-height-copy;
	padding: .5em 1em;

	&:hover {}
	&:focus {}
	&:active {}

}


//
//	#Textarea
//--------------------------------------*/

textarea,
.textarea {
	resize: vertical;
	.form-element-style-reset(); // Resets default styling

	// Custom
	background-color: #fff;
	border: 1px solid #cecece;
	color: @copy-color;
	font-size: @font-size-copy;
	line-height: @line-height-copy;
	padding: .5em 1em;
	

	&:hover {}
	&:focus {}
	&:active {}

}


//
//	#Select
//--------------------------------------*/

select,
.select {
	cursor: pointer;
	vertical-align: middle;
	.form-element-style-reset(); // Resets default styling

	// Custom
	background-color: #fff;
	border: 1px solid #cecece;
	font-size: @font-size-copy;
	line-height: @line-height-copy;
	padding: .5em 1em;

	&:hover {}
	&:focus {}
	&:active {}

}


//
//	#Placeholder
//--------------------------------------*/

//								Line height keeps placeholder vertically centred
::-webkit-input-placeholder { 	line-height: @line-height-copy; }
:-moz-placeholder { 			line-height: @line-height-copy; } /* Firefox 18- */
::-moz-placeholder { 			line-height: @line-height-copy; } /* Firefox 19+ */
:-ms-input-placeholder { 		line-height: @line-height-copy; }


//
//	#Radio
//--------------------------------------*/

.radio {

	.form-element-style-reset(); // Resets default styling

	// Custom
}


//
//	#Checkbox
//--------------------------------------*/

.checkbox {

	.form-element-style-reset(); // Resets default styling

	// Custom
}


//
//	#Label
//--------------------------------------*/

label,
.label {
	-webkit-tap-highlight-color: transparent;
	
	// Custom
	color: @copy-color;
	cursor: pointer;
	font-size: @font-size-copy;
}


//
//	#Validation
//--------------------------------------*/

/* Default validation for MVC: This class is given to the element in an error state */
.input-validation-error { border-color: red; }

/* Default validation for MVC: A span with this class is inserted below the element in an error state */
.field-validation-error  {
	font-size: 1.2em;
	color: red;
	display: block;
	margin-top: 1em;
}