
//
//	#Icon styles
//--------------------------------------*/
//
// If using an icon font, this mixin adds all the required styling

.icon-styles() {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//
//	#Remove appearance
//--------------------------------------*/
//
// Removes "appearance", prevalent on form elements 

.appearance-none() {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}


//
//	#Reset form element styling
//--------------------------------------*/
//
// Resets form element styling

.form-element-style-reset() {
	border: none;
	background: transparent none;
	padding: 0;
	line-height: 1;
	-webkit-tap-highlight-color: transparent;
}


//
//	#Hide element visually
//--------------------------------------*/
//
// Hides element visually

.visually-hidden() {
	position: absolute !important; 
	overflow: hidden !important; 
	clip: rect(0 0 0 0) !important; 
	height: 1px !important; width: 1px !important; 
	margin: -1px !important; padding: 0 !important; border: 0 !important; 
}


//
//	#Clearfix
//--------------------------------------*/
//
.clearfix() {
	&:after { content: ""; display: table; clear: both; }
}


//
//	#Scale
//--------------------------------------*/
//
// value accepts 0 through to 1
// originX and originY are the x and y coordinates from where the transformation should begin

.scale(@value, @originX: 50%, @originY: 50%) {
	-webkit-transform: scale(@value);
	-moz-transform:    scale(@value);
	-ms-transform:     scale(@value);
	-o-transform:      scale(@value);
	transform:         scale(@value);
	// Transform Origin
	-webkit-transform-origin:	@originX @originY;
	-moz-transform-origin:		@originX @originY;
	transform-origin:			@originX @originY;
}


//
//	#ScaleX
//--------------------------------------*/
//
// value accepts 0 through to 1
// originX and originY are the x and y coordinates from where the transformation should begin

.scaleX(@value, @originX, @originY) {
	-webkit-transform: scaleX(@value);
	-moz-transform:    scaleX(@value);
	-ms-transform:     scaleX(@value);
	-o-transform:      scaleX(@value);
	transform:         scaleX(@value);
	// Transform Origin
	-webkit-transform-origin:	@originX @originY;
	-moz-transform-origin:		@originX @originY;
	transform-origin:			@originX @originY;
}


//
//	#ScaleY
//--------------------------------------*/
//
// value accepts 0 through to 1
// originX and originY are the x and y coordinates from where the transformation should begin

.scaleY(@value, @originX, @originY) {
	-webkit-transform: scaleY(@value);
	-moz-transform:    scaleY(@value);
	-ms-transform:     scaleY(@value);
	-o-transform:      scaleY(@value);
	transform:         scaleY(@value);
	// Transform Origin
	-webkit-transform-origin:	@originX @originY;
	-moz-transform-origin:		@originX @originY;
	transform-origin:			@originX @originY;
}


//
//	#Translate
//--------------------------------------*/
//
// value1 (negative value = left, positive value = right) and value2 (negative value = up, positive value = down) accept any value, e.g. 10px, 1em, etc

.translate(@value1, @value2) {
	-webkit-transform: translate(@value1, @value2);
	-moz-transform:    translate(@value1, @value2);
	-ms-transform:     translate(@value1, @value2);
	-o-transform:      translate(@value1, @value2);
	transform:         translate(@value1, @value2);
}


//
//	#TranslateX
//--------------------------------------*/
//
// value accepts any value, e.g. 10px, 1em, etc

.translateX(@value) {
	-webkit-transform: translateX(@value);
	-moz-transform:    translateX(@value);
	-ms-transform:     translateX(@value);
	-o-transform:      translateX(@value);
	transform:         translateX(@value);
}


//
//	#TranslateY
//--------------------------------------*/
//
// value accepts any value, e.g. 10px, 1em, etc

.translateY(@value) {
	-webkit-transform: translateY(@value);
	-moz-transform:    translateY(@value);
	-ms-transform:     translateY(@value);
	-o-transform:      translateY(@value);
	transform:         translateY(@value);
}


//
//	#Rotate
//--------------------------------------*/
//
// value accepts 0deg through to 360deg

.rotate(@value) {
	-webkit-transform: rotate(@value);
	-moz-transform:    rotate(@value);
	-ms-transform:     rotate(@value);
	-o-transform:      rotate(@value);
	transform:         rotate(@value);
}

//
//	#Gradient
//	 - Add for IE9: .lt-ie9 .selector-that-has-gradient { filter: none; }
//--------------------------------------*/
//
.gradient(@startColor, @endColor) {

	// IE9 prep
    @dataPrefix: ~"url(data:image/svg+xml;base64,";
    @dataSuffix: ~")";
    @dataContent: ~'<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="g743" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop stop-color="@{startColor}" offset="0"/><stop stop-color="@{endColor}" offset="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#g743)"/></svg>';
    @b64Out: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataPrefix}','@{dataContent}','@{dataSuffix}')`;
 
	background: mix(@startColor, @endColor); // Old browsers
	background: ~"@{b64Out}"; // IE9
	background: -moz-linear-gradient(top, @startColor 0%, @endColor 100%); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@endColor)); // Chrome,Safari4+
	background: -webkit-linear-gradient(top, @startColor 0%, @endColor 100%); // Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, @startColor 0%, @endColor 100%); // Opera 11.10+
	background: -ms-linear-gradient(top, @startColor 0%, @endColor 100%); // IE10+
	background: linear-gradient(to bottom, @startColor 0%, @endColor 100%); // W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{startColor}', endColorstr='@{endColor}',GradientType=0 ); // IE6-8
}


//
//	#2x size images for Retina
//--------------------------------------*/

// Usage example:
// .image-2x('/path/to/images/', 'image.png', 200px, 100px, no-repeat)
//
// For this mixin to work, you need an image with the same name except with @2x before the extension
// Path must have slashes on either side, e.g. /folder-name/

.image-2x(@path, @image, @width, @height, @repeat: no-repeat) {
  @filename  : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
  @extension : ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
  @final_path : ~"@{path}";
  background-image: ~`"url('@{final_path}@{filename}.@{extension}')"`;
  background-repeat: @repeat;
  
    @media
	    only screen and (-webkit-min-device-pixel-ratio: 2),
	    only screen and (   min--moz-device-pixel-ratio: 2),
	    only screen and (     -o-min-device-pixel-ratio: 2/1),
	    only screen and (        min-device-pixel-ratio: 2),
	    only screen and (                min-resolution: 192dpi),
	    only screen and (                min-resolution: 2dppx) {
	        /* on retina, use image that's scaled by 2 */
	        background-image: ~`"url('@{final_path}@{filename}@2x.@{extension}')"`;
	        background-size: @width @height;
	    }
}


//
//	#Keyframes and Animation
//--------------------------------------*/

// Usage example:
// .keyframes(something, {
//     width: 100px;
//     height: 100px;
// },
// {
//     width: 500px;
//     height: 500px;
// });

.keyframes (@name, @fromRules, @toRules) {
    @-webkit-keyframes ~'@{name}' { 0% { @fromRules(); } 100% { @toRules(); } }
       @-moz-keyframes ~'@{name}' { 0% { @fromRules(); } 100% { @toRules(); } }
    	 @-o-keyframes ~'@{name}' { 0% { @fromRules(); } 100% { @toRules(); } }
            @keyframes ~'@{name}' { 0% { @fromRules(); } 100% { @toRules(); } }
}