
// Variables for the project
@import (less) "_variables.less";

// Mixins for the project
@import (less) "_mixins.less";

// Fonts for the project
@import (less) "_fonts.less";

@import (less) "_normalize.less";


//============================================================*\
//
//	#Critical
//
//	Above-the-fold styles
//
//============================================================*/


html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

html,body { margin: 0; padding: 0; line-height: 1; width: 100%; position: relative; }

body {
	font-family: @open-sans;
	font-size: 62.5%; /* Resets base font size to 10px, so setting font size to 14px in EMs is simple: 1.4em */
	overflow-x: hidden;
}

//
//	#Paragraph
//--------------------------------------*/

p {
	color: @copy-color;
	font-size: @font-size-copy;
	line-height: @line-height-copy;
	margin: 0 0 @font-size-copy;
}

li p { font-size: 1em; } /* Prevents nested elements' font sizes from increasing */


//
//	#Links
//--------------------------------------*/

a {
	color: @blue;
	position: relative;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

	a:hover {}

	a:active {
		//color: #00bc8a;
		top: 1px;
	}

//
//	#Heading
//--------------------------------------*/

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { color: @copy-color; margin: 0 0 .5em; clear: left; }

/* Any heading following content is given a top margin... because it usually needs some separation */
* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3,
* + h4,
* + .h4,
* + h5,
* + .h5,
* + h6,
* + .h6 { margin-top: 1em; }

	h1, .h1 { font-size: 4.8em; }
	h2, .h2 { font-size: 3.6em; }
	h3, .h3 { font-size: 3.2em; }
	h4, .h4 { font-size: 2.8em; }
	h5, .h5 { font-size: 2.0em; }
	h6, .h6 { font-size: 1.6em; }


//
//	#List
//--------------------------------------*/

ul, ol {
	color: @copy-color;
	font-size: @font-size-copy;
	line-height: unit(@line-height-copy, em);
	list-style-position: outside;
	margin: 0 @font-size-copy unit(@line-height-copy, em);
	padding: 0;	
}

ul {}
	ul ul {}
	ul ul ul {}

ol {}
	ol ol { list-style-type: lower-alpha; }
	ol ol ol {}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		font-size: 1em; /* Prevents nested elements' font sizes from increasing */
		margin: .5em @font-size-copy;
	} 

	li {}

p ul { font-size: 1em; } /* Prevents nested elements' font sizes from increasing */


//============================================================*\
//
//	#Misc
//
//============================================================*/

// For screen-readable, visually-hidden content
.visually-hidden { .visually-hidden(); }


//
//	#User nav
//--------------------------------------*/

.user-nav {}

	.user-nav__list {
		list-style-type: none;
		line-height: @line-height-copy;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: .5em 1em;
		text-align: right;
		background-color: #ebebeb;
		font-size: @font-size-copy;
	}

		.user-nav__list-item {
			display: inline-block;

		}
		
			.user-nav__link {
				display: block;
				text-decoration: none;
			}


//
//	#Main header
//--------------------------------------*/

.main-header {}
	.main-header__wrapper {
		width: 100%;
		max-width: 1200px;
		//min-width: 1200px;
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		background-color: @blue;
		box-shadow: 0 0 7px rgba(0, 0, 0, .4), 0 2px 3px rgba(0, 0, 0, .2);
	}

		.main-header__cell {
			display: table-cell;
			vertical-align: middle;
			width: auto;
		}

		.main-header__cell--logo { width: 50%; }
		.main-header__cell--main-nav {}
		.main-header__cell--search { width: 50%; }

			.main-logo-link {
				display: inline-block;
				vertical-align: middle;
				color: white;
				font-size: 2em;
				padding: 0 .5em;
				text-align: center;
			}

			body:before {
				content: "";
				display: block;
				position: fixed;
				width: 100%;
				height: 100%;
				background-color: black;
				opacity: 0;
				z-index: -1;
				transition: opacity .2s ease-in-out;
			}

			body.nav-active:before {
				z-index: 2;
				opacity: .7;
			}

			.mobile-navigation-button {
				display: inline-block;
				vertical-align: middle;
				background-color: transparent;
				border: none;
				text-indent: -9999px;
				width: 45px;
				height: 45px;
				position: relative;
			}

				.mobile-navigation-button:before {
					.icon-styles();
					content: @icon-menu;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					line-height: 45px;
					font-size: 28px;
					color: white;
					text-indent: 0;
					text-align: center;
				}

			.mobile-navigation {
				position: fixed;
				z-index: 2;
				top: 0;
				left: 0;
				background-color: white;
				max-width: 75%;
				height: 100%;
				transition: -webkit-transform .2s ease-in-out, -moz-transform .2s ease-in-out, transform .2s ease-in-out;
			}

				.mobile-navigation.is-inactive { .translateX(-100%); }

				.mobile-navigation.is-active { .translateX(0); box-shadow: 0 0 5px rgba(0,0,0,.4); }

						.ink {
							display: block; position: absolute;
							background-color: mix(@mainNavLink, rgba(255,255,255,.2));
							border-radius: 100%;
							transform: scale(0);
						}

						.ink.animate { animation: ripple .6s ease; }

						@keyframes ripple {
							// Scale the element to 250% to safely cover the entire link and fade it out
							100% {opacity: 0; transform: scale(2.5);}
						}


			/*
				#Main Search
			----------------------------------------*/

			.main-search {
				padding: 1em 40px 1em 20px;
				white-space: nowrap;
			}
				.main-search__field {
					vertical-align: middle;
					.form-element-style-reset(); // Resets default styling
					background-color: #fff;
					border: none;
					color: @copy-color;
					display: inline-block;
					font-size: @font-size-copy;
					line-height: @line-height-copy;
					padding: .5em 1em;
				}

				.main-search__button {
					vertical-align: middle;
					.form-element-style-reset(); // Resets default styling
					text-indent: -9999px;
					position: relative;
					overflow: hidden;
					background-color: white;
					font-size: @font-size-copy;
					line-height: @line-height-copy;
					padding: .5em 1.25em;
				}

				.main-search__button:before {
					.icon-styles();
					content: @icon-search;
					position: absolute;
					text-indent: 0;
					top: 50%;
					left: 0;
					font-size: 16px;
					display: block;
					width: 100%;
					text-align: center;
					height: 16px;
					margin-top: -8px;
					color: black;
				}

				.main-search__button:active:before { color: @blue; }


//
//	#Main
//--------------------------------------*/

.main {}

	.main__wrapper {
		//width: 100%;
		//max-width: 1200px;
		//margin: 0 auto;
	}

	.content-wrapper {
		padding: 20px;
		max-width: 1200px;
		margin: 0 auto;
	}

		.google-map {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			height: 300px;
			display: none; // Temporary
		}


/*============================================================*\

	#Content

\*============================================================*/

	.content-header-wrapper {
		width: 100%;
		//min-width: 1200px;
		max-width: 1200px;
		margin: 0 auto;
	}

	/*
		#Object Header
	----------------------------------------*/

	.content-header {
		background-color: @blue;
		box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1) inset;
		display: table;
		position: relative;
		width: 100%;
		table-layout: fixed;
		max-width: 1200px;
		margin: 0 auto;
	}
		.content-header:after {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.gradient(rgba(255,255,255,.2), transparent);
			filter: none;
		}

		.content-header__cell {
			display: table-cell;
			position: relative;
			z-index: 1;
			width: 100%;
		}

		.content-header__cell--cell-01 { width: 75%; vertical-align: top; }
		.content-header__cell--cell-02 {
			background-color: #ebebeb;
			width: 25%;
			border-top: 1px solid rgba(255, 255, 255, .4);
			padding: 10px 40px 20px 20px;
			vertical-align: top;
		}


			// In cell-01

			.content-header__title {
				margin: 0;
				padding: 20px 40px 15px;
				color: white;
				position: relative;
				z-index: 1;
				z-index: 1;
				font-size: 3.6em;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
				box-shadow: 10px 0 0 @red inset;
			}

			.content-header__description {
				background-color: rgba(0, 0, 0, .05);
				padding: 15px 20px 15px 40px;
				border-top: 1px solid rgba(255, 255, 255, .1);
				position: relative;
			}

				.content-header__description:after {
					content: "";
					position: absolute;
					z-index: 0;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					.gradient(rgba(0,0,0,.025), transparent);
					filter: none;
				}

			.content-header__description p {
				margin: 0;
				color: white;
				position: relative;
				z-index: 1;
				font-size: 1.4em;
			}

			.content-header a {
				color: white;
				text-decoration: underline;
			}


			// In cell-02
			.content-rating {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

				.content-rating__item { position: relative; }

				.content-rating__item--your-rating {}
				.content-rating__item--average-rating {}

				.content-rating__rating {}

					.rating-star__empty,
					.rating-star__full {
						width: 20px;
						height: 16px;
						display: inline-block;
					}

					.rating-star__empty:before,
					.rating-star__full:before {
						.icon-styles();
						font-size: 24px;
					}

					.rating-star__empty:before {
						content: @icon-star-full;
						color: rgba(0,0,0,.1)
					}
					.rating-star__full:before {
						content: @icon-star-full;
						color: #ffc700;
					}


//
//	#Long list
//--------------------------------------*/

.long-list-heading {
	font-size: 2.4em;
}

	.long-list-heading__sub {
		display: block;
		font-size: .67em; // 2.4 -> 1.6em
		font-weight: normal;
	}

	.long-list-heading__see-all {
		display: inline-block;
		font-size: .5em; // 2.4 -> 1.4em
		vertical-align: middle;
		margin-left: 1em;
	}

.long-list {
	list-style-type: none;
}

	.long-list__item {
		margin-bottom: .5em;
	}

		.long-list__link {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
		}

			.long-list__sub {
				display: block;
				color: @copy-color;
			}

.long-list--places,
.long-list--collections,
.long-list--artists {
	display: table;
	width: 100%;
	margin: 0;

	.long-list__item {
		display: table-row;
	}

		.long-list__badge {
			display: table-cell;
			vertical-align: middle;
			padding: 3px 5px;
			background-color: #ebebeb;
			text-align: center;
			border-bottom: 1px solid white;
		}

		.long-list__badge--gt20 { background-color: @blue; color: white; }

		.long-list__link {
			display: table-cell;
			vertical-align: middle;
			background-color: #f6f6f6;
			width: 100%;
			padding: .5em;
			border-bottom: 1px solid white;
		}

		.long-list__link:hover {
			background-color: #ebebeb;
		}

}


//
//	#Mobile-only
//--------------------------------------*/

@media only screen
and (max-width: 767px) {

	.main-header__cell--logo { white-space: nowrap; }
	.main-header__cell--main-nav { .visually-hidden(); }

}


//
//	#768+
//--------------------------------------*/

@media only screen
and (min-width: 768px) {

	@import (less) "_critical-768.less";

}


//
//	#1280+
//--------------------------------------*/

@media only screen
and (min-width: 1280px) {

	@import (less) "_critical-1280.less";

}