﻿@model CodexMVC.Models.AddRoleToUserModel
@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add role ...</h2>
@using (Html.BeginForm("AddRole", "User"))
{
    @Html.HiddenFor(x => x.UserGuid)
    <div class="form-group">
        <div class="form-row">
            <label>Role</label>
            @Html.DropDownListFor(x => x.RoleGuid, new SelectList(Model.Roles, "Value", "Text"))
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}
