﻿
@{
    ViewBag.Title = "Password reset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thank you!</h2>

<p>
    The user's password has now been successfully reset!
</p>

<a href="/Account/Login" class="btn btn-default btn-primary">
    Log in
</a>
