﻿@model CodexMVC.Models.ViewUserModel
@{
    ViewBag.Title = "User: " + Model.User.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User: @Model.User.Name</h2>

<div class="row">
    <div clss="col-md-12">
        <a href="/Admin/User/Edit?userGuid=@Model.User.Guid" class="btn btn-default">Edit</a>
        <a href="/Admin/User/AuditTrail/@Model.User.Guid" class="btn btn-default">Audit Trail</a>
        <a href="/Admin/User/ResetPassword/@Model.User.Guid" class="btn btn-default">Reset Password</a>
    </div>
</div>

<h4>Roles</h4>

@if (Model.Roles.Any())
{
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>
                <a href="/Admin/Role/ViewDetail?roleGuid=@role.Guid">@role.Name</a>
            </li>
        }
    </ul>
}
else
{
    @:None
}
<div style="margin-top:20px;">
    <a href="/Admin/User/AddRole?userGuid=@Model.User.Guid">+ Add Role</a>
</div>