﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Codex - An Atlas of History</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300`c,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/jqcloud.css" rel="stylesheet" />
    <style>
        span.page-number {
            position: absolute;
            right: -40px;
            font-size: 0.75em;
        }
        li a { padding: 0; }
    </style>
    @RenderSection("styles", false)
    @RenderSection("meta", false)
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/Home/Index">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Time/People">People</a>
                    </li>
                    <li>
                        <a href="/Time/Places">Places</a>
                    </li>
                    <li>
                        <a href="/Time/List">Times</a>
                    </li>
                    <li>
                        <a href="/Time/Artworks">Artworks</a>
                    </li>
                    <li>
                        <a href="/Time/Tags">Concepts</a>
                    </li>
                    <li>
                        <a href="/Dataset/List">Datasets</a>
                    </li>
                    <li>
                        <a href="/Time/ControlPanel">Atlas</a>
                    </li>
                    <li><a href="#">|</a></li>
                    <li><a href="/Agent/List">Artists</a></li>
                    <li><a href="/Place/List">Cities</a></li>
                    <li><a href="/Collection/List">Museums</a></li>
                    <li><a href="/Time/AgentTypes">Professions</a></li>
                    <li><a href="/Character/List">Characters</a></li>
                    <li><a href="/Subject/List">Subjects</a></li>
                    <li><a href="/Motif/List">Motifs</a></li>
                    <li><a href="/Time/Compare">Comparisons</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Want to take part? Join me!</h2>
                    <p>
                        I would love to work with people who want to be a part of a digital humanities project mapping the daily life of the Italian Renaissance in detail. Do you have graphic design skills? Or are you a Neo4j/ASP.NET developer? Or just someone who loves the Renaissance like myself and would like to help build the knowledge base? Do get in touch! 
                    </p>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/IianNeill" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://bitbucket.org/argimenes/codex" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">BitBucket</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/iianneill" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">                        
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/People">People</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/Places">Places</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/List">Calendar</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/Tags">Concepts</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/DataSet/List">Datasets</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/Latest">Recent Additions</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/Time/ControlPanel">Data Vis</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy;2013-@DateTime.Now.Year The Codex. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jqcloud-1.0.4.min.js"></script>
    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    <script src="~/Scripts/App.Utils.js"></script>
    @RenderSection("scripts", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-61825904-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
