﻿@using System.Web.Optimization
@using Services.Common
@{
    var authenticated = Request.IsAuthenticated;
    var buttonText = authenticated ? "Logout" : "Login";
    var buttonAction = authenticated ? "/Account/Logout" : "/Account/Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codex: @ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Content/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/reset.css" rel="stylesheet" />
    @Styles.Render("~/Content/css/bootstrap", "~/css")
    <link href="~/Content/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="~/Content/jqcloud.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <style>
        /*
        Override the default navbar alignment in order to centre it.
        http://stackoverflow.com/questions/10939481/center-the-nav-in-twitter-bootstrap
        */
        .navbar .nav,
        .navbar .nav > li {
            float: none;
            display: inline-block;
            *display: inline; /* ie7 fix */
            *zoom: 1; /* hasLayout ie7 trigger */
            vertical-align: top;
        }

        .navbar-inner {
            text-align: center;
        }

        body div, p, h1, h2, h3, h4 {
            font-family: 'Aldus LT Std';
            line-height: 1.3em;
        }

        a.text-link {
            text-decoration: none;
            padding-bottom: 3px;
            border-bottom: 3px #CAEFEB solid;
        }
        a:hover {
            text-decoration: none;
            padding-top: 3px;
            padding-bottom: 3px;
            border-top: 3px #009688 solid;
            border-bottom: 3px #009688 solid;
        }

        span.page-number {
            position: absolute;
            right: -40px;
            font-size: 0.75em;
        }
    </style>
    @RenderSection("styles", false)
    @RenderSection("meta", false)
</head>
<body>
    <div id="fb-root"></div>
    <script>
        function showNotifications() {
            var ul = $("#notifications-dropdown-menu");
            $.get("/Account/Notifications", null, function (html) {
                ul.html(html);
            }, "html");
        }
    </script>
    <nav class="navbar navbar-fixed-top" style="background-color: white; color: black;">
        <div class="container-fluid text-center">
            <div>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{
                    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
                    var action = this.ViewContext.RouteData.Values["action"].ToString();
                    var area = this.ViewContext.RouteData.DataTokens["area"] != null ? this.ViewContext.RouteData.DataTokens["area"].ToString() : null;
                }
                <ul class="nav navbar-nav">
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/ControlPanel">Viewer</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/List">Decades</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/People">Agents</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/Tags">Tags</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/Themes">Themes</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/Places">Places</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/Artworks">Artefacts</a></li>
                    <li>@*<a style="font-size: 1.5em; font-style: italic;" href="/Time/Charts">Charts</a>*@</li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Dataset/List">Datasets</a></li>
                    <li><a style="font-size: 1.5em; font-style: italic;" href="/Time/Latest">Latest</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content" style="background-color: white; margin-top: 20px; padding: 20px;">
        @RenderBody()
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    &copy; The Codex @DateTime.Now.Year - <a href="https://twitter.com/IianNeill">https://twitter.com/IianNeill</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body" style="margin-top: 20px;">
                    <div id="login-content"></div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @Scripts.Render("~/js", "~/appJs")
    <script src="~/Scripts/jquery.justifiedGallery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jqcloud-1.0.4.min.js"></script>
    <script>
        $.material.init();
    </script>
    <script>
        function showLoginModal() {
            $.get("/Account/LoginModal", null, function (html) {
                $("#login-content").html(html);
                $("#login-modal").modal({ show: true });
            }, "html");
        }
    </script>
    @RenderSection("scripts", false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-61825904-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
