﻿@model CodexMVC.Models.EditPermissionModel

@{
    var mode = Model.PermissionGuid != null ? "Edit" : "Add";
    ViewBag.Title = mode + " Permission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@mode Permission</h2>
@using (Html.BeginForm("Edit", "Permission"))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.PermissionGuid)
        <div class="form-row">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="form-row">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description)
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}