﻿@model CodexMVC.Models.ViewCollectionList
@{
    ViewBag.Title = "Collections";
    ViewBag.Section = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Museums, Galleries, Churches <small>and other collections of art</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="/Collection/List?mode=ByCity" class="btn btn-default">By City</a>
        <a href="/Collection/List?mode=ByType" class="btn btn-default">By Type of Institution</a>
    </div>
</div>

<div style="position: relative; left: -100px; top: 50px;">
    artworks
</div>


@if (Model.Mode == CodexMVC.Models.CollectionListMode.ByCity)
{
    if (Model.Collections != null && Model.Collections.Any())
    {
        var collections = Model.Collections.GroupBy(x => x.Location.Guid);
        foreach (var item in collections.OrderBy(x => x.First().Location.Name))
        {
            var current = item.First();
            <h2>
                @current.Location.Name
                @if (current.Inside.Any())
                {
                    <small>
                        @string.Join(", ", current.Inside.Select(x => x.Name))
                    </small>
                }
                <a href="/Place/ViewDetail/@current.Location.Guid" class="btn btn-default btn-sm">see all</a>
            </h2>
            <ul>
                @foreach (var subitem in item.OrderBy(x => x.Collection.Name))
                {
                    <li>
                        <div style="position: relative;">
                            <div>
                                <h4>
                                    <a href="/Artefact/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                                    @if (subitem.Attributes.Any())
                                    {
                                        var attributes = subitem.Attributes.Where(x => x.Name != Data.Entities.Label.Categories.Collection);
                                        <small>
                                            @if (subitem.RepresentativeOf != null)
                                            {
                                                <span>@string.Join("/", subitem.RepresentativeOf.Select(x => x.Adjective ?? x.Name))</span>
                                            }
                                            @string.Join(", ", attributes.Select(x => x.Name.ToLower()))
                                        </small>
                                    }
                                </h4>
                            </div>
                            @{
                    var badgeColour = subitem.ArtworkTotal >= 20 ? "green" : subitem.ArtworkTotal >= 10 ? "orange" : subitem.ArtworkTotal >= 5 ? "pink" : "gray";
                            }
                            <div style="position: absolute; top:0; left:-50px;">
                                <span class="badge" style="background-color: @badgeColour">
                                    @subitem.ArtworkTotal
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    }
}

@if (Model.Mode == CodexMVC.Models.CollectionListMode.ByType)
{
    if (Model.Collections != null && Model.Collections.Any())
    {
        var withStyles = Model.Collections.Where(x => x.Attributes != null && x.Attributes.Any());
        var collections = withStyles.GroupBy(x => x.Attributes.First().Guid);
        foreach (var item in collections.OrderBy(x => x.First().Attributes.First().Name))
        {
            var current = item.First();
            <h2>
                @string.Join("/", current.Attributes.Select(x => x.Adjective ?? x.Name))
            </h2>
            <ul>
                @foreach (var subitem in item.OrderBy(x => x.Collection.Name))
                {
                    <li>
                        <div style="position: relative;">
                            <div>
                                <h4>
                                    <a href="/Artefact/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                                    @if (subitem.Location != null)
                                    {
                                        <small>
                                            in @subitem.Location.Name, <span>@string.Join(", ", subitem.Inside.Select(x => x.Name))</span>
                                        </small>
                                    }
                                </h4>
                            </div>
                            @{
                    var badgeColour = subitem.ArtworkTotal >= 20 ? "green" : subitem.ArtworkTotal >= 10 ? "orange" : subitem.ArtworkTotal >= 5 ? "pink" : "gray";
                            }
                            <div style="position: absolute; top:0; left:-50px;">
                                <span class="badge" style="background-color: @badgeColour">
                                    @subitem.ArtworkTotal
                                </span>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
    }
}