﻿@model CodexMVC.Models.AddTourModel

@{
    ViewBag.Title = "Add an art tour";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add an art tour</h2>

@using (Html.BeginForm("Add", "Tour"))
{
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'The', 'A'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", data_bind = "value: $data.name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Url
                        </label>
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Url)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Located at <small>Where it is being run</small></label>
                @Html.DropDownListFor(x => x.LocatedAtGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Style <small>Such as Renaissance, Baroque, Romanticism</small></label>
                @Html.DropDownListFor(x => x.StyleGuid, new SelectList(Model.Styles, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Type of art <small>Such as landscape, portraiture, sketches</small></label>
                @Html.DropDownListFor(x => x.GenreGuid, new SelectList(Model.Genres, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <h3>Artists covered<small>Optional</small></h3>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist1Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist2Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist3Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <h3>Artworks seen<small>Optional</small></h3>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork1Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork2Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork3Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <h3>Stops in at <small>Art collection, such as a museum, church, piazza, etc.</small></h3>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.StopsIn1Guid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.StopsIn2Guid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.StopsIn3Guid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
}