﻿@model CodexMVC.Models.AddMusicModel

@{
    ViewBag.Title = "Add a piece of music";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add a piece of music</h2>

@using (Html.BeginForm("AddMusic", "Artefact"))
{
    <div class="music-form">
        <div class="row">
            <div class="form-group col-md-2">
                @Html.LabelFor(x => x.Article)
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Catalogue ident <small>e.g., K364, Op2, BWV 1196</small></label>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.CatalogueIdentPrefix, new SelectList(CodexMVC.Helpers.RazorCache.ResourceList.CatalogueIdentPrefixes(), "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CatalogueIdent, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Is a</label>
                @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <label>Composed by</label>
                @Html.DropDownListFor(x => x.MadeByGuid, new SelectList(Model.Agents, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label>Scored for</label>
                @Html.DropDownListFor(x => x.ScoredFor1Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label>Scored for</label>
                @Html.DropDownListFor(x => x.ScoredFor2Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label>Scored for</label>
                @Html.DropDownListFor(x => x.ScoredFor3Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label>Scored for</label>
                @Html.DropDownListFor(x => x.ScoredFor4Guid, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Part of <small>e.g., a prelude belonging to a set of preludes</small></label>
                @Html.DropDownListFor(x => x.PartOfGuid, new SelectList(Model.Artefacts, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
}