﻿@model CodexMVC.Models.AddRecognisabilityByCategory

@{
    ViewBag.Title = Model.Artefact.Name + " is recognisable by category ...";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="float:right;padding-left:50px;">
    <a href="/Artefact/List">Artefacts</a> /
    <a href="/Artefact/ViewDetail/@Model.Artefact.Guid">@Model.Artefact.Name</a>
</div>

<h2>@Model.Artefact.Name is recognisable by category ...</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Artefact.Guid)
    <div class="form-row">
        <label>Category:</label>
        @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.Categories, "Value", "Text"))
        @Html.ValidationMessageFor(x => x.CategoryGuid)
    </div>
    <div class="form-row">
        <label>Rank:</label>
        @Html.TextBoxFor(x => x.Rank, new { type = "number", min = 1, max = 5 })
        @Html.ValidationMessageFor(x => x.Rank)
    </div>
    <button type="submit">Save</button>
}
