﻿@model CodexMVC.Models.EditArtefactModel

@{
    ViewBag.Title = "Edit artefact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Edit artefact</h2>

<div id="main-template">
    @using (Html.BeginForm("Edit", "Artefact"))
    {
        @Html.HiddenFor(x => x.ArtefactGuid)
        <div class="row">
            <div class="form-group col-md-2">
                @Html.LabelFor(x => x.Article)
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { data_bind = "value: $data.name", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
            <div class="col-md-6">
                <label>Ordinal <small>The numerical order of the item in a sequence</small></label>
                @Html.TextBoxFor(x => x.Ordinal, new { type = "number", min = 0, max = 100, @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Ordinal)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Height (cms)</label>
                        @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Height)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Width (cms)</label>
                        @Html.TextBoxFor(x => x.Width, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Width)
                    </div>
                    <div class="form-group col-md-4">
                        <label>Depth (cms)</label>
                        @Html.TextBoxFor(x => x.Depth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Depth)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>Catalogue ident <small>e.g., K364, Op2, BWV 1196</small></label>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.CatalogueIdentPrefix, new SelectList(CodexMVC.Helpers.RazorCache.ResourceList.CatalogueIdentPrefixes(), "Value", "Text"), new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CatalogueIdent, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>Latitude</label>
                        @Html.TextBoxFor(x => x.Latitude, new { @class = "form-control", data_bind = "value: $data.latitude" })
                    </div>
                    <div class="col-md-6">
                        <label>Longitude</label>
                        @Html.TextBoxFor(x => x.Longitude, new { @class = "form-control", data_bind = "value: $data.longitude" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div id="main-template">
                            <button type="button" data-bind="click: $data.geocodeClicked" class="btn btn-default">Geocode</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="display:none;" data-bind="visible: $data.results().length, foreach: $data.results">
                        <a href="#" class="btn btn-default" data-bind="click: $root.hideClicked.bind($root)">Hide</a>
                        <div class="form-horizontal">
                            <div class="col-sm-2">
                                <input type="radio" name="result" data-bind="value: $index, click: $root.resultClicked.bind($root)" />
                            </div>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div data-bind="foreach: $data.address_components">
                                            <strong>
                                                <span data-bind="text: $data.long_name"></span>
                                                <span data-bind="text: ' (' + ($data.short_name ? $data.short_name : '<none>') + ')'"></span>
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Types</label>
                                    <div class="col-sm-8">
                                        <!-- ko foreach: $data.types -->
                                        <p data-bind="text: $data"></p>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Partial match?</label>
                                    <div class="col-sm-8">
                                        <span class="form-control-static" data-bind="text: $data.partial_match ? 'Yes' : 'No'"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Latitude</label>
                                    <div class="col-sm-8">
                                        <span class="form-control-static" data-bind="text: $data.geometry.location.lat()"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Longitude</label>
                                    <div class="col-sm-8">
                                        <span class="form-control-static" data-bind="text: $data.geometry.location.lng()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I"></script>
    <script type="text/javascript">
        var Model = (function () {
            function Model() {
                this.name = ko.observable($("#Name").val());
                this.latitude = ko.observable($("#Latitude").val());
                this.longitude = ko.observable($("#Longitude").val());
                this.results = ko.observableArray([]);
            }
            Model.prototype.resultClicked = function (data) {
                // this.name(data.address_components[0].long_name);
                this.latitude(data.geometry.location.lat());
                this.longitude(data.geometry.location.lng());
                return true;
            };
            Model.prototype.hideClicked = function () {
                this.results([]);
            };
            Model.prototype.geocodeClicked = function () {
                this.results([]);
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    address: this.name()
                }, function (results, status) {
                    console.log(results, status);
                    if (status == google.maps.GeocoderStatus.OK) {
                        this.results(results);
                    } else {

                    }
                }.bind(this));
                return false;
            };
            return Model;
        })();
        var model = new Model();
        ko.applyBindings(model, document.getElementById("main-template"));
    </script>
}