﻿@model List<Services.ArtefactMadeByAgent>
@{
    ViewBag.Title = "Artefact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Artefacts</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Artefact/AddArtwork" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> artwork</a>
</div>
<div>
    <a href="/Admin/Collection/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> art collection</a>
</div>
<div>
    <a href="/Admin/Exhibition/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> art exhibition</a>
</div>
<div>
    <a href="/Admin/Tour/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> tour</a>
</div>
<div>
    <a href="/Admin/Artefact/AddMusic" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> musical piece</a>
</div>
<ul>
    @{
        var last = "";
    }
    @foreach (var art in Model)
    {
        <li>
            @{
                var first = art.Artefact.Name!=null ?art.Artefact.Name.Substring(0, 1): "{BLANK}";
            if (first != last)
            {
                last = first;
                <h1>
                    @first
                </h1>
            }
            }
            <h4>
                <a href="/Admin/Artefact/ViewDetail?guid=@art.Artefact.Guid">@art.ToDisplay()</a>
            </h4>
        </li>
    }
</ul>