﻿@using Data.Entities
@model CodexMVC.Models.ViewAllArtefactsWithSharedAttributes
@{
    ViewBag.Title = "ViewAllArtefactsWithSharedAttributes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Query/Index">Queries</a></li>
    <li class="active">Artefacts with similar attributes</li>
</ol>

<h2>Artefacts that share attributes in common</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2">
                Artefact
            </label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.ArtefactGuid, Model.Artefacts, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ArtefactGuid)
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <label class="col-sm-2">
                Separation
            </label>
            <div class="col-sm-2">
                @Html.TextBoxFor(x => x.Separation, new { type = "number", min = 0, max = 4, @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Separation)
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default">Find</button>
    </div>
}

<nav class="navbar navbar-default" style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#Attributes">Attributes</a>
                </li>
                <li>
                    <a href="#Similar">Similar</a>
                </li>C
                <li>
                    <a href="#Taxonomies">Taxonomies</a>
                </li>
                <li>
                    <a href="#Formal-Qualities">Formal Qualities</a>
                </li>
                <li>
                    <a href="#Motifs">Motifs</a>
                </li>
                <li>
                    <a href="#Categories-Shown">Categories Shown</a>
                </li>
                <li>
                    <a href="#Agents-Shown">Agents Shown</a>
                </li>
                <li>
                    <a href="#Places-Shown">Places Shown</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<a name="Attributes"></a>
<h2>Attributes</h2>

@if (Model.Attributes != null && Model.Attributes.Any())
{
    <ul>
        @foreach (var attr in Model.Attributes)
        {
            if (attr is ArtefactAttributeCategoryHyperNode)
            {
                var item = attr as ArtefactAttributeCategoryHyperNode;
                <li>
                    <h4>
                        @item.Relationship.Type.ToLower().Replace("_", " ") <a href="/Admin/Category/ViewDetail?guid=@item.Category.Guid">
                            @item.Category.Name.ToLower()
                        </a>
                    </h4>
                </li>
            }
            if (attr is ArtefactAttributeAgentHyperNode)
            {
                var item = attr as ArtefactAttributeAgentHyperNode;
                <li>
                    <h4>
                        @item.Relationship.Type.ToLower().Replace("_", " ") <a href="/Admin/Agent/ViewDetail?guid=@item.Agent.Guid">
                            @item.Agent.FullName
                        </a>
                    </h4>
                </li>
            }
            if (attr is ArtefactAttributePlaceHyperNode)
            {
                var item = attr as ArtefactAttributePlaceHyperNode;
                <li>
                    <h4>
                        @item.Relationship.Type.ToLower().Replace("_", " ") <a href="/Admin/Agent/ViewDetail?guid=@item.Place.Guid">
                            @item.Place.Name
                        </a>
                    </h4>
                </li>
            }
        }
    </ul>
}
else
{
    @:(None)
}

@if (Model.ArtefactImage != null)
{
    <div>
        <img src="@Model.ArtefactImage.Image.VirtualPath().Replace("~","")?height=400" style="height: 400px;" />
    </div>
}

<a name="Similar"></a>
<h2>Similar</h2>

@if (Model.Similar != null && Model.Similar.Any())
{
    <table>
        <tr>
            <th>
                Image
            </th>
            <th>
                Artefact
            </th>
        </tr>
        @foreach (var item in Model.Similar)
        {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="@item.Image.VirtualPath().Replace("~", "")?width=300" style="width: 300px;" />
                    }
                </td>
                <td>
                    <h3>
                        <a href="/Artefact/ViewDetail/@item.Artefact.Guid">
                            @item.Artefact.ToDisplay()
                        </a>
                    </h3>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:(None)
}

<a name="Taxonomies"></a>
<h2>Taxonomies</h2>

@if (Model.AttributeGrouping != null && Model.AttributeGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.AttributeGrouping.OrderByDescending(x => x.First().Rank))
        {
            var item = group.First();
            <tr>
                <td>
                    <h4>
                        <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @foreach (var row in group.OrderBy(x => x.RelationTypes.FirstOrDefault()))
                    {
                        foreach (var category in row.Categories.Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer()).OrderBy(x => x.Name))
                        {
                            <h4>
                                @row.RelationTypes.First().ToLower().Replace("_", " ")                            <a target="_blank" href="/Admin/Category/ViewDetail?guid=@category.Guid">@category.Name</a> &nbsp;
                            </h4>
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Categories.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:(none)
}

<a name="Formal-Qualities"></a>
<h2>Formal Qualities</h2>

@if (Model.UsagesGrouping != null && Model.UsagesGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.UsagesGrouping.OrderByDescending(x => x.First().Rank))
        {
            var item = group.First();
            <tr>
                <td>
                    <h4>
                        <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @foreach (var row in group.OrderBy(x => x.RelationTypes.FirstOrDefault()))
                    {
                        foreach (var category in row.Categories.Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer()).OrderBy(x => x.Name))
                        {
                            <h4>
                                @row.RelationTypes.First().ToLower().Replace("_", " ") <a target="_blank" href="/Category/ViewDetail?guid=@category.Guid">@category.Name</a> &nbsp;
                            </h4>
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Categories.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>

        }
    </table>
}
else
{
    @:(none)
}

<a name="Motifs"></a>
<h2>Motifs</h2>

@if (Model.MotifsGrouping != null && Model.MotifsGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.MotifsGrouping.OrderByDescending(x => x.First().Rank))
        {
            var item = group.First();
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="@item.Image.VirtualPath().Replace("~","") style=" width:300px" />
                    }
                    <h4>
                        <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @foreach (var row in group.OrderBy(x => x.RelationTypes.FirstOrDefault()))
                    {
                        foreach (var category in row.Categories.Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer()).OrderBy(x => x.Name))
                        {
                            <h4>
                                @row.RelationTypes.First().ToLower().Replace("_", " ") <a target="_blank" href="/Category/ViewDetail?guid=@category.Guid">@category.Name</a> &nbsp;
                            </h4>
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Categories.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>

        }
    </table>
}
else
{
    @:(none)
}

<a name="Categories-Shown"></a>
<h2>Categories shown</h2>

@if (Model.RepresentsGrouping != null && Model.RepresentsGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.RepresentsGrouping)
        {
            var item = group.First();
            <tr>
                <td>
                    <h4>
                        <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @for (var rowIndex = 0; rowIndex < group.Count(); rowIndex++)
                    {
                        var row = group.ElementAtOrDefault(rowIndex);
                        if (row != null)
                        {
                            for (var entityIndex = 0; entityIndex < row.Entities.Count(); entityIndex++)
                            {
                                var entity = row.Categories.ElementAtOrDefault(entityIndex);
                                if (entity != null)
                                {
                                    <h4>
                                        @row.RelationTypes.First().ToLower().Replace("_", " ") <a href="/Admin/Category/ViewDetail?guid=@entity.Guid" target="_blank">@entity.Name</a>  &nbsp;
                                    </h4>
                                }
                            }
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Entities.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:(none)
}

<a name="Agents-Shown"></a>
<h2>Agents shown</h2>

@if (Model.RepresentsAgentsGrouping != null && Model.RepresentsAgentsGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.RepresentsAgentsGrouping)
        {
            var item = group.First();
            <tr>
                <td>
                    <h4>
                        <a href="/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @for (var rowIndex = 0; rowIndex < group.Count(); rowIndex++)
                    {
                        var row = group.ElementAt(rowIndex);
                        for (var entityIndex = 0; entityIndex < row.Entities.Count(); entityIndex++)
                        {
                            var entity = row.Entities.ElementAt(entityIndex);
                            <h4>
                                @row.RelationTypes.First().ToLower().Replace("_", " ") <a href="/Admin/@row.EntityTypes.ElementAt(entityIndex)/ViewDetail?guid=@entity.Guid" target="_blank">@entity.Name</a> &nbsp;
                            </h4>
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Entities.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:(none)
}

<a name="Places-Shown"></a>
<h2>Places shown</h2>

@if (Model.RepresentsPlacesGrouping != null && Model.RepresentsPlacesGrouping.Any())
{
    <table class="table table-striped table-responsive">
        <tr>
            <th>matches agent</th>
            <th style="width: 800px;">on</th>
            <th>with path cost</th>
        </tr>
        @foreach (var group in Model.RepresentsPlacesGrouping)
        {
            var item = group.First();
            <tr>
                <td>
                    <h4>
                        <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact2.Guid">
                            @item.Artefact2.Name
                        </a>
                    </h4>
                </td>
                <td>
                    @for (var rowIndex = 0; rowIndex < group.Count(); rowIndex++)
                    {
                        var row = group.ElementAt(rowIndex);
                        for (var entityIndex = 0; entityIndex < row.Entities.Count(); entityIndex++)
                        {
                            var entity = row.Entities.ElementAt(entityIndex);
                            <h4>
                                @row.RelationTypes.First().ToLower().Replace("_", " ")                            <a href="/Admin/@row.EntityTypes.ElementAt(entityIndex)/ViewDetail?guid=@entity.Guid" target="_blank">@entity.Name</a> &nbsp;
                            </h4>
                        }
                    }
                </td>
                <td>
                    <h4>
                        @item.Entities.Count() / @item.PathCost
                    </h4>
                </td>
            </tr>
        }
    </table>
}
else
{
    @:(none)
}
