﻿@model CodexMVC.Models.ViewAllAgentsWithSharedAttributes
@{
    ViewBag.Title = "AllAgentsSharingSameAttributes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/Admin/Query/Index">Queries</a></li>
    <li class="active">All agents with the same attributes</li>
</ol>

<h2>Agents that share attributes in common</h2>
@using (Html.BeginForm())
{
    <div class="row" style="margin-top: 20px;">
        <div class="form-group">
            <label for="AgentGuid" class="col-sm-2">
                Agent
            </label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.AgentGuid, Model.Agents, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AgentGuid)
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-default">Find</button>
    </div>
}
<div class="row" style="margin-top: 20px;">
    @if (Model.Results.Any())
    {
        <table class="table table-striped table-responsive">
            <tr>
                <th>agent 1</th>
                <th>and agent 2</th>
                <th>are both</th>
            </tr>
            @foreach (var row in Model.Results)
            {
                <tr>
                    <td>
                        <h4>
                            <a href="/Admin/Agent/ViewDetail?guid=@row.Agent1.Guid">
                                @row.Agent1.FullName2
                            </a>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <strong>
                                <a href="/Admin/Agent/ViewDetail?guid=@row.Agent2.Guid">
                                    @row.Agent2.FullName2
                                </a>
                            </strong>
                        </h4>
                    </td>
                    <td>
                        @foreach (var category in row.Categories)
                        {
                            <span style="padding: 5px; font-size: 1.2em; border-radius: 5px; border: solid 1px #ccc; margin-right: 10px;">
                                <a href="/Admin/Category/ViewDetail?guid=@category.Guid">@category.Name</a>
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
       <h4>No exact matches found.</h4>
}
</div>
