﻿@model CodexMVC.Models.ByGenreModel
@{
    ViewBag.Title = "By Agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>By Genre</h2>

@using (Html.BeginForm("", ""))
{
    <div class="row form-group">
        <div class="col-md-3">
            <label></label>
            @Html.DropDownListFor(x => x.GenreGuid, new SelectList(Model.Genres, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <label></label>
            @Html.DropDownListFor(x => x.ArtworkTypeGuid, new SelectList(Model.ArtworkTypes, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            in
            @Html.DropDownListFor(x => x.PlaceGuid, new SelectList(Model.Places, "Value", "Text"), new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-default btn-primary">Find</button>
        </div>
    </div>
}

@if (Model.Artefacts != null && Model.Artefacts.Any())
{
    <div class="row">
        <table class="table table-striped table-condensed table-responsive">
            <tr>
                <th></th>
                <th></th>
            </tr>
            @{
    var grouping = Model.Artefacts.Where(x => x.Location != null).GroupBy(x => x.Location.ToDisplay());
            }
            @foreach (var group in grouping)
            {
                <tr>
                    <td colspan="2">
                        <h3>@group.Key, @group.FirstOrDefault().Place.ToDisplay()</h3>
                    </td>
                </tr>
                foreach (var row in group.OrderBy(x => x.Artefact.Name))
                {
                    <tr>
                        <td>
                            @if (row.Image != null)
                            {
                                <img src="@row.Image.VirtualPath().Replace("~","")?height=400" style="height: 400px;" />
                            }
                        </td>
                        <td>
                            <h4>
                                <a href="/Admin/Artefact/ViewDetail/@row.Artefact.Guid">
                                    @row.Artefact.ToDisplay()
                                </a> by <a href="/Agent/ViewDetail/@row.Owner.Guid">@row.Owner.FullName2</a>
                                @if (row.Is != null && row.Is.Any())
                                {
                                    <small>
                                        @string.Join("; ", row.Is.Select(x => x.Name))
                                    </small>
                                }
                            </h4>
                            @if (row.CategoriesRepresented != null && row.CategoriesRepresented.Any())
                            {
                                <p>
                                    Matching genres
                                </p>
                                <ul style="list-style-type: none;">
                                    @foreach (var item in row.CategoriesRepresented)
                                    {
                                        <li>
                                            <a href="/Admin/Category/ViewDetail/@item.Guid">
                                                @item.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}
else
{
    <h4>No results</h4>
}