﻿@{
    ViewBag.Title = "View Place";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Queries</h2>

<h4>
    <a href="/Admin/Query/AllAgentsSharingSameAttributes">Agents sharing the same attributes</a>
</h4>

<h4>
    <a href="/Admin/Query/AllArtefactsSharingSameAttributes">Artefacts sharing the same attributes</a>
</h4>

<h4>
    <a href="/Admin/Query/ByAgent">by agent ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByMovement">by movement ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByGenre">by genre ...</a>
</h4>

<h4>
    <a href="/Admin/Query/BySubject">by subject ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByMotif">by motif ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByAgentRepresented">by agent represented ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByAgentTypeRepresented">by agent type represented ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByCategoryRepresented">by object represented ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByAestheticConvention">by aesthetic conventions ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByExterior">by exterior ...</a>
</h4>

<h4>
    <a href="/Admin/Query/ByAge">by age ...</a>
</h4>

<h4>
    <a href="/Admin/Query/UniversalSearch">universal search ...</a>
</h4>

@*<div id="natural-language">
    <table>
        <tr>
            <th></th>
            <th>person</th>
            <th style="display:none;vertical-align: top;" data-bind="visible: $data.lists.personCategories().length"></th>
            <th>verb</th>
            <th>place</th>
        </tr>
        <tr>
            <td style="vertical-align: top;">I would like to see
            </td>
            <td style="vertical-align: top;">
                <select data-bind="options: $data.lists.people, value: $data.model.person, optionsValue: 'value', optionsText: 'text'">
                </select>
            </td>
            <td style="display:none;vertical-align: top;" data-bind="visible: $data.lists.personCategories().length">
                or any 
                    <select data-bind="options: $data.lists.personCategories, value: $data.model.personCategory, optionsValue: 'value', optionsText: 'text'"></select>
            </td>
            <td style="vertical-align: top;">
                who 
                <select data-bind="options: $data.lists.verbs, value: $data.model.verb, optionsValue: 'value', optionsText: 'text'">
                </select>
            </td>
            <td style="vertical-align: top;">
                <select data-bind="value: $data.model.placeScope">
                    <option value="at">at</option>
                    <option value="within">within</option>
                </select>
                <select data-bind="options: $data.lists.places, value: $data.model.place, optionsValue: 'value', optionsText: 'text'">
                </select>
            </td>
            <td style="vertical-align: top;">
                <button type="button" data-bind="click: $data.goClicked">Go</button>
            </td>
        </tr>
    </table>
</div>*@

@section scripts {
    <script type="text/javascript">
        (function () {
            var API = app.API,
                utils = app.Utils,
                select = utils.select;
            var Model = (function () {
                function Model() {
                    this.lists = {};
                    this.lists.people = ko.observableArray([]);
                    this.lists.personCategories = ko.observableArray([]);
                    this.lists.places = ko.observableArray([]);
                    this.lists.verbs = ko.observableArray([]);
                    this.lists.subjects = ko.observableArray([]);
                    this.model = {};
                    this.model.placeScope = ko.observable();
                    this.model.place = ko.observable();
                    this.model.verb = ko.observable();
                    this.model.person = ko.observable();
                    this.model.personCategory = ko.observable();
                    this.setupResources();
                    this.setupEventHandlers();
                }
                Model.prototype.goClicked = function () {
                    var model = this.unbind();
                    utils.log(model);
                };
                Model.prototype.unbind = function () {
                    return {
                        person: this.model.person(),
                        placeScope: this.model.placeScope(),
                        verb: this.model.verb(),
                        place: this.model.place(),
                        personCategory: this.model.personCategory()
                    };
                };
                Model.prototype.setupEventHandlers = function () {
                    this.model.person.subscribe(function () {
                        var model = this.unbind();
                        API.findAllAttributes({
                            data: {
                                agentGuid: model.person
                            },
                            success: function (response) {
                                this.lists.personCategories(select(response.Data, function (item) {
                                    return {
                                        text: item.Entity.Name, value: item.Entity.Guid
                                    };
                                }));
                            },
                            error: function () {
                                alert("Error: API.findAllAttributes");
                            }
                        }, this);
                    }, this);
                };
                Model.prototype.setupResources = function () {
                    API.allPeople({
                        success: function (response) {
                            this.lists.people(select(response.Data, function (item) {
                                return {
                                    text: item.Name, value: item.Guid
                                };
                            }));
                        },
                        error: function () {
                            alert("Error");
                        }
                    }, this);
                    API.allPlaces({
                        success: function (response) {
                            this.lists.places(select(response.Data, function (item) {
                                return {
                                    text: item.Name, value: item.Guid
                                };
                            }));
                        },
                        error: function () {
                            alert("Error");
                        }
                    }, this);
                    this.lists.verbs([
                        { text: "did something", value: "Everything" },
                        { text: "created", value: "Created" },
                        { text: "lived", value: "LivedAt" }
                    ]);
                };
                
                return Model;
            })();
            // var model = new Model();
            // ko.applyBindings(model, document.getElementById("natural-language"));

        })();
    </script>
}