﻿@model CodexMVC.Models.SearchQuery
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Search</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="form-row">
            <label>
                Query
            </label>
            @Html.DropDownListFor(x => x.Query, Model.QueriesList)
        </div>
        <div class="form-row">
            <button type="submit">Search</button>
        </div>
    </div>
}

