﻿@model CodexMVC.Models.AddIsA
@{
    ViewBag.Title = Model.Name + " is a ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.Name is a ...</h2>
@using (Html.BeginForm("AddIsA", "Place"))
{
    @Html.HiddenFor(x => x.PlaceGuid)
    <div class="form-group">
        <div class="form-row">
            <label>Category</label>
            @Html.DropDownListFor(x => x.CategoryGuid, new SelectList(Model.Categories, "Value", "Text"))
            @Html.ValidationMessageFor(x => x.CategoryGuid)
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
}
