﻿@using Data.Entities
@model CodexMVC.Models.ViewPlace

@{
    ViewBag.Title = "View Place";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@helper AttributeCell(IEnumerable<PlaceAttributeHyperNode> attributes, string editActionName, bool incoming = false)
{
    if (attributes.Any())
    {
        foreach (var attr in attributes)
        {
            var placeGuid = incoming == false ? attr.Place.Guid : attr.Entity.Guid;
            <div class="col-md-3">
                <p class="text-right">
                    <span style="margin-right: 5px;">
                        <a href="/Admin/@attr.Entity.Label/ViewDetail?guid=@attr.Entity.Guid">@NameOf(attr.Entity)</a>
                    </span>
                    <a class="btn btn-default btn-sm" href="/Admin/Place/@editActionName?placeGuid=@placeGuid&hasRelationGuid=@attr.HasRelationGuid">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="/Admin/Place/DeleteBasicRelationship?relationshipType=@attr.Relationship&relationshipGuid=@attr.RelationshipGuid&placeGuid=@placeGuid" class="btn btn-default btn-sm" onclick="return confirm('Are you sure you wish to delete this relationship?');">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </p>
            </div>
        }
    }
}
@helper AttributeRow(IEnumerable<PlaceAttributeHyperNode> outgoing, IEnumerable<PlaceAttributeHyperNode> incoming, string relationshipName, string relationshipType, string addActionName, string editActionName)
{
    <tr>
        <td>
            <p class="text-right"><strong>@relationshipName</strong></p>
        </td>
        <td>
            <a href="/Admin/Place/@addActionName?placeGuid=@Model.Place.Guid" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </td>
        <td>
            <div style="margin-left: 20px;margin-right: 20px;">
                @{
                    var hasOutgoing = outgoing.Where(x => x.Relationship == relationshipType).Any();
                }
                @if (hasOutgoing)
                {
                    <div class="row">
                        @AttributeCell(outgoing.Where(x => x.Relationship == relationshipType), editActionName)
                    </div>
                }
                @if (incoming.Where(x => x.Relationship == relationshipType).Any())
                {
                    var rowStyle = hasOutgoing ? "border-top: dashed 2px #808080" : "";
                    <div class="row" style="@rowStyle">
                        <p><span class="glyphicon glyphicon-arrow-left"></span></p>
                        @AttributeCell(incoming.Where(x => x.Relationship == relationshipType), editActionName, true)
                    </div>
                }
            </div>
        </td>
    </tr>
}
@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
}
<style type="text/css">
    html, body, #map-canvas {
        height: 900px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/Admin/Place/List">List</a></li>
    <li class="active">@Model.Place.Name</li>
</ol>

<div class="page-header" id="slab-heading">
    <span class='slabtext' style="color: red;">
        @Model.Place.Name
    </span>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#Details">Details</a>
                </li>
                <li>
                    <a href="#Timeline">Timeline</a>
                </li>
                <li>
                    <a href="#Attributes">Attributes</a>
                </li>
                <li>
                    <a href="#map-canvas">Map</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" id="Details">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Guid</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@Model.Place.Guid</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.Name ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Honorific</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.Article ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Aliases</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @if (Model.Place.Aliases != null)
                                {
                                    @:@string.Join(", ", Model.Place.Aliases)
                                            }
                                else
                                {
                                    @:(none)
                                            }
                                <a href="/Admin/Place/AddAlias?placeGuid=@Model.Place.Guid" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Subtitle</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.Subtitle ?? "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Latitude</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.Latitude.HasValue ? Model.Place.Latitude.Value.ToString() : "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Longitude</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.Longitude.HasValue ? Model.Place.Longitude.Value.ToString() : "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Time Zone Offset (UTC)</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@(Model.Place.TimeZoneOffset.HasValue ? Model.Place.TimeZoneOffset.Value.ToString() : "(none)")</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @{
                                    var markdown2 = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown2.Transform((Model.Place.Description ?? "(none)")))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pull-right">
                        <a href="/Admin/Place/Edit?placeGuid=@Model.Place.Guid" class="btn btn-default">Edit</a>
                        @if (User.IsInRole(Services.Common.Permissions.DeletePlace))
                        {
                            <a href="/Admin/Place/Delete?placeGuid=@Model.Place.Guid" onclick="return confirm('Are you sure you want to delete this place?');" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Timeline">
    <h2><a href="/Admin/Act/AddAct" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a> Timeline <small>All acts that involve the place</small></h2>
    @if (Model.Timeline != null && Model.Timeline.Any())
    {
        <div class="row">
            <ul style="list-style: none">
                @{
        int last = 0;
        int lastMonth = 0;
        var lastDay = 0;
                }
                @foreach (var newAct in Model.Timeline.OrderBy(x => x.Act.Year).ThenBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                {
                    if (newAct.Act.Year.HasValue && newAct.Act.Year.Value != last)
                    {
                        last = newAct.Act.Year.Value;
                        lastMonth = 0;
                        lastDay = 0;
                        var year = newAct.Act.Decade ? newAct.Act.Year.Value.ToString() + "s" : newAct.Act.Year.Value.ToString();
                        <h2>
                            @year
                        </h2>
                    }
                    if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                    {
                        lastMonth = newAct.Act.Month.Value;
                        lastDay = 0;

                    }
                    if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                    {
                        lastDay = newAct.Act.Day.Value;
                    }
                    if (newAct.Act.Month.HasValue)
                    {
                        <h4>
                            @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                        </h4>
                    }
                    <li id="act-@newAct.Act.Guid">
                        @{
                    var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                        }
                        <div style="position: relative;">
                            <div>
                                <span style="@importance">
                                    @Html.Raw(newAct.ToHtml())
                                </span> <a href="/Admin/Act/EditAct?actGuid=@newAct.Act.Guid" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="/Admin/Act/Delete?actGuid=@newAct.Act.Guid&entityType=Place&entityGuid=@Model.Place.Guid" onclick="return confirm('Are you sure you want to delete this act?');" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div style="position: absolute; left: -25px; top: 4px;">
                                @{
                    var starClass = newAct.Bookmarked ? "glyphicon-star" : "glyphicon-star-empty";
                    var starStyle = newAct.Bookmarked ? "color: red; " : "";
                    var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                }
                                <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                @*<a href="#" onclick="addItinerary(this); return false;" data-selected="@newAct.InItinerary.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@clockStyle font-size: 1.5em;" class="glyphicon glyphicon-time"></span></a>*@
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<div id="Attributes">
    <div class="row">
        <h2>Attributes</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <tr>
                    <th style="width: 100px;"></th>
                    <th style="width: 50px;"></th>
                    <th></th>
                </tr>
                @AttributeRow(Model.Attributes, Model.ReverseAttributes, "is a", Label.Relationship.IsA, "AddIsA", "EditIsA")
                @AttributeRow(Model.Attributes, Model.ReverseAttributes, "is inside", Label.Relationship.InsideOf, "AddInsideOf", "EditInsideOf")
            </table>
        </div>
    </div>
</div>

<h3>Map</h3>
<div id="map-canvas"></div>
@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#slab-heading").slabText();
        });
        function initialize() {
            var florence = new google.maps.LatLng(43.7710332, 11.2480006000001);
            var mapOptions = {
                center: florence,
                zoom: 7
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            var markerList = [];
            @{
                foreach (var act in Model.Timeline.OrderBy(x => x.Act.Year))
                {
                    foreach (var place in act.EntityImages.Select(x=> x.Entity).OfType<Place>().Distinct())
                    {
                        var lat = (place.Latitude ?? 0);
                        var lng = (place.Longitude ?? 0);
                        var content = "<h4>" + act.Act.ToShortYear() + "</h4>" +  act.ToHtml();
                        <text>
            buildMarkerList(markerList, @lat, @lng, "title", "@Html.Raw(content.Replace("\"", "'"))");
            </text>
                    }
                }
            }
            if (markerList.length){
                addMarkers(markerList, map);
            }
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function buildMarkerList(list, lat, lng, title, content){
            var item = find(list, function(item){
                return item.lat == lat && item.lng == lng;
            });
            if (item){
                item.infoWindows.push({title: title, content: content});
            }else{
                var temp = {
                    lat: lat, lng: lng, infoWindows: [ {title:title, content: content } ]
                };
                list.push(temp);
            }
        }
        function addMarkers(list, map){
            var markerList = select(list, function(item, __, index){
                var content = select(item.infoWindows, function(iw){
                    return "<div><p>" + iw.content + "</p></div>";
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 400px;'><div id='bodyContent'>{content}</div></div>".fmt({
                        content: content.join("")
                    }))[0]
                });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.lat, item.lng),
                    title: "#" + index
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });
                return {
                    marker: marker,
                    infoWindow: infowindow
                }
            });
            var markers = select(markerList, function(item) { return item.marker });
            var markerCluster = new MarkerClusterer(map, markers);
            var flightPath = new google.maps.Polyline({
                path: select(markers, function(marker) {
                    var lat = marker.getPosition().lat();
                    var lng = marker.getPosition().lng();
                    return new google.maps.LatLng(lat, lng);
                }),
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });
            flightPath.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
