﻿<div>
    <div style="float: left;">
        <input type="text" data-bind="value: $data.model.name" />
        <button type="button" data-bind="click: $data.findClicked">Find</button>
        <button type="button" data-bind="click: $data.addClicked">Add</button>
    </div>
    <div style="float: right;" data-bind="text: $data.text.details"></div>
</div>
<div>
    <div data-bind="foreach: $data.resource.events">
        <div data-bind="text: $data.Name, click: $parent.eventSelected.bind($parent)"></div>
    </div>
</div>
