﻿<div>
    <div style="float: left;">
        <input type="text" data-bind="value: $data.model.name" />
        <button type="button" data-bind="click: $data.find">Find</button>
    </div>
    <div style="float: right;" data-bind="text: $data.text.details"></div>
</div>
<div>
    <div data-bind="foreach: $data.resource.people">
        <div data-bind="text: $data, click: $parent.personSelected.bind($parent)"></div>
    </div>
</div>
