﻿@model List<Services.Role>
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roles</h2>
<div>
    <a href="/Admin/Role/Add">Add Role</a>
</div>
<ul>
    @foreach (var role in Model.OrderBy(x => x.Name))
    {
        <li><a href="/Admin/Role/ViewDetail?roleGuid=@role.Guid">@role.Name</a></li>
    }
</ul>