﻿@model CodexMVC.Models.AddAestheticConventionModel
@{
    ViewBag.Title = "Add Aesthetic Convention";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .validation-field-error {
        color: red;
    }
</style>

<h2>Add Aesthetic Convention</h2>

@using (Html.BeginForm("", ""))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label>
                    Parent
                </label>
                @Html.DropDownListFor(x => x.ParentGuid, new SelectList(Model.AestheticConventions, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>
                    Name
                </label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>
                    Description
                </label>
                @Html.TextAreaFor(x => x.Description, new { rows = 20, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default btn-primary">Save</button>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $("select").select2();
    </script>
}