﻿@model List<Data.Entities.CategoryResult>
@{
    ViewBag.Title = "Vocabulary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="page-header">
    <h1>Vocabulary</h1>
</div>
<div>
    <h4 style="color: grey;">
        @ViewBag.GeneralMessage
    </h4>
</div>
<div>
    <a href="/Admin/Category/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<ul>
    @{
        var last = "";
        var len = 1;
    }
    @foreach (var cat in Model)
    {
        <li>
            @{
            var first = cat.Child.Name.Substring(0, len);
            if (first != last)
            {
                last = first;
                <h1>
                    @first
                </h1>
            }
            }
            <h4>
                <a href="/Admin/Category/ViewDetail?guid=@cat.Child.Guid">@cat.ToDisplay()</a>
            </h4>
        </li>
    }
</ul>

