﻿@model CodexMVC.Models.ViewExhibitionModel
@using Data.Entities
@using Services
@{
    var title = Model.Exhibition.Exhibition.ToDisplay();
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var authenticated = Request.IsAuthenticated;
    var markdown2 = new MarkdownDeep.Markdown();
    var place = Model.Exhibition.Location;
    var placeWithTimeZone = place.TimeZoneOffset ?? 0;
    var byArtist = Model.Exhibition.Artworks
        .Where(x => x.Artist != null)
        .OrderBy(x => x.Artist.FullName)
        .GroupBy(x => x.Artist.Guid);
}
@functions {
    public int? ToNullableInt(string value)
    {
        int result;
        return int.TryParse(value, out result) ? (int?)result : (int?)null;
    }

    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(Data.Entities.IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Data.Entities.Artefact)
        {
            return ((Data.Entities.Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string GetHour(string time)
    {
        var pairs = time.Split(':');
        if (pairs.Length == 0)
        {
            return time;
        }
        return pairs[0];
    }
    public string GetMinute(string time)
    {
        var pairs = time.Split(':');
        if (pairs.Length == 0)
        {
            return time;
        }
        if (pairs.Length == 1)
        {
            return "00";
        }
        return pairs[1];
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

@section styles {
    <style>
        .section-heading {
            background-color: #333;
            color: #ccc;
            padding: 20px;
            width: 800px;
        }

        .container-heading {
            background-color: #ccc;
            padding: 10px;
        }

        #map-detail {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }

        li.active a {
            text-shadow: 2px 2px #333;
        }

        colgroup .column-active {
            background-color: #dff0d8;
        }

        tr.bold-heading {
            font-weight: 600;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    @title
                </h1>
            </div>
            @if (authenticated)
            {
                <div class="col-md-1">
                    @{
                var starClassAgent = "glyphicon-bookmark";
                var starStyleAgent = Model.Exhibition.Bookmarked ? "color: red; " : "";
                    }
                    <p class="text-right">
                        <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@Model.Exhibition.Bookmarked.ToString().ToLower()" data-guid="@Model.Exhibition.Exhibition.Guid" data-type="Artefact"><span style="@starStyleAgent font-size: 3.5em;" class="glyphicon @starClassAgent"></span></a>
                    </p>
                </div>
                <div class="col-md-1">
                    @{
                var seenClassAgent = "glyphicon-eye-open";
                var seenStyleAgent = Model.Exhibition.Seen ? "color: red; " : "";
                    }
                    <a href="#" onclick="addSeenIt(this); return false;" data-seen="@Model.Exhibition.Seen.ToString().ToLower()" data-guid="@Model.Exhibition.Exhibition.Guid" data-type="Artefact"><span style="@starStyleAgent font-size: 3.5em;" class="glyphicon @seenClassAgent"></span></a>
                </div>
            }
        </div>
        <h2>
            Exhibition at <a href="/Artefact/ViewDetail/@Model.Exhibition.Collection.Guid">@Model.Exhibition.Collection.ToDisplay()</a>
            <small>
                <a href="/Place/ViewDetail/@Model.Exhibition.Location.Guid">
                    @Model.Exhibition.Location.Name
                </a>, @string.Join(", ", Model.Exhibition.Inside.Select(x => x.Name))
            </small>
        </h2>
    </div>
</div>

@if (Model.Exhibition.CollectionDetail != null)
{
    <div class="row">
        <div class="col-md-12">
            @{
    if (placeWithTimeZone != null)
    {
        var timezoneOffset = placeWithTimeZone;
        var now = DateTime.Now.ToUniversalTime();
        var day = (int)now.DayOfWeek;
        var collectionDetail = Model.Exhibition.CollectionDetail;

        var start = collectionDetail.OpenDayStart.ElementAt(day);
        var end = collectionDetail.OpenDayStart.ElementAt(day);

        string message = null;
        string followup = null;
        bool closed = false;

        if (false == string.IsNullOrEmpty(start) && false == string.IsNullOrEmpty(end))
        {

            var startHour = int.Parse(GetHour(start));
            var startMinute = int.Parse(GetMinute(start));
            var endHour = int.Parse(GetHour(end));
            var endMinute = int.Parse(GetMinute(end));

            var openingOffset = new DateTimeOffset(now.Year, now.Month, now.Day, startHour, startMinute, 0, new TimeSpan(timezoneOffset, 0, 0)).ToUniversalTime();
            var closingOffset = new DateTimeOffset(now.Year, now.Month, now.Day, endHour, endMinute, 0, new TimeSpan(timezoneOffset, 0, 0)).ToUniversalTime();
            closed = now < openingOffset || now > closingOffset;
            var pm = endHour >= 12;
            var amPM = pm ? "pm" : "am";
            var hour12 = endHour > 12 ? (endHour - 12).ToString("00") + ":" + endMinute.ToString("00") : endHour.ToString("00") + ":" + endMinute.ToString("00");
            message = closed ? "now closed" : "open until " + endHour.ToString("00") + ":" + endMinute.ToString("00") + " (" + hour12 + amPM + ")";
            if (closed)
            {
                int openingHour = 0;
                int openingMinute = 0;
                int i = (int)now.DayOfWeek;
                for (; i < collectionDetail.OpenDayStart.Length; i++)
                {
                    var item = collectionDetail.OpenDayStart.ElementAt(i);
                    if (item != null)
                    {
                        openingHour = int.Parse(GetHour(item));
                        openingMinute = int.Parse(GetMinute(item));
                        break;
                    }
                }
                var openingDay = ((DayOfWeek)i).ToString();
                followup = string.Format("opens again on {0} at {1}:{2}", openingDay, openingHour.ToString("00"), openingMinute.ToString("00"));
            }
        }
        else
        {
            closed = true;
            message = "closed today";
        }
        var messageStyle = closed ? "color:red;" : "color:green;";
        <h4>
            <span id="artwork-available" style="@messageStyle">@message</span>
            @if (followup != null)
            {
                <span>@followup</span>
            }
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm">more info</a>
        </h4>
    }
            }
            @if (Model.Exhibition.CollectionDetail != null)
            {
                var collectionDetail = Model.Exhibition.CollectionDetail;
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">@Model.Exhibition.Collection.ToDisplay()</h4>
                            </div>
                            <div class="modal-body" style="margin-top: 20px;">
                                @if (collectionDetail.Address != null)
                                {
                                    <p>
                                        <label>Address</label>
                                        @Html.Raw(markdown2.Transform(collectionDetail.Address))
                                    </p>
                                }
                                @{
                                var openingModal = collectionDetail.OpenDayStart;
                                var closingModal = collectionDetail.OpenDayEnd;
                                var now2 = DateTime.Now.ToUniversalTime();
                                var day2 = (int)now2.DayOfWeek;
                                day2 = day2 == 0 ? 6 : day2 - 1;
                                }
                                <table class="table table-condensed table-responsive">
                                    <colgroup>
                                        <col @(day2 == 0 ? "class=column-active" : "")>
                                        <col @(day2 == 1 ? "class=column-active" : "")>
                                        <col @(day2 == 2 ? "class=column-active" : "")>
                                        <col @(day2 == 3 ? "class=column-active" : "")>
                                        <col @(day2 == 4 ? "class=column-active" : "")>
                                        <col @(day2 == 5 ? "class=column-active" : "")>
                                        <col @(day2 == 6 ? "class=column-active" : "")>
                                    </colgroup>
                                    <thead>
                                        <tr class="bold-heading">
                                            <th>
                                                Mon
                                            </th>
                                            <th>
                                                Tue
                                            </th>
                                            <th>
                                                Wed
                                            </th>
                                            <th>
                                                Thu
                                            </th>
                                            <th>
                                                Fri
                                            </th>
                                            <th>
                                                Sat
                                            </th>
                                            <th>
                                                Sun
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @for (var i = 0; i <= 6; i++)
                                            {
                                                <td>
                                                    @{
                                                var time = openingModal[i];
                                                var text = string.IsNullOrEmpty(time) ? "closed" : time;
                                                    }
                                                    <span>
                                                        @text
                                                    </span>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            @for (var i = 0; i <= 6; i++)
                                            {
                                                <td>
                                                    @{
                                                var time = closingModal[i];
                                                var text = string.IsNullOrEmpty(time) ? "closed" : time;
                                                    }
                                                    <span>
                                                        @text
                                                    </span>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>

                                @if (collectionDetail.Phone != null)
                                {
                                    <p>
                                        <label>Phone</label>
                                        <a href="tel:@collectionDetail.Phone.Replace(" ", "").Replace("(", "").Replace(")", "")">@collectionDetail.Phone</a>

                                    </p>
                                }
                                @if (collectionDetail.Email != null)
                                {
                                    <p>
                                        <label>Email</label>
                                        @collectionDetail.Email
                                    </p>
                                }
                                @if (collectionDetail.Website != null)
                                {
                                    <p>
                                        <label>Website</label>
                                        <a href="@collectionDetail.Website" target="_blank">@collectionDetail.Website</a>
                                    </p>
                                }
                                @if (collectionDetail.PurchaseTicketUrl != null)
                                {
                                    <p>
                                        <label>Tickets</label>
                                        <a href="@collectionDetail.PurchaseTicketUrl" target="_blank">Book Ticket</a>
                                    </p>
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div>
            <div id="map-detail">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Art" aria-controls="Art" role="tab" data-toggle="tab">Art</a>
                </li>
                <li role="presentation">
                    <a href="#connexions" aria-controls="connexions" role="tab" data-toggle="tab">
                        Connections
                        <span class="badge">beta</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Art">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" style="background-color: #f50057;" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#BySection" aria-controls="BySection" role="tab" data-toggle="tab">By Section</a>
                            </li>
                            @if (byArtist.Any())
                            {
                                <li role="presentation">
                                    <a href="#ByArtist" aria-controls="ByArtist" role="tab" data-toggle="tab">By Artist</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="ByArtist">
                                @foreach (var item in byArtist)
                                {
                                    var artist = item.First().Artist;
                                    <h4 class="container-heading">
                                        @artist.FullName2 <a href="/Agent/ViewDetail/@artist.Guid" class="btn btn-default btn-sm">see all</a>
                                    </h4>
                                    <div class="justified-small">
                                        @foreach (var subitem in item.First().ArtefactWithImages)
                                        {
                                            <div>
                                                <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                    <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="connexions">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Commentary">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="shadow-z-1" style="padding: 20px; padding-left: 40px; margin: 20px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtULLEkACV1qYgWl-YAFwjRoKRpHOyW9I">
    </script>
    <script>
        $('a[data-toggle="tab"]').on('shown', function (e) {
            $(".justified").justifiedGallery({
                rowHeight : 300,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 0.7,
                    nonVisibleOpacity: 0.7
                }
            });
        });
        $(".justified").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-medium").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-small").justifiedGallery({
            rowHeight : 200,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
        $(".justified-tiny").justifiedGallery({
            rowHeight : 100,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
    </script>
    <script>
        @{
            var collection = Model.Exhibition.Collection;
            //var place = Model.Exhibition.Location;
            var lat = collection.Latitude.HasValue ? collection.Latitude.Value : place.Latitude.Value;
            var lng = collection.Longitude.HasValue ? collection.Longitude.Value : place.Longitude.Value;
            //var title = collection.ToDisplay();
        }
        function initializeDetailMap(){
            var centre = new google.maps.LatLng(@lat, @lng);
            var mapOptions = {
                center: centre,
                zoom: 15
            };
            var map = new google.maps.Map(document.getElementById('map-detail'),
                mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: centre,
                title: "@title"
            });
        }
        if (typeof window.google != "undefined"){
            google.maps.event.addDomListener(window, 'load', initializeDetailMap);
        }
    </script>
}
