﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="#">ARC</a></li>
    <li><a href="#">Gallery</a></li>
    <li class="active">William Bouguereau</li>
</ol>
<div class="page-header">
    <h1>William Bouguereau <small>French Academic painter, muralist and instructor</small></h1>
    <h4>
        born <a href="#">La Rochelle</a>, 1825 - died <a href="#">La Rochelle</a>, 1905
    </h4>
    <div class="row">
        <div class="col-md-2">
            <strong>Also known as</strong>
        </div>
        <div class="col-md-9">
            William Adolphe Bouguereau
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>Student of</strong>
        </div>
        <div class="col-md-9">
            Francois-Edouard Picot (1786-1868)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>Teacher of</strong>
        </div>
        <div class="col-md-9">
            <a href="#">Louis-Eugene Baille</a>, <a href="#">Cecilia Beaux</a> (1855-1942), <a href="#">Elizabeth Jane Gardner Bouguereau</a> (1837-1922), <a href="#">Edouard Cabane</a> (1857-), Maurice Chabas (1862-1947), Paul Emile Chabas (1869-1937), Sir George Clausen (1852-1944), Lovis Corinth (1858-1925), Eanger Irving Couse (1866-1936), Karoly Ferenczy  (1862-1917), Charles Wellington Furlong (1874-1967), Eugenie Hauptmann (Eugénie Hauptmann) (1865-), Charles Bradford Hudson (1865-1939), Anna Klumpke (1856-1942), Marie Auguste Emile Rene Menard  (1862-1930), Grace H. Murray (1872-1944), Lawton Silas Parker (1868-1954), Léon Bazile Perrault (1832-1908), James Pryde (1869-1941), Leo Putz (1869-1940), Edward Willis Redfield (1869-1965), Jules-Cyrille Cave (1859-1940), Pierre-Auguste Cot (1837-1883), Gustave Jean Jacquet (1846-1909), Charles Amable Lenoir (1860-1926), Albert Lynch (1851-1912), Emile Munier (1840-1895), Etienne Adolphe Piot (1850-1910), Guillaume Seignac (1870-1924), Charles Victor Thirion (1833-1878), Thomas Benjamin Kennington (1856-1916)
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Images of William Bouguereau</div>
    <div class="panel-body">
        <div class="justified">
            <a href="#">
                <img alt="Self portrait as a young man" src="http://www.artrenewal.org/artwork/007/7/33031/biopic46-large.jpg" width="200">
            </a>
            
            
            <a href="#">
                <img alt="Studio photo" src="http://www.artrenewal.org/artwork/007/7/36496/Bouguereau-large.jpg" width="200">
            </a>
            <a href="#">
                <img alt="Self portrait" src="http://www.artrenewal.org/artwork/007/7/33033/Portrait_de_lartiste-large.jpg" width="200">
            </a>
            <a href="#">
                <img alt="Studio photo" src="http://www.artrenewal.org/artwork/007/7/33030/biopic-small.jpg" width="200">
            </a>
            <a href="#">
                <img alt="Self portrait (1886)" src="http://www.artrenewal.org/artwork/007/7/33034/Bouguereau_William_Autoportrait_presente_a_M._Sage_1886-large.jpg" width="200">
            </a>
            <a href="#">
                <img alt="Photo of Bouguereau at work" src="http://www.artrenewal.org/artwork/007/7/33032/biopic82-large.jpg" width="200">
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Documents</div>
    <div class="panel-body">
        <div class="justified">
            <a href="#">
                <img alt="Letter to Pretet" src="http://www.artrenewal.org/artwork/007/7/35588/letter-large.jpg" width="200">
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Store</div>
    <div class="panel-body">
        <div class="justified">
            <a href="#">
                <img alt="Catalogue Raisonne" src="http://www.artrenewal.org/commerce/Bouguereau_Books-small.gif" width="200">
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#"><img class="img-thumbnail" src="http://www.artrenewal.org/artwork/007/7/22/au_bord_du_ruisseau-large.jpg" width="300"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-default btn-primary">hi-res</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Au Bord du Ruisseau <small>/ At the Edge of the Brook</small></h3>
                <p>
                    <strong>1875</strong>
                </p>
                <p>
                    Oil on canvas
                </p>
                <p>
                    Collection of Fred and Sherry Ross
                </p>

                <div>
                    <blockquote>

                        <p>
                            This painting is one of the most sensitive single figures ever painted. Hauntingly enigmatic, but kind and beautiful, this young peasant girl's childhood innocence blends seamlessly with the emerging woman who rivets your eyes to hers. She stares directly at you with a serene kindness imbued with goodness and trust. Inherent is the moral imperative not to betray that trust. This is a prime example of Bouguereau's unique ability to capture ever subtle nuances of personality and mood.
                        </p>
                        <p>
                            Symbolically she sits by "The Edge of the River". She sits at perhaps the greatest crossroads in life. Her hands and legs are crossed to accentuate that symbolism as are the trunks of the trees behind and to the viewer's right. She wears a humanistic halo of vibrant red flowers alluding to the spirituality inherent in youth.
                        </p>
                        <p>
                            This masterpiece was the poster painting for the 1984 William Bouguereau retrospective that traveled from Paris' Petite Palais, to the Montreal Museum of Fine Art, and finally to Hartford's Wadsworth Atheneum.
                        </p>
                        <p>
                            ARC's Chairman, Fred Ross was one of 4 people on a symposium held there, along with Dr. Barbara Weinberg, Gergory Hedberg, and a reported for the local paper.
                        </p>
                        <h4 class="mark">
                            Fred and Kara Ross
                        </h4>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img class="img-thumbnail" src="http://www.artrenewal.org/artwork/007/7/23/le_ravissement_de_psyche-large.jpg" width="300"></a>
            </div>
            <div class="col-md-8">
                <h3>Le Ravissement de Psyche <small>/ The Abduction of Psyche</small></h3>
                <p>
                    <strong>1895</strong>
                </p>
                <p>
                    Oil on canvas
                </p>
                <p>209 x 120 cm (82 x 47 in)</p>
                <p>
                    Private collection
                </p>    
                <blockquote>
                    <p>
                        This is one of Bouguereau's more romantic pieces. With Psyche finally in the arms of her love, Cupid, the two ascend to heaven. The subtle use of color is truly astonishing. The light and dark purples of the cloth surrounding Cupid and Psyche play beautifully against the purple grey clouds and mountains. The myth of Cupid and Psyche dates all the way back to Apuleius in the 2nd century AD. In the myth, Psyche is a beautiful princess of whom the goddess Venus is jealous. In her rage she orders her son cupid to make Psyche fall in love with a monster, but Cupid falls in love with her himself. After several trials Cupid and Psyche make their plea to the gods who turn Psyche into an immortal and allow them to be married in heaven (British Library). The story of Cupid and Psyche was a subject matter for several of Bouguereau's paintings including <a href="#">Cupid and Psyche as Children</a> (1889), <a href="#">Psyche and Cupid</a> (1896), and <a href="#">Psyche</a>.
                    </p>
                    <h4 class="mark">
                        Kara Ross
                    </h4>
                </blockquote>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(".justified").justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            margins: 3,
            captionSettings: {
                animationDuration: 500,
                visibleOpacity: 0.7,
                nonVisibleOpacity: 0.7
            }
        });
    </script>
}

