
body {
    background-color: #394d6b;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#container{
    width:675px;
    height:auto;
    overflow:hidden;
    }

#container a{color:white}

.top_block{
    height:63px;
}



.message { padding-left:25px; float:left;}
.message p { padding:5px 0 0 50px; width:530px; line-height:22px; height:30px; margin 0 0 50px 0; color:white; margin:0 0 50px 0; float:left}

.box_left_corner{
    background-image:url(../images/top_left.png);
    background-repeat:no-repeat;
    width:15px;
    height:63px;
    float:left;
    }


.box_right_corner{
    background-image:url(../images/top_right.png);
    background-repeat:no-repeat;
    width:15px;
    height:63px;
    float:left;
    }

.box_top_header_bg{
    /*background-image:url(../images/top_header_bg.gif);
    background-repeat:repeat-x;*/
    height:43px;
    width:100%;
    float:left;
    padding:10px 10px 0 10px;
    margin-bottom:20px;
    color:#FFF;
    font-family:Georgia, arial, serif;
    font-size:26px;
    border-bottom: 2px solid white;
    }


.content_bg{
    /*background-image:url(../images/content_bg.gif);
    background-repeat:repeat;*/
    padding:0 20px 10px 20px;;
    width:660px;
    height:auto;
    overflow:hidden;
    float:left;
    }

.content_bg .glowbg{
/*    background-image:url(../images/glow.png);*/
    background-repeat:no-repeat;
    background-position:top;
    }

.box_bot_block{
    height:15px;
    clear:both;
    }

.box_bot_left{
    background-image:url(../images/bot_border_left_corner.png);
    background-repeat:no-repeat;
    width:15px;
    height:15px;
    float:left;
}

.box_bot_right{
    background-image:url(../images/bot_border_right_corner.png);
    background-repeat:repeat-y;
    width:15px;
    height:15px;
    float:left;
}

.bot_extend_bg{
    background-image:url(../images/bot_extend_bg.gif);
    background-repeat:repeat-x;
    height:15px;
    float:left;
    width:630px;
}


#login-bar a:hover { background-color:none; }y

#login-form {height:270px; width:660px}
#login-form form {margin:0}
#login-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#login-form .content{
    margin:100px 0 0 20px; padding:0 0 0 10px;color: #FFFFFF;font-family:Georgia, arial, serif;font-size:20px;
}
#login-form ul { padding-left:80px; }
#login-form p.message { padding:5px 0 0 60px; width:530px; line-height:21px; color:white }

#login-form dl{
    float:left; width:365px; margin:0 0 0 0; padding:0 0 0 10px;
}
#login-form dt{
    float:left; width:105px; font:18px/37px Georgia, arial, serif; color:#FFF; height:37px; text-align:right;
}
#login-form dd{
    float:left; margin:0 0 5px 5px; width:242px;
}
#login-form .txt{
     font-family:Georgia, arial, serif; color:#FFF; font-size:12px; width:242px; float:left;
}
#login-form dd input[type="text"], #username{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#login-form dd input[type="password"], #password{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#login-form dd .txt1{
    float:left; margin:0; width:242px; color:#FFF; font-size:12px; font-family:Georgia, arial, serif;
}
#login-form dd .txt1 a{
    text-decoration:underline; color:#FFF;
}
#login-form dd .txt2{
    float:left; margin:0 0 10px 105px; width:242px;
}

#login-form .right{
    float:left; padding:20px 10px 0 5px; margin:0px; font-family:Georgia, arial, serif; width:150px; color:#FFF;
}
#login-form .right .btn{
    padding:0 0 0 10px;
}
#login-form .or{
    float:left; padding:20px 50px 0 20px; margin:0px; font-family:Georgia, arial, serif; width:10px; color:#FFF;
}
#login-form .error{
color: #FF0000;
}
#login-form .content { margin-top:90px; }
#login-form .submit { width:100px; margin:0 auto; padding-top:10px; }


#forgot-form {height:120px; width:640px}
#forgot-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#forgot-form .content{
    margin:100px 0 0 20px; padding:0 0 0 10px;color: #FFFFFF;font-family:Georgia, arial, serif;font-size:20px;
}
#forgot-form ul { padding-left:80px; }
#forgot-form p.message { padding:5px 0 0 60px; width:530px; line-height:21px; color:white }

#forgot-form dl{
    width:425px; margin:0 auto;
}
#forgot-form dt{
    float:left; width:165px; font:18px/37px Georgia, arial, serif; color:#FFF; height:37px; text-align:right;
}
#forgot-form dd{
    float:left; margin:0 0 5px 10px; width:242px;
}
#forgot-form dd .txt{
     font-family:Georgia, arial, serif; color:#FFF; font-size:12px; width:242px; float:left;
}
#forgot-form dd input[type="text"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#forgot-form dd input[type="password"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#forgot-form dd .txt1{
    float:left; margin:0; width:242px; color:#FFF; font-size:12px; font-family:Georgia, arial, serif;
}
#forgot-form dd .txt1 a{
    text-decoration:underline; color:#FFF;
}
#forgot-form .txt2{
    margin:0 auto; width:81px; padding-top:60px;
}

#forgot-form .right{
    float:left; padding:50px 10px 0 5px; margin:0px; font-family:Georgia, arial, serif; width:150px; color:#FFF;
}
#forgot-form .right .btn{
    padding:0 0 0 10px;
}
#forgot-form .or{
    float:left; padding:50px 50px 0 20px; margin:0px; font-family:Georgia, arial, serif; width:10px; color:#FFF;
}
#forgot-form .error{
color: #FF0000;
}
#forgot-form .content { margin-top:90px; }



#account-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#account-form .content{
    margin:100px 0 0 20px; padding:0 0 0 10px;color: #FFFFFF;font-family:Georgia, arial, serif;font-size:20px;
}
#account-form .close{width:81px; margin-top: 15px;}
#account-form ul { padding-left:20px; }
#account-form p.message { padding:5px 0 0 60px; width:530px; line-height:21px; color:white }

#account-form dl{
    float:left; width:365px; margin:0 0 0 0; padding:0 0 0 10px;
}
#account-form dt{
    float:left; width:105px; font:18px/37px Georgia, arial, serif; color:#FFF; height:37px; text-align:right;
}
#account-form dd{
    float:left; margin:0 0 5px 10px; width:242px;
}
#account-form dd .txt{
     font-family:Georgia, arial, serif; color:#FFF; font-size:12px; width:242px; float:left;
}
#account-form dd input[type="text"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#account-form dd input[type="password"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#account-form dd .txt1{
    float:left; margin:0 0 10px 0px; width:242px; color:#FFF; font-size:12px; font-family:Georgia, arial, serif;
}
#account-form dd .txt1 a{
    text-decoration:underline; color:#FFF;
}
#account-form dd .txt2{
    float:left; margin:0 0 10px 105px; width:242px;
}

#account-form .right{
    float:left; padding:70px 10px 0 5px; margin:0px; font-family:Georgia, arial, serif; width:150px; color:#FFF;
}
#account-form .right .btn{
    padding:0 0 0 10px;
}
#account-form .or{
    float:left; padding:70px 50px 0 20px; margin:0px; font-family:Georgia, arial, serif; width:10px; color:#FFF;
}
#account-form .error{
color: #FF0000;
}
#account-form .content { margin-top:90px; }
#account-form .email_permission { width: 400px; float:right; line-height:20px; margin-top: 10px;}
#account-form .policy { width: 300px; float:right; }
#account-form .submit { width:100px; margin:0 auto; padding-top:10px; }


#container {
    font:16px/37px Georgia, arial, serif; color:#FFF;
}




#success-form{
    width:674px; height:383px; float:left; padding:0px; margin:0px; background:url(/images/form-bg.png) 0 0 no-repeat;
}
#success-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#success-form dl{
    margin:100px 0 0 20px; padding:0 0 0 10px;color: #FFFFFF;font-family:Georgia, arial, serif;font-size:20px;
}



#upgrade-form{
    width:674px; height:383px; float:left; padding:0px; margin:0px; background:url(/images/form-bg.png) 0 0 no-repeat; font:16px/37px Georgia, arial, serif; color:#FFF;
}
#upgrade-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#upgrade-form dl{
    float:left; width:465px; margin:10px 0 0 0; padding:0 0 0 10px;
}
#upgrade-form dt{
    float:left; width:205px; font:18px/37px Georgia, arial, serif; color:#FFF; height:37px; text-align:right;
}
#upgrade-form dd{
    float:left; margin:0 0 5px 10px; width:242px;
}
#upgrade-form dd .txt{
     font-family:Georgia, arial, serif; color:#FFF; font-size:12px; width:242px; float:left;
}
#upgrade-form dd input[type="text"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#upgrade-form dd input[type="password"]{
    width:239px; height:35px; background:#f2f5fa; border:1px solid #FFF;
}
#upgrade-form dd .txt1{
    float:left; margin:0 0 10px 0px; width:242px; color:#FFF; font-size:12px; font-family:Georgia, arial, serif;
}
#upgrade-form dd .txt1 a{
    text-decoration:underline; color:#FFF;
}
#upgrade-form dd .txt2{
    float:left; margin:0 0 10px 105px; width:242px;
}
#upgrade-form .ccform {
    width:410px; margin:0 auto; color:white;
}
#upgrade-form .ccform label {
	color:white;
}


#warning-form{
    width:674px; height:290px; float:left; padding:0px; margin:0px; background:url(/images/form-bg.png) 0 0 no-repeat;
}
#warning-form .title{
    margin:18px 0 0 36px; float:left; padding:0 0 0 30px; background:url(/images/login_bg.jpg) 0 0 no-repeat; color:#FFF; font-family:Georgia, arial, serif; font-size:26px;
}
#warning-form .content{
    margin:0 0 0 20px; padding:0 0 0 10px;color: #FFFFFF;font-family:Georgia, arial, serif;font-size:20px;
}
#warning-form .content ul { padding-left:80px; }
#warning-form .content p.message { padding:5px 0 0 60px; width:530px; line-height:24px; }
