﻿<div>
    <h2 data-bind="text: $data.model.Artwork().Name"></h2>
    <p>
        Created by <span data-bind="text: $data.model.Artist().Name"></span>
        <div>
            <span data-bind="if: $data.computed.hasStart">
                <span data-bind="text: ($data.computed.hasFinish() ? 'from' : 'in')"></span> <span data-bind="text: $data.computed.start"></span>
            </span>
            <span data-bind="if: $data.computed.hasFinish">
                to <span data-bind="text: $data.computed.finish"></span>
            </span>
            <span data-bind="if: $data.model.Place()">
                in <a data-bind="click: $data.placeClicked"><span data-bind="text: $data.model.Place().Name"></span></a>
            </span>
        </div>
    </p>
</div>
<div data-bind="if: $data.computed.hasRepresentations">
    <h3>represents ...</h3>
    <ul data-bind="foreach: $data.representations">
        <li><a href="#" data-bind="click: $data.representationClicked"><span data-bind="text: $data.Name"></span></a></li>
    </ul>
</div>
