﻿<h3>Main Editor</h3>
<button data-bind="click: $data.personManagerClicked">+ People</button>
<button data-bind="click: $data.placeManagerClicked">+ Places</button>
<button data-bind="click: $data.thingManagerClicked">+ Artworks</button>
<button data-bind="click: $data.categoryManagerClicked">+ Categories</button>
<button data-bind="click: $data.queriesManagerClicked">Queries</button>
<button data-bind="click: $data.tempNodeManagerClicked">Temp Nodes</button>
<div data-bind="if: $data.currentManagerIsReady">
    <div data-bind="template: { name: $data.currentManagerTemplate, data: $data.currentManager }"></div>
</div>
@*<div data-bind="if: $data.currentEntityStackIsReady">
        <div data-bind="template: { name: $data.currentEntityStackTemplate, data: $data.currentEntityStack }"></div>
    </div>*@
