﻿@model Services.Stats

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Stats</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Agents</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Agents</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Artefacts</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Artefacts</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Places</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Places</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Categories</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Categories</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Acts</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.Acts</p>
        </div>
    </div>
    <div class="form-group" style="border-top: 2px dotted #ccc;">
        <label class="col-sm-2 control-label">Total</label>
        <div class="col-sm-10">
            <p class="form-control-static">@(Model.Total)</p>
        </div>
    </div>
</div>

