﻿@using Services.Common
@model List<Data.Entities.Category>
@{
    ViewBag.Title = "Timeline by type of person";
    Layout = "~/Views/Shared/_TypeLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Timelines <small>Events through the ages, grouped by person type</small></h1>
</div>

<ul class="row">
    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <li>
            <h3>
                <a href="/Time/ByAgentType/@item.Guid">@item.Name</a>
            </h3>
        </li>
    }
</ul>
