﻿@using Services.Common
@model List<Services.ArtefactMadeByAgent>
@{
    ViewBag.Title = "Timeline by artwork";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<ul class="row" style="margin-top: 100px;">
    @foreach (var item in Model.OrderBy(x => x.Artefact.Name))
    {
        <li style="margin-left: 200px;">
            <h3>
                <a href="/Time/ByArtefact/@item.Artefact.Guid">
                    @item.Artefact.ToDisplay()
                    @if (item.Agents != null && item.Agents.Any())
                    {
                        <small>by @string.Join(" and ", item.Agents.Select(x => x.FullName2).Distinct())</small>
                    }
                </a>
            </h3>
        </li>
    }
</ul>
