﻿@model IEnumerable<IGrouping<string, Services.TagGraphResult>>
@{
    ViewBag.Title = "Graphs";
    Layout = "~/Views/Shared/_TypeLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center" style="font-size: 7.5em;">Charts</h1>
    </div>
</div>

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
@{
    var graphs = Model.Where(x => x.Any(x2 => x2.Value != null))
        .OrderBy(x => x.First().Tag.Name);
}
@foreach (var graph in graphs)
{
    var tag = graph.First().Tag;
    var values = graph.Select(x => new
    {
        Date = Services.Helpers.Common.ToDateTime(x.Year, x.Month, x.Day, null, null).Value,
        Value = Services.Helpers.Common.TryParseInt(x.Value != null ? x.Value.Value : null)
    })
    .OrderBy(x => x.Date);
    var data = string.Join(", ", values.Select(x => string.Format("[new Date({0}, {1}, {2}), {3}]", x.Date.Year, x.Date.Month - 1, x.Date.Day, x.Value)));
    <div class="row">
        <div class="col-md-12">
            <h3>
                <a href="/Time/ByTag/@tag.Guid">
                    @tag.Name
                </a>
            </h3>
            <div id="graph-@tag.Guid" style="height: 200px; background-color: #ccc;">
            </div>
        </div>
    </div>
    <script>
        google.setOnLoadCallback(function () {
            var data = google.visualization.arrayToDataTable([
              ['Date', 'Value'],
              @Html.Raw(data)
            ]);

            var options = {
                legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('graph-@tag.Guid'));
            chart.draw(data, options);
        });
    </script>
}
