﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TypeLayout.cshtml";
}

<div class="page-header">
    <h1>
        The Codex
    </h1>
</div>

<ul>
    <li>
        <h3>
            <a href="/Time/List">
                History by decades
            </a>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/People">History by agent</a> <small>(any kind of person, organisation, group of people, including entire families)</small>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/Tags">History by tag</a> <small>(events classified by themes, subjects, etc.)</small>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/Places">History by places</a> <small>(events grouped by city, region, country, etc.)</small>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/Artworks">History by artefact</a> <small>(any man-made thing, such as an artwork, book, building, etc.)</small>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/AgentTypes">History by agent type</a> <small>(events of all agents belonging to certain categories, e.g., goldsmiths, dukes, etc.)</small>
        </h3>
    </li>
    <li>
        <h3>
            <a href="/Time/Compare">Comparative history of agents</a> <small>(see the timelines of two agents side-by-side, limited to artists for present)</small>
        </h3>
    </li>
</ul>

