﻿@using Services.Common
@model CodexMVC.Models.ViewTimeList
@{
    ViewBag.Title = "Time";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }

    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }    
</style>

<div class="row">
    @{
        var years = Model.Years.Where(x => x.TotalActs > 0)
                               .Select(x => x.Year).Select(x => (x / 10) * 10)
                               .Distinct();
        var centuries = years.GroupBy(x => x / 100);
    }
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <table class="table" style="width: 100%;">
            @foreach (var century in centuries)
            {
                var temp = century.Key * 100;
                <tr>
                    @for (var year = temp; year < temp + 100; year += 10)
                    {
                        <td>
                            <div>
                                @if (century.Contains(year))
                                {
                                    var decadeStart = (year / 10) * 10;
                                    var decadeEnd = decadeStart + 10;
                                    var total = Model.Years.Where(x => x.Year >= decadeStart && x.Year <= decadeEnd).Sum(x => x.TotalActs);
                                    total = total == 0 ? 0 : total / 2;
                                    <h4 class="vcenter" style="font-size: @(18 + total)px;">
                                        <a href="/Time/Range?startYear=@year&endYear=@(year + 10)">@(year)</a>
                                    </h4>
                                }
                                else
                                {
                                    <h4 class="vcenter" style="color: #ccc;">
                                        @year
                                    </h4>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="col-md-1">

    </div>
</div>
