﻿@using Services.Common
@model List<Data.Entities.Place>
@{
    ViewBag.Title = "Timeline by place";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<ul class="row" style="margin-top: 100px;">
    @foreach (var item in Model.OrderBy(x => x.Name))
    {
        <li style="margin-left: 200px;">
            <h3>
                <a href="/Time/ByPlace/@item.Guid">@item.Name</a>
            </h3>
        </li>
    }
</ul>
