﻿@model List<string>
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_TypeLayout.cshtml";
}

<h2>People</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item
            </li>
        }
    </ul>
}
