﻿@using Services.Common
@model List<Services.TagHyperNode>
@{
    ViewBag.Title = "Timeline by themes";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<ul class="row" style="margin-top: 100px;">
    @{
        var last = "";
    }
    @foreach (var item in Model.Where(x => x != null && x.Tag != null))
    {
        <li style="margin-left: 200px;">
            @{
        var first = false == string.IsNullOrEmpty(item.Tag.Name) ? item.Tag.Name.Substring(0, 1).ToLower() : "";
        if (first != last)
        {
            last = first;
            <h1 style="font-size: 4em;">
                <em>
                    @first
                </em>
            </h1>
        }
            }
            <h4>
                <a href="/Time/ByTag/@item.Tag.Guid">@item.Tag.Name</a>
                @if (item.Entities != null && item.Entities.Any())
                {
                    var result = string.Join("; ", item.Entities.Select(x => string.Format("<a href=\"/Time/ByTag/{0}\">{1}</a>", x.Guid, x.Name)));
                    <span>
                        (subset of @Html.Raw(result))
                    </span>
                }
            </h4>
        </li>
    }
</ul>
