﻿<div class="animated fadeInDown">
    <h3><span data-bind="text: $data.text.subjectName"></span>&nbsp;<span data-bind="    text: $data.model.hyperNode.actionName"></span></h3>
    <div style="float: left;">
        <fieldset>
            <legend>from ...</legend>
            <div data-bind="template: { name: 'date-selector-template', data: $data.model.hyperNode.startDate }"></div>
        </fieldset>
        <fieldset>
            <legend>to ...</legend>
            <div data-bind="template: { name: 'date-selector-template', data: $data.model.hyperNode.endDate }"></div>
        </fieldset>
    </div>
    <div style="float: left;">
        <label>at place</label>
        <div data-bind="template: { name: 'place-selector-template', data: $data.atPlaceSelector }"></div>
    </div>
    <div style="float: left;">
        <label>part of</label>
        <div data-bind="template: { name: 'event-selector-template', data: $data.partOfSelector }"></div>
    </div>
    <div style="float: right;">
        <button data-bind="click: $data.cancelClicked">Cancel</button>
        <button data-bind="click: $data.saveClicked">Save</button>
    </div>
</div>
