﻿<div class="animated fadeInDown">
    <div>
        <select data-bind="options: $data.targets, value: $data.model.Target, optionsText: 'Name'"></select>
    </div>
</div>
<div style="float: right;">
    <button data-bind="click: $data.cancelClicked">Cancel</button>
    <button data-bind="click: $data.saveClicked">Save</button>
</div>

