﻿@using Data.Entities
@model Data.Entities.DataSetsContainer
@{
    var isAuthenticated = Request.IsAuthenticated;
    var Root = Model.Root;
    ViewBag.Title = "Dataset / " + Root.DataSet.Name;
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    var AllDataPoints = new List<DataPointSet>();
    foreach (var set in Model.DataSets)
    {
        var points = set.DataSetPlaces.Where(x => x.DataPoint != null);
        if (points.Any())
        {
            AllDataPoints.AddRange(points.Select(x => new DataPointSet { DataSet = set.DataSet, DataSetPlace = x }));
        }
    }
}
<style>
    #map {
        width: 1368px;
        height: 200px;
        margin: 0 auto;
        padding: 0;
    }
</style>

<div id="main-template" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="font-size: 3em;">@Root.DataSet.Name</h1>
            <p style="text-align: center;">
                <button type="button" class="btn btn-default btn-raised" role="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    What are datasets about?
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        A dataset in Codex is a collection of facts -- whether statistical, like mortality figures or event-related like the weather -- belonging to the same subject. Datasets can be related to the historical sources they derive from, as well as to general subjects. Facts in a dataset (usually) refer to a specific time and place, hence can be plotted on both charts and maps. They often also include descriptions which turn them from being anonymous statistics into human stories.
                    </div>
                </div>
            </p>
            @if (Root.Source != null)
            {
                <h1 style="text-align: center; font-size: 2.5em;">
                    derived from <b>@Root.Source.ToDisplay()</b>
                </h1>
            }
            @if (Root.Parent != null)
            {
                <h1 style="text-align: center; font-size: 2em;">
                    which is also a subset of <a href="/DataSet/Index/@Root.Parent.Guid">@Root.Parent.Name</a>
                </h1>
            }
            <h4>
                @Root.DataSet.Description
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div data-bind="visible: $data.mode() == 'Chart'" style="height: 200px; background-color: #ccc;">
                <div id="graph"></div>
            </div>
            <div data-bind="visible: $data.mode() == 'Map'" style="display:none; margin-left: auto; margin-right: auto;">
                <div id="map"></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-inline" style="text-align: center; margin-top: 20px;">
                <div class="controls-row">
                    <label class="radio-inline">
                        <input type="radio" class="radio" value="Chart" data-bind="checked: $data.mode" /> chart
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="radio" value="Map" data-bind="checked: $data.mode" /> map
                    </label>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (AllDataPoints != null && AllDataPoints.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @if (isAuthenticated)
                            {
                                <th>
                                    
                                </th>
                            }
                            <th style="width: 100px;">
                                Date
                            </th>
                            <th style="width: 300px;">
                                Dataset
                            </th>
                            <th style="width: 150px;">
                                Value
                            </th>
                            <th style="width: 150px;">
                                At
                            </th>
                            <th>
                                Description
                            </th>
                            <th style="width: 100px;">
                                Related
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in AllDataPoints.OrderBy(x => x.DataSetPlace.DataPoint.GetDateTime()))
                        {
                            var point = item.DataSetPlace;
                            <tr>
                                @if (isAuthenticated)
                                {
                                    <td>
                                        <a target="_blank" class="btn btn-default btn-raised btn-sm" href="/Admin/DataPoint/Edit?dataPointGuid=@item.DataSetPlace.DataPoint.Guid">Edit</a>
                                    </td>
                                }
                                <td>
                                    @if (point.Act != null)
                                    {
                                        <span>
                                            <a class="text-link" href="/Time/Act/@point.Act.Guid">@point.DataPoint.GetDateTime().ToString("yyyy-MM-dd")</a>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>@point.DataPoint.GetDateTime().ToString("yyyy-MM-dd")</span>
                                    }
                                </td>
                                <td>
                                    <a class="text-link" href="/DataSet/Index/@item.DataSet.Guid">
                                        @item.DataSet.Name
                                    </a>
                                </td>
                                <td>
                                    @if (item.DataSet.UnitOfMeasureType == "number")
                                    {
                                        var value = Services.Helpers.Common.TryParseInt(point.DataPoint.Value);
                                        var measure = value > 1 ? item.DataSet.UnitOfMeasurePlural : item.DataSet.UnitOfMeasure;
                                        <span>
                                            @point.DataPoint.Value @measure
                                        </span>
                                    }
                                    else
                                    {
                                        <span>
                                            @point.DataPoint.Value
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (point.At != null)
                                    {
                                        <span>
                                            <a class="text-link" href="/DataSet/ByPlace/@point.At.Guid">
                                                @point.At.ToDisplay()
                                            </a>
                                        </span>
                                    }
                                </td>
                                <td>
                                    @point.DataPoint.Description
                                </td>
                                <td>
                                    @if (point.DataSets.Any())
                                    {
                                        var sets = point.DataSets.Where(x => x.Guid != item.DataSet.Guid);
                                        <ul class="list-inline">
                                            @foreach (var set in sets)
                                            {
                                                <li>
                                                    <a class="text-link" href="/DataSet/Index/@set.Guid">@set.Name</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>
                    No Data Points
                </h4>
            }
        </div>
    </div>
</div>

@{
    var values = AllDataPoints.Select(x => x.DataSetPlace).Select(x => x.DataPoint).GroupBy(x => x.GetDateTime())
    .Select(x => new
    {
        Date = x.First().GetDateTime(),
        Value = x.Sum(x2 => Services.Helpers.Common.TryParseInt(x2.Value))
    })
    .OrderBy(x => x.Date);
    ;
    var data = string.Join(", ", values.Select(x => string.Format("[new Date({0}, {1}, {2}), {3}]", x.Date.Year, x.Date.Month - 1, x.Date.Day, x.Value)));

    var circles = AllDataPoints.Where(x => x.DataSetPlace.At != null).GroupBy(x => x.DataSetPlace.At.Latitude + ":" + x.DataSetPlace.At.Longitude)
        .Select(x => new
        {
            Latitude = x.First().DataSetPlace.At.Latitude,
            Longitude = x.First().DataSetPlace.At.Longitude,
            Weight = x.Sum(x2 => Services.Helpers.Common.TryParseInt(x2.DataSetPlace.DataPoint.Value))
        });

    var maxWeight = circles.Where(x => x.Weight > 0).Max(x => x.Weight);
    var radiusMultiplier = maxWeight > 0 ? 10000 / maxWeight : 0;
}

@section scripts {
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
    </script>
<script src="~/Scripts/knockout-3.3.0.debug.js"></script>
    <script>
        var each = app.Utils.each;
        var Mode ={
            "Chart" : "Chart",
            "Map" : "Map"
        };
        var ViewModel = (function() {
            function ViewModel(){
                this.mode = ko.observable();
                this.chartData = google.visualization.arrayToDataTable([
                  ['Date', '@Root.DataSet.UnitOfMeasure'],
                  @Html.Raw(data)
                ]);
                this.mapData = @Html.Raw(Json.Encode(circles));
                this.radiusMultiplier = @radiusMultiplier;
                this.setupEventHandlers();
            }
            ViewModel.prototype.setupEventHandlers = function(){
                this.mode.subscribe(function(mode){
                    if (mode == Mode.Chart){
                        setTimeout(function(){
                            this.drawChart();
                        }.bind(this), 1);

                    } else {
                        setTimeout(function(){
                            this.drawMap();
                        }.bind(this), 1);
                    }
                }.bind(this));
            };
            ViewModel.prototype.start = function(){
                this.mode(Mode.Chart);
            };
            ViewModel.prototype.drawChart = function(){
                var data = this.chartData;
                var options = {
                    legend: { position: 'bottom' },
                    series: {
                        0: { color: '#000' }
                    },
                    lineWidth: 2,
                    pointSize: 5,
                    pointShape: 'circle'
                };
                var chart = this.getChart();
                chart.draw(data, options);
            };
            ViewModel.prototype.drawMap = function(){
                var map = this.getMap();
                this.fitBounds(map, this.mapData);
                this.drawCircles(map, this.mapData);
            };
            ViewModel.prototype.getMap = function(){
                return new google.maps.Map(document.getElementById('map'));
            };
            ViewModel.prototype.getChart = function(){
                return new google.visualization.LineChart(document.getElementById('graph'));
            };
            ViewModel.prototype.fitBounds = function (map, data) {
                var bounds = new google.maps.LatLngBounds();
                each(data, function (item) {
                    bounds.extend(new google.maps.LatLng(item.Latitude, item.Longitude));
                });
                map.fitBounds(bounds);
            };
            ViewModel.prototype.drawCircles = function(map, data) {
                var hue = "red";
                each(data, function(item) {
                    var circle = new google.maps.Circle({
                        strokeColor: hue,
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: hue,
                        fillOpacity: 0.35,
                        map: map,
                        center: { lat: item.Latitude, lng: item.Longitude },
                        radius: item.Weight * (this.radiusMultiplier || 2500)
                    });
                });
            };
            return ViewModel;
        })();
        var viewmodel = new ViewModel();
        ko.applyBindings(viewmodel, document.getElementById("main-template"));
        google.setOnLoadCallback(function () {
            viewmodel.start();
        });
    </script>
}