﻿@model Data.Entities.DocumentHyperNode
@{
    ViewBag.Title = "View Document";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var markdown = new MarkdownDeep.Markdown();
}

<h2>@Model.Document.Name <small>by @Model.MadeBy.FullName2</small></h2>

@Html.Raw(markdown.Transform(Model.ToHtml()))