﻿@using Data.Entities
@model CodexMVC.Models.GenericRelationNodeModel<Tag, Tag>
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Tag/List">Tags</a></li>
    <li><a href="/Tag/ViewDetail?guid=@Model.Node.Source.Guid">@Model.Node.Source.Name</a></li>
    <li class="active">@Model.Title</li>
</ol>
<h2>@Model.Title</h2>
@using (Html.BeginForm(Model.Action, "Tag"))
{
    @Html.HiddenFor(x => x.Node.Source.Guid)
    @Html.HiddenFor(x => x.Node.RelationToDestinationGuid)
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 ">
            <div class="form-group">
                <div>
                    <h3>Tags</h3>
                    @Html.HiddenFor(x => x.Node.Destination.Guid)
                    @{
    var tagText = Model.Node != null && Model.Node.Destination != null ? Model.Node.Destination.Name : "";
                    }
                    <input type="text" value="@tagText" class="form-control typeahead" id="TagText" />
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-lg">Save</button>
            </div>
        </div>
    </div>
}

@section scripts {

    <script src="~/Scripts/bootstrap-typeahead.min.js"></script>

    <script>
        var options = {
            onSelect: function (item) {
                console.log(item);
                $("#@Html.IdFor(x=> x.Node.Destination.Guid)").val(item.value);
            },
            ajax: {
                url: "/API/SearchTagJson",
                timeout: 500,
                displayField: "Text",
                valueField: "Value",
                triggerLength: 3,
                method: "get",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                },
                preProcess: function (data) {
                    if (data.Success === false) {
                        return false;
                    }
                    return data.Results;
                }
            }
        };
        $("input.typeahead").typeahead(options);

    </script>
}