﻿@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>We will contact you <small>An email has been sent to your address with instructions on resetting your password.</small></h3>