﻿@model CodexMVC.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Login</h1>
</div>
@using (Html.BeginForm("Login", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.ReturnUrl)
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Username)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { type = "password", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    @*<div class="row">
        <div class="g-recaptcha" data-sitekey="6LcoLQkTAAAAACJjk0HpWWknLn8y_u0z3JrOM-4Q"></div>
    </div>*@
    <div class="row">
        <button type="submit" class="btn btn-default">Login</button>
    </div>
    @*<div class="row">
            <div class="col-md-12">
                <h2>
                    OR
                </h2>
                <a href="/Account/ExternalLogin?provider=google">
                    <img src="~/Content/icons/sign-in-with-google.png" />
                </a>
            </div>
        </div>*@
}

@section scripts {
    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
}