﻿@model CodexMVC.Models.ResetPasswordFromEmailModel
@{
    ViewBag.Title = "Reset your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Reset your password</h2>

@using (Html.BeginForm("ResetPasswordFromEmail", "Account"))
{
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true)
        </div>
    </div>
    @Html.HiddenFor(x => x.UserName)
    @Html.HiddenFor(x => x.TokenGuid)
    <div class="row">
        <div class="col-md-6">
            <label>
                Password <small>Should include a combination of letters and numbers</small>
            </label>
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Password Confirmation <small>Please retype your password for confirmation</small>
            </label>
            @Html.TextBoxFor(x => x.NewPasswordConfirmation, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(x => x.NewPasswordConfirmation)
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default btn-primary">Save</button>
        </div>
    </div>
}
