﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color: red;
    }
</style>

<h3>
    Sorry, but there was a technical error. Try resetting your password again.
</h3>

<a href="/Account/ForgotPassword" class="btn btn-default btn-primary">Reset Password</a>