﻿@model CodexMVC.Models.EditImage
@{
    var mode = Model.ImageGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " image";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    @mode an image
</h2>
@using (Html.BeginForm("Edit", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.ImageGuid)
    if (Model.ImageGuid == null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Image</label>
                    @Html.TextBoxFor(x => x.Image, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Image)
                </div>
            </div>
        </div>
    }
    else
    {
        <img src="@Model.ImageNode.VirtualPath().Replace("~", "")" />
    }
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 10, data_provide = "markdown-editable" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>
                Source (credit)
            </label>
            @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label>
                Source (url)
            </label>
            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h4>Public Domain? <small>The image is in the public domain</small></h4>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.PublicDomain, "true")
                <label>Yes</label>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.PublicDomain, "false")
                <label>No</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h4>Primary? <small>The image is the representative image of the entity</small></h4>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Primary, "true")
                <label>Yes</label>
            </div>
            <div class="col-md-2 form-group">
                @Html.RadioButtonFor(x => x.Primary, "false")
                <label>No</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Tags <small>Each tag should be separated by a comma</small></label>
            @Html.HiddenFor(x => x.Tags)
            <input type="text" class="form-control" id="TagText" />
            <button type="button" onclick="addTagClicked(); return false;">Add Tags</button>
            <div id="tags-template">
                <!-- ko if: $data.items().length == 0 -->
                <p>
                    <b>None</b>
                </p>
                <!-- /ko -->
                <!-- ko foreach: $data.items -->
                <p style="padding:5px; border-radius: 5px; margin-right: 5px; border: 1px solid #ccc; float: left;">
                    <span data-bind="text: $data.Name"></span> <span data-bind="click: $parent.remove.bind($parent)"><span class="glyphicon glyphicon-trash"></span></span>
                </p>
                <!-- /ko-->
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-lg">Save</button>
    </div>
}

@section scripts {
    <script>
        var utils = app.Utils;
        var select = utils.select,
            each = utils.each;
        var Tags;
        function addTagClicked(){
            var tagText = $("#TagText");
            var values = tagText.val();
            if (!values || values.length == 0){
                return;
            }
            tagText.val("");
            Tags.addCsv(values, "Tag");
        }
        var ItemBuilder = (function(){
            function ItemBuilder(params) {
                this.field = $("#" + params.field);
                var items = JSON.parse(params.items);
                this.items = ko.observableArray(items);
            }
            ItemBuilder.prototype.remove = function(item){
                this.items.remove(item);
                this.updateField();
            };
            ItemBuilder.prototype.addCsv = function(values, label) {
                var _ = this;
                var parts = values.split(",");
                each (parts, function (part) {
                    _.add({
                        Guid: null,
                        Name: part,
                        Label: label
                    });
                });
            };
            ItemBuilder.prototype.add = function(item) {
                this.items.push(item);
                this.updateField();
            };
            ItemBuilder.prototype.updateField = function() {
                var items = ko.toJSON(this.items);
                this.field.val(items);
                console.log(items);
            };
            return ItemBuilder;
        })();
        (function () {
            var tags = @Html.Raw(Json.Encode(Model.Tags));
            Tags = new ItemBuilder({
                items: tags,
                field: "Tags"
            });
            ko.applyBindings(Tags, document.getElementById("tags-template"));
        })();
    </script>
}