﻿@using Data.Entities
@using CodexMVC.Areas.Admin.Models
@model DataPointHyperNodeModel
@{
    var Places = (List<SelectListItem>)ViewBag.Places;
    var DataSets = (List<SelectListItem>)ViewBag.DataSets;
    var Milennia = (List<SelectListItem>)ViewBag.Milennia;
    var Months = (List<SelectListItem>)ViewBag.Months;
    var Source = (Artefact)ViewBag.Source;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add/Edit Data Point</h2>

@using (Html.BeginForm("Edit", "DataPoint"))
{
    @Html.HiddenFor(x => x.DataPoint.Guid)
    <div class="form-group" id="main-template">
        <div class="row">
            <div class="col-md-4">
                <label>Data set(s)</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Unit of Measure
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var set in Model.DataSets)
                        {
                            <tr>
                                <td>
                                    <a href="/Admin/DataSet/Index/@set.Guid" target="_blank">
                                        @set.Name
                                    </a>
                                </td>
                                <td>
                                    @set.UnitOfMeasure
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.HiddenFor(x => x.ArrivedFromDataSetGuid)
                @Html.HiddenFor(x => x.AddingToDataSetGuid)
                @Html.HiddenFor(x => x.Act.Guid)
                @Html.HiddenFor(x => x.HasSourceGuid)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Value</label>
                <div>
                    @Html.TextBoxFor(x => x.DataPoint.Value, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataPoint.Value)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>At</label>
                @Html.DropDownListFor(x => x.At.Guid, Places, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.At.Guid)
                @Html.HiddenFor(x => x.AtGuid)
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="form-group">
                <div class="col-md-3">
                    <label>AD/BC</label>
                    @Html.DropDownListFor(x => x.DataPoint.Milennium, Milennia, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Year</label>
                    @Html.TextBoxFor(x => x.DataPoint.Year, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DataPoint.Year)
                </div>
                <div class="col-md-3">
                    <label>Month</label>
                    @Html.DropDownListFor(x => x.DataPoint.Month, Months, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Day</label>
                    @Html.TextBoxFor(x => x.DataPoint.Day, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">
                    <label>Hour</label>
                    @Html.TextBoxFor(x => x.DataPoint.Hour, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label>Minute</label>
                    @Html.TextBoxFor(x => x.DataPoint.Minute, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6">
                <label>Source</label>
                @if (Source != null)
                {
                    <span>@Source.ToDisplay()</span>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Citation <small>i.e., whereabouts in the source was this data point found</small></label>
                <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.DataPoint.Citation, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.DataPoint.Citation)
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6">
                <label>Description</label>
                @Html.TextAreaFor(x => x.DataPoint.Description, new { rows = 5, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.DataPoint.Description)
            </div>
        </div>
        @if (Model.DataPoint.Guid != null)
        {
            <div class="row">
                <div class="col-md-6">
                    <label>Add part of</label>
                    <div class="input-group">
                        <select class="form-control" data-bind="value: $data.dataset, options: $data.available, optionsText: 'Text', optionsValue: 'Value'"></select>
                        <span class="input-group-btn">
                            <button class=" btn btn-default" type="button" data-bind="click: function() { $data.addDataSetClicked(); }">
                                Add
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>
                        Part of
                    </label>
                    <ul data-bind="foreach: $data.datasets">
                        <li>
                            <a target="_blank" href="#" data-bind="text: $data.Text, attr: { src: '/Admin/DataSet/Index/' + $data.Value }">
                            </a>
                            <button class="btn btn-default btn-sm" data-bind="click: function() { $root.removeDataSetClicked($data).bind($root); }">X</button>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Save</button>
}
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script>

    var Model = (function () {
        function Model(params) {
            this.guid = params.guid;
            this.available = ko.observableArray(params.available);
            this.datasets = ko.observableArray(params.datasets);
            this.dataset = ko.observable();
        }
        Model.prototype.removeDataSetClicked = function(dataset) {
            var params = {
                dataPointGuid: this.guid,
                dataSetGuid: dataset.Value
            };
            $.get("/Admin/DataPoint/RemovePartOf", params, function(data){
                this.datasets.remove(dataset);
                this.available.push(dataset);
            }.bind(this));
        };
        Model.prototype.addDataSetClicked = function(){
            var selectedGuid = this.dataset();
            var dataset = ko.utils.arrayFirst(this.available(), function(item){
                return item.Value == selectedGuid;
            });
            var params = {
                dataPointGuid: this.guid,
                dataSetGuid: selectedGuid,
            };
            $.get("/Admin/DataPoint/AddPartOf", params, function(data){
                this.available.remove(dataset);
                this.datasets.push(dataset);
            }.bind(this));
        };
        return Model;
    })();
    var model = new Model({
        guid: @Html.Raw(Json.Encode(Model.DataPoint.Guid)),
        available: @Html.Raw(Json.Encode(ViewBag.Available)),
        datasets: @Html.Raw(Json.Encode(ViewBag.DataSets))
        });
    ko.applyBindings(model, document.getElementById("#main-template"));
</script>