﻿@using Services.Common
@model List<Services.PlaceWithParents>
@{
    ViewBag.Title = "Places";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Cities and Towns <small>with artworks</small></h1>
</div>

@{
    var grouped = Model.OrderBy(x => x.Parents.Last().Name)
                       .GroupBy(x => x.Parents.Last().Name);

}
<div style="position: relative; left: -100px; top: 50px;">
    artworks
</div>
@foreach (var item in grouped)
{
    <h2>
        @item.Key
    </h2>
    <ul>
        @foreach (var subitem in item)
        {
            <li>
                <div style="position: relative;">
                    <div>
                        <h4>
                            <a href="/Place/ViewDetail/@subitem.Place.Guid">@subitem.Place.Name</a>
                            <small>
                                @if (subitem.PlaceTypes.Any())
                                {
                                    <span>is a @string.Join(" and ", subitem.PlaceTypes.Select(x => x.Name.ToLower()))</span>
                                }
                                <span> in @string.Join(", ", subitem.Parents.Skip(1).Select(x => x.Name))</span>
                            </small>
                        </h4>
                    </div>
                    @{
            var badgeColour = subitem.ArtworkTotal >= 20 ? "green" : subitem.ArtworkTotal >= 10 ? "orange" : subitem.ArtworkTotal >= 5 ? "pink" : "gray";
                    }
                    <div style="position: absolute; top:0; left:-50px;">
                        <span class="badge" style="background-color: @badgeColour">
                            @subitem.ArtworkTotal
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>
    @*<li>
            @{
            var first = item.Place.Name.Substring(0, 1);
            if (first != last)
            {
                last = first;
                <h1>
                    @first
                </h1>
            }
            }
            <h4>
                <a href="/Place/ViewDetail/@item.Place.Guid">@item.Place.Name</a>
                <small>
                    @if (item.PlaceType != null)
                    {
                        <span>is a @item.PlaceType.Name.ToLower()</span>
                    }
                    @if (item.Parents != null && item.Parents.Any())
                    {
                        <span> in @string.Join(", ", item.Parents.Skip(1).Select(x => x.Name))</span>
                    }
                </small>

            </h4>
        </li>*@
}
