﻿@using Data.Entities
@using Services
@using Humanizer
@using CodexMVC.Helpers
@model CodexMVC.Models.ViewPlace
@{
    ViewBag.Title = Model.Place.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hasTimeline = Model.Timeline != null && Model.Timeline.Any();
    var hasTours = Model.Tours != null && Model.Tours.Any();
    var hasExhibitions = Model.Exhibitions != null && Model.Exhibitions.Any();
    var styles = Model.Artists
        .Where(x => x.RepresentativeOf != null)
        .OrderBy(x => x.RepresentativeOf.Name)
        .GroupBy(x => x.RepresentativeOf.Guid);
    var themes = Model.Artists.SelectMany(x => x.ArtefactWithImages.Where(x2 => x2.Subject != null).Select(x2 => x2))
                              .GroupBy(x => x.Subject.Guid);
    var mediums = Model.Artists.SelectMany(x => x.ArtefactWithImages.Where(x2 => x2.ArtefactType != null).Select(x2 => x2))
                               .GroupBy(x => x.ArtefactType.Guid);

    var totalArtworks = Model.Collections.SelectMany(x => x.ArtefactsWithImages.Select(x2 => x2.Artefact)).Select(x => x.Guid).Distinct().Count().ToWords().DasCapital();
    var totalArtists = Model.Artists.Count().ToWords();
    var totalCollections = Model.Collections.Count().ToWords();
    var totalHistoricalEvents = Model.Timeline.Select(x => x.Act).Count().ToWords();
}

@functions {
    public string Month(int month)
    {
        switch (month)
        {
            case 1: return "January";
            case 2: return "February";
            case 3: return "March";
            case 4: return "April";
            case 5: return "May";
            case 6: return "June";
            case 7: return "July";
            case 8: return "August";
            case 9: return "September";
            case 10: return "October";
            case 11: return "November";
            case 12: return "December";
            case 13: return "Spring";
            case 14: return "Summer";
            case 15: return "Autumn";
            case 16: return "Winter";
            case 17: return "Early";
            case 18: return "Late";
            default: return "???";
        }
    }
    public string NameOf(IEntity entity)
    {
        if (entity is Data.Agent)
        {
            return ((Data.Agent)entity).FullName2;
        }
        if (entity is Artefact)
        {
            return ((Artefact)entity).ToDisplay();
        }
        return entity.Name;
    }
    public string EntityTypeName(string type)
    {
        switch (type)
        {
            case "Agent": return "people and entities";
            case "Artefact": return "art";
            case "Category": return "concepts";
            default: return type.ToLower() + "s";
        }
    }
}

<style>
    .section-heading {
        background-color: #333;
        color: #ccc;
        padding: 20px;
        width: 800px;
    }

    .container-heading {
        background-color: #ccc;
        padding: 10px;
    }

    #map {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
    }

    li.active a {
        text-shadow: 2px 2px #333;
    }
</style>

@section meta {
    <meta property="og:site_name" content="Codex" />
    <meta property="og:title" content="All art in @Model.Place.Name" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:description" content="@totalArtworks works by @totalArtists artists in @totalCollections collections in @Model.Place.Name, along with @totalHistoricalEvents historical events." />
    <meta property="og:locale" content="en_US" />
}

<div class="row">
    <div class="col-md-8">
        <h1>
            @Model.Place.Name
            @if (Model.PlaceType != null)
            {
                var container = Model.Containers;
                <small>
                    @Model.PlaceType.Name in
                    @Html.Raw(string.Join(", ", container.Skip(1).Select(x => "<a href='/Place/ViewDetail/" + x.Place.Guid + "'>" + x.Place.ToDisplay() + "</a>")))

                </small>
            }
        </h1>
        <div class="fb-like" data-href="@Request.Url.AbsoluteUri" onclick="shareWithFacebook(); return false;" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="col-md-4">
        <a href="#" onclick="toggleMapExpansion(); return false;" style="float: right;" class="btn btn-default btn-sm">
            <span id="map-expando" class="glyphicon glyphicon-resize-full"></span>
        </a>
        <a href="#" onclick="toggle(); return false;" style="float: right;" class="btn btn-default btn-sm btn-primary">Hot Spots</a>
    </div>
</div>

@if (Model.Images != null && Model.Images.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="justified">
                @foreach (var image in Model.Images)
                {
                    <div class="place-image-container ">
                        <a href="@image.VirtualPath().Replace("~", "")" target="_blank">
                            <img src="@image.VirtualPath().Replace("~", "")?h=300&mode=crop" style="height:200px; width: 200px;" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}

<div id="map">
</div>

<div class="row">
    <div class="col-md-12">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#Art" aria-controls="Art" role="tab" data-toggle="tab">
                        Artworks
                        <span class="badge">@Model.Collections.SelectMany(x => x.ArtefactsWithImages.Select(x2 => x2.Artefact)).Count()</span>
                    </a>
                </li>
                @if (hasTimeline)
                {
                    <li role="presentation">
                        <a href="#Timeline" aria-controls="Timeline" role="tab" data-toggle="tab">
                            History
                            <span class="badge">@Model.Timeline.Count()</span>
                        </a>
                    </li>
                }
                @if (hasTours)
                {
                    <li role="presentation">
                        <a href="#Tours" aria-controls="Tours" role="tab" data-toggle="tab">
                            Tours
                            <span class="badge">@Model.Tours.Count()</span>
                        </a>
                    </li>
                }
                @if (hasExhibitions)
                {
                    <li role="presentation">
                        <a href="#Exhibitions" aria-controls="Exhibitions" role="tab" data-toggle="tab">
                            Exhibitions
                            <span class="badge">@Model.Exhibitions.Count()</span>
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Art">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" style="background-color: #f50057;">
                                <li role="presentation" class="active">
                                    <a href="#Collections" aria-controls="Collections" role="tab" data-toggle="tab">By Collection</a>
                                </li>
                                <li role="presentation">
                                    <a href="#Artists" aria-controls="Artists" role="tab" data-toggle="tab">By Artist</a>
                                </li>
                                @if (Model.Collections.Where(x => x.Exterior).Any())
                                {
                                    <li role="presentation">
                                        <a href="#Public" aria-controls="Public" role="tab" data-toggle="tab">In Public</a>
                                    </li>
                                }
                                @if (themes.Any())
                                {
                                    <li role="presentation">
                                        <a href="#Theme" aria-controls="Theme" role="tab" data-toggle="tab">By Subject</a>
                                    </li>
                                }
                                @if (styles.Any())
                                {
                                    <li role="presentation">
                                        <a href="#Style" aria-controls="Style" role="tab" data-toggle="tab">By Style</a>
                                    </li>
                                }
                                @if (mediums.Any())
                                {
                                    <li role="presentation">
                                        <a href="#Medium" aria-controls="Medium" role="tab" data-toggle="tab">By Medium</a>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Collections">
                                    <div class="row">
                                        <div class="col-md-12">

                                            @if (Model.Collections.Any())
                                            {
                                                <ul style="list-style: none;">
                                                    @foreach (var item in Model.Collections.OrderBy(x => x.Collection.Name))
                                                    {
                                                        <li>
                                                            <h3 class="container-heading">
                                                                @item.Collection.Name
                                                                <a href="/Artefact/ViewDetail/@item.Collection.Guid" class="btn btn-default btn-sm">see all</a>
                                                            </h3>
                                                            @if (item.ArtefactsWithImages.Any())
                                                            {
                                                                <div class="justified-small">
                                                                    @foreach (var subitem in item.ArtefactsWithImages.Where(x => x.Image != null).Take(5))
                                                                    {
                                                                        <div>
                                                                            <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                                                <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <h4>
                                                                    @*<a href="/Agent/ViewDetail/@item.Agent.Guid" class="btn btn-default">
                                                                            @item.Agent.FullName2 in @Model.Place.Name
                                                                        </a>*@
                                                                </h4>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Public">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (Model.Collections.Any())
                                            {
                                                <ul style="list-style: none;">
                                                    @foreach (var item in Model.Collections.Where(x => x.Exterior).OrderBy(x => x.Collection.Name))
                                                    {
                                                        <li>
                                                            <h3 class="container-heading">
                                                                @item.Collection.Name
                                                                <a href="/Artefact/ViewDetail/@item.Collection.Guid" class="btn btn-default btn-sm">see all</a>
                                                            </h3>
                                                            @if (item.ArtefactsWithImages.Any())
                                                            {
                                                                <div class="justified-small">
                                                                    @foreach (var subitem in item.ArtefactsWithImages.Where(x => x.Image != null).Take(5))
                                                                    {
                                                                        <div>
                                                                            <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                                                <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?height=300&mode=crop" />
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>
                                                                <h4>
                                                                    @*<a href="/Agent/ViewDetail/@item.Agent.Guid" class="btn btn-default">
                                                                            @item.Agent.FullName2 in @Model.Place.Name
                                                                        </a>*@
                                                                </h4>
                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Artists">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (Model.Artists != null && Model.Artists.Any())
                                            {
                                                var artists = Model.Artists.Distinct(new Services.AgentWithAgentTypesComparer());
                                                <ul style="list-style: none;">
                                                    @foreach (var item in artists.Where(x => x != null).OrderBy(x => x.Agent.FullName))
                                                    {
                                                        <li>
                                                            <h3 class="container-heading">
                                                                @item.Agent.FullName2
                                                                <a href="/Agent/ViewDetail/@item.Agent.Guid" class="btn btn-default btn-sm">
                                                                    see all
                                                                </a> <small>@string.Join(", ", item.AgentTypes.Select(x => x.Name))</small>
                                                            </h3>
                                                            @if (item.ArtefactWithImages != null && item.ArtefactWithImages.Any())
                                                            {
                                                                <div class="justified-small">
                                                                    @foreach (var subitem in item.ArtefactWithImages.Distinct(new ArtistArtefactImageTupleComparer()).Where(x => x.Image != null).Take(5))
                                                                    {
                                                                        <div>
                                                                            <a href="/Artefact/ViewDetail/@subitem.Artefact.Guid">
                                                                                <img alt="@subitem.Artefact.ToDisplay()" src="@subitem.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                </div>

                                                            }
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Theme">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (themes.Any())
                                            {
                                                foreach (var group in themes.OrderBy(x => x.First().Subject.Name))
                                                {
                                                    var theme = group.First().Subject;
                                                    <h3 class="container-heading">
                                                        @theme.Name <a href="/Subject/ViewDetail/@theme.Guid" class="btn btn-default">see all</a>
                                                    </h3>
                                                    <div class="justified-small">
                                                        @foreach (var item in group.Distinct(new Services.ArtistArtefactImageTupleComparer()))
                                                        {
                                                            var imageAlt = item.Artefact.ToDisplay();
                                                            if (item.Artist != null)
                                                            {
                                                                imageAlt += " by " + item.Artist.FullName2;
                                                            }
                                                            <div>
                                                                <a href="/Artefact/ViewDetail/@item.Artefact.Guid">
                                                                    <img alt="@imageAlt" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Style">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (styles.Any())
                                            {
                                                foreach (var group in styles)
                                                {
                                                    var style = group.First().RepresentativeOf;
                                                    <h3 class="container-heading">
                                                        @style.Name
                                                    </h3>
                                                    <div class="justified-small">
                                                        @{
                                                    var test = group.SelectMany(x => x.ArtefactWithImages).Distinct(new Services.ArtistArtefactImageTupleComparer());
                                                        }
                                                        @foreach (var item in test)
                                                        {
                                                            var imageAlt = item.Artefact.ToDisplay();
                                                            if (item.Artist != null)
                                                            {
                                                                imageAlt += " by " + item.Artist.FullName2;
                                                            }
                                                            <div>
                                                                <a href="/Artefact/ViewDetail/@item.Artefact.Guid">
                                                                    <img alt="@imageAlt" src="@item.Image.VirtualPath().Replace("~", "")?width=500&mode=crop" />
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Medium">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (mediums.Any())
                                            {
                                                foreach (var group in mediums.OrderBy(x => x.First().ArtefactType.Name))
                                                {
                                                    var medium = group.First().ArtefactType;
                                                    <h3 class="container-heading">
                                                        @medium.Name
                                                    </h3>
                                                    <div class="justified-small">
                                                        @foreach (var item in group.Distinct(new Services.ArtistArtefactImageTupleComparer()))
                                                        {
                                                            var imageAlt = item.Artefact.ToDisplay();
                                                            if (item.Artist != null)
                                                            {
                                                                imageAlt += " by " + item.Artist.FullName2;
                                                            }
                                                            <div>
                                                                <a href="/Artefact/ViewDetail/@item.Artefact.Guid">
                                                                    <img alt="@imageAlt" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Tours">
                    @if (hasTours)
                    {
                        var group = Model.Tours.GroupBy(x => x.Location.Name);
                        foreach (var item in group)
                        {
                            var row = item.First();
                            var location = row.Location;
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="container-heading">
                                        @location.Name
                                        @if (row.Inside.Any())
                                        {
                                            <small>
                                                @string.Join(", ", row.Inside.Select(x => x.Name))
                                            </small>
                                        }
                                    </h3>
                                    @foreach (var subitem in item)
                                    {
                                        <h4>
                                            <a href="/Tour/ViewDetail/@subitem.Tour.Guid">@subitem.Tour.ToDisplay()</a>
                                        </h4>
                                        if (subitem.Artworks != null && subitem.Artworks.Any())
                                        {
                                            <div class="justified">
                                                @{
                                            var artworks = subitem.Artworks.SelectMany(x => x.ArtefactWithImages.Select(x2 => new { Artist = x.Artist, Artefact = x2.Artefact, Image = x2.Image })).Where(x => x.Artefact != null && x.Artist != null && x.Image != null);
                                                }
                                                @foreach (var art in artworks)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@art.Artefact.Guid">
                                                            <img alt="@art.Artefact.ToDisplay() by @art.Artist.FullName2" src="@art.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Exhibitions">
                    @if (hasExhibitions)
                    {
                        var group = Model.Exhibitions.GroupBy(x => x.Location.Name);
                        foreach (var item in group)
                        {
                            var row = item.First();
                            var location = row.Location;
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="container-heading">
                                        @location.Name
                                        @if (row.Inside.Any())
                                        {
                                            <small>
                                                @string.Join(", ", row.Inside.Select(x => x.Name))
                                            </small>
                                        }
                                    </h3>
                                    @foreach (var subitem in item)
                                    {
                                        <h4>
                                            <a href="/Exhibition/ViewDetail/@subitem.Exhibition.Guid">@subitem.Exhibition.ToDisplay()</a>
                                            at
                                            <a href="/Artefact/ViewDetail/@subitem.Collection.Guid">@subitem.Collection.ToDisplay()</a>
                                            @subitem.Detail.ToDates()
                                            @if (subitem.Detail.IsOnNow())
                                            {
                                                <span class="label label-success">On Now!</span>
                                            }
                                            else if (subitem.Detail.Coming())
                                            {
                                                <span class="label label-info">Coming</span>
                                            }
                                            else if (subitem.Detail.IsOver())
                                            {
                                                <span class="label label-default">Closed</span>
                                            }
                                            else if (subitem.Detail.IsFinishing())
                                            {
                                                <span class="label label-warning">Closing</span>
                                            }
                                        </h4>
                                        if (subitem.Artworks != null && subitem.Artworks.Any())
                                        {
                                            <div class="justified">
                                                @{
                                            var artworks = subitem.Artworks.SelectMany(x => x.ArtefactWithImages.Select(x2 => new { Artist = x.Artist, Artefact = x2.Artefact, Image = x2.Image })).Where(x => x.Artefact != null && x.Artist != null && x.Image != null);
                                                }
                                                @foreach (var art in artworks)
                                                {
                                                    <div>
                                                        <a href="/Artefact/ViewDetail/@art.Artefact.Guid">
                                                            <img alt="@art.Artefact.ToDisplay() by @art.Artist.FullName2" src="@art.Image.VirtualPath().Replace("~","")?height=300&mode=crop" />
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
                <div role="tabpanel" class="tab-pane" style="background-color: white;" id="Timeline">
                    @if (hasTimeline)
                    {
                        <div id="Timeline" style="padding: 40px;">
                            <div class="row">
                                <div class="col-md-6">
                                    @foreach (var group in Model.Timeline.OrderBy(x => x.Act.Year).GroupBy(x => x.Act.Year))
                                    {
                                        int lastMonth = 0;
                                        var lastDay = 0;
                                        var first = group.First().Act;
                                        var year = first.Decade ? first.Year.Value.ToString() + "s" : first.Year.Value.ToString();
                                        <div class="shadow-z-1" style="padding: 20px; padding-left: 40px; margin: 20px;">
                                            <h2>
                                                @year
                                            </h2>
                                            @foreach (var newAct in group.OrderBy(x => x.Act.Month).ThenBy(x => x.Act.Day))
                                            {
                                                if (newAct.Act.Month.HasValue && newAct.Act.Month.Value != lastMonth)
                                                {
                                                    lastMonth = newAct.Act.Month.Value;
                                                    lastDay = 0;
                                                }
                                                if (newAct.Act.Day.HasValue && newAct.Act.Day.Value != lastDay)
                                                {
                                                    lastDay = newAct.Act.Day.Value;
                                                }
                                                if (newAct.Act.Month.HasValue)
                                                {
                                                    <h4>
                                                        @Month(lastMonth) @(lastDay > 0 ? lastDay.ToString() : "")
                                                    </h4>
                                                }
                                                <div id="act-@newAct.Act.Guid">
                                                    @{
                                                var importance = newAct.Act.Importance == Importance.Small ? "font-size: 0.9em;" : newAct.Act.Importance == Importance.Big ? "font-size: 1.5em;" : "";
                                                    }
                                                    <div style="position: relative;">
                                                        <div>
                                                            <span>
                                                                @Html.Raw(newAct.ToHtml())
                                                            </span>

                                                        </div>
                                                        <div style="position: absolute; left: -30px; top: 0px;">
                                                            @{
                                                var starClass = "glyphicon-bookmark";
                                                var starStyle = newAct.Bookmarked ? "color: red; " : "";
                                                var clockStyle = newAct.InItinerary ? "color: red;" : "";
                                                            }
                                                            <a href="#" onclick="addBookmark(this); return false;" data-bookmarked="@newAct.Bookmarked.ToString().ToLower()" data-guid="@newAct.Act.Guid" data-type="Act"><span style="@starStyle font-size: 1.5em;" class="glyphicon @starClass"></span></a>
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="row" style="margin-top: 20px;">
                                        <h3>
                                            Filter by <span id="filtering-by"></span>
                                        </h3>
                                        <div class="col-md-8">
                                            @{
                        var filterGrouping = Model.Timeline
                            .SelectMany(x => x.EntityImages)
                            .Where(x => x.Entity != null)
                            .Distinct(new Services.EntityImageComparer())
                            .GroupBy(x => x.Entity.GetType().UnderlyingSystemType.Name);
                                            }
                                            @if (filterGrouping.Any())
                                            {

                                                foreach (var group in filterGrouping)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4 class="perforation">
                                                                @EntityTypeName(group.Key)
                                                            </h4>
                                                            <div style="float: left;" class="two-cols">
                                                                @foreach (var item in group.OrderBy(x => NameOf(x.Entity)))
                                                                {
                                                                    <div>
                                                                        <a href="#" data-name="@NameOf(item.Entity)" data-filtering="false" data-entity="@(string.Format("{0}-{1}", item.Entity.GetType().UnderlyingSystemType.Name, item.Entity.Guid))" onclick="toggleTimeline(this); return false;">
                                                                            @NameOf(item.Entity)
                                                                        </a>
                                                                        @if (item.Attributes.Any())
                                                                        {
                                                                            <small>@string.Join(", ", item.Attributes.Select(x => x.Name.ToLower()))</small>
                                                                        }
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                        <div class="col-md-4">
                                            @{
                        var attributes = Model.Timeline
                            .SelectMany(x => x.EntityImages.SelectMany(x2 => x2.Attributes))
                            .Where(x => x != null)
                            .Distinct(new CodexMVC.Areas.Admin.Controllers.CategoryComparer())
                            ;
                                            }
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="perforation">
                                                        any kind of
                                                    </h4>
                                                    <div style="float: left;">
                                                        @foreach (var item in attributes.OrderBy(x => x.Name))
                                                        {
                                                            <div>
                                                                <a href="#" data-name="@item.Name.ToLower()" data-filtering="false" data-entity="@(string.Format("Category-{0}", item.Guid))" onclick="toggleTimeline(this); return false;">
                                                                    @(item.Name.ToLower())
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-12">
                                            @{
                        var entities = Model.Timeline
                            .SelectMany(x => x.EntityImages.Where(x2 => x2.Image != null))
                            .Distinct(new Services.EntityImageComparer());
                                            }
                                            @if (entities.Any())
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h4>artworks</h4>
                                                        <div class="justified-small">
                                                            @foreach (var item in entities)
                                                            {
                                                                <div>
                                                                    <a href="/Artefact/ViewDetail/@item.Entity.Guid">
                                                                        <img alt="@NameOf(item.Entity)" src="@item.Image.VirtualPath().Replace("~", "")?width=350&mode=crop" />
                                                                    </a>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@GoogleMapsAPIKey">
</script>
    <script src="~/Scripts/google.maps.markerclusterer.js"></script>
    <script src="~/Scripts/google.maps.cluster.js"></script>
    <script>
        @if (Model.Place.Latitude.HasValue) {
            var artworks = Model.Artists.SelectMany(x => x.ArtefactWithImages.Select(x2 =>
            {
                var lat = x2.Container != null && x2.Container.Latitude.HasValue ? x2.Container.Latitude.Value : x2.Location.Latitude.Value;
                var lng = x2.Container != null && x2.Container.Longitude.HasValue ? x2.Container.Longitude.Value : x2.Location.Longitude.Value;
                return new Services.ArtefactMarker
                {
                    Artist  = x.Agent,
                    Artwork = x2.Artefact,
                    Latitude = lat,
                    Longitude = lng,
                    ContainerName = x2.Container.ToDisplay() + " <a href='/Artefact/ViewDetail/" + x2.Container.Guid + "' class='btn btn-default btn-sm'>see all</a> <a href='//maps.google.com/maps?daddr=" + lat + "," + lng + "' class='btn btn-default btn-sm'>map</a>"
                };
            })).Distinct(new Services.ArtefactMarkerComparer());
            var geoGrouping = artworks
                .GroupBy(x => x.Latitude.ToString() + ":" + x.Longitude.ToString())
                .Select(x => new
                {
                    Latitude = x.First().Latitude,
                    Longitude = x.First().Longitude,
                    ContainerName = x.First().ContainerName,
                    ArtistWithArtworks = x.GroupBy(x2 => x2.Artist.Guid)
                            .Select(x2 => new
                            {
                                Artist = new {
                                    Guid = x2.First().Artist.Guid,
                                    FullName2 = x2.First().Artist.FullName2,
                                    Rating = x2.First().Artist.Rating
                                },
                                Artworks = x2.Select(x3 => new {
                                    Guid = x3.Artwork.Guid,
                                    Name = x3.Artwork.Name,
                                    Rating = x3.Artwork.Rating
                                })
                            })
                });
            var heatData = geoGrouping
                .Select(x => new
                {
                    Weight = x.ArtistWithArtworks.Sum(x2 => x2.Artworks.Sum(x3=> x3.Rating??1) * (x2.Artist.Rating??1)),
                    Latitude = x.Latitude,
                    Longitude = x.Longitude
                });
            var markerData = geoGrouping
                .Select(x => new
                {
                    Latitude = x.Latitude,
                    Longitude = x.Longitude,
                    Content = string.Join("", x.ArtistWithArtworks.Select(x2 =>
                    {
                        var art = string.Join("", x2.Artworks.Select(x3 => "<div><a href='/Artefact/ViewDetail/" + x3.Guid + "'>" + x3.Name + "</a></div>"));
                        return "<p><b><a href='/Agent/ViewDetail/" + x2.Artist.Guid + "'>" + x2.Artist.FullName2 + "</a></b>" + art + "</p>";
                    })),
                    Title = x.ContainerName
                });
            <text>
        /**
        Globals
        **/
        var ModeEnum = {
            "Markers":"Markers",
            "Heatmap":"Heatmap"
        };
        var Mode = ModeEnum.Markers;
        var mapMarkers = [], map, heatmap, markerCluster;
        function initialiseArtworkMap() {
            var mapOptions = {
                zoom: 14
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var markerData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(markerData));
            createMarkers(markerData, map);
        }
        function createMarkers(markerData, map) {
            var markers = mapMarkers = select(markerData, function(item) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(item.Latitude, item.Longitude)
                });
                var infowindow = new google.maps.InfoWindow({
                    content: $("<div id=\"content\" style='min-height: 150px; width: 600px;'><div id='bodyContent'><div><b>{title}</b></div><div style='-webkit-column-count: 1;'>{content}</div></div></div>".fmt({
                        content: item.Content,
                        title: item.Title
                    }))[0]
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
                return marker
            });
            markerCluster = new MarkerClusterer(map, markers);
            var bounds = new google.maps.LatLngBounds();
            each(markers, function(marker) {
                bounds.extend(marker.getPosition());
            });
            map.fitBounds(bounds);
            var heatmapData = @Html.Raw(Json.Encode(heatData));
            var heatmapTransformed = select(heatmapData, function(item){
                return {
                    location: new google.maps.LatLng(item.Latitude, item.Longitude),
                    weight: item.Weight
                };
            });
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapTransformed
            });
            heatmap.set('radius', 30);
            heatmap.set('dissipating', true);
        }
        var select = app.Utils.select;
        var find = app.Utils.find;
        var each = app.Utils.each;
        function toggle(){
            if (Mode == ModeEnum.Heatmap){
                // show markers, hide heatmap
                Mode = ModeEnum.Markers;
                toggleMarkers();
            }
            else {
                // show heatmap, hide markers
                Mode = ModeEnum.Heatmap;
                toggleHeatmap();
            }
        }
        function toggleMarkers() {
            each(mapMarkers, function(m){
                m.setMap(map);
            });
            markerCluster.addMarkers(mapMarkers);
            heatmap.setMap(null);
        }
        function toggleHeatmap() {
            heatmap.setMap(map);
            each(mapMarkers, function(m){
                m.setMap(null);
            });
            markerCluster.clearMarkers();
        }
        function toggleMapExpansion(link) {
            var expando = $("#map-expando");
            var $map = $("#map");
            var height = parseInt($map.css("height"));
            var isContracted = height == 300;
            if (isContracted) {
                expando.removeClass("glyphicon-resize-full");
                expando.addClass("glyphicon-resize-small");
            }
            else{
                expando.removeClass("glyphicon-resize-small");
                expando.addClass("glyphicon-resize-full");
            }
            $map.css("height", isContracted ? "600px" : "300px");
            google.maps.event.trigger(map, "resize");
        }
        if (typeof window.google != "undefined"){
            initialiseArtworkMap();
        }
        </text>
        }
    </script>
    <script>
        $(".justified").justifiedGallery({
            rowHeight : 300,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 1,
                nonVisibleOpacity: 1
            }
        });
        $(".justified-small").justifiedGallery({
            rowHeight : 200,
            lastRow : 'nojustify',
            margins : 3,
            captionSettings:	{
                animationDuration: 500,
                visibleOpacity: 1,
                nonVisibleOpacity: 1
            }
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $(".justified").justifiedGallery({
                rowHeight : 300,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 1,
                    nonVisibleOpacity: 1
                }
            });
            $(".justified-small").justifiedGallery({
                rowHeight : 200,
                lastRow : 'nojustify',
                margins : 3,
                captionSettings:	{
                    animationDuration: 500,
                    visibleOpacity: 1,
                    nonVisibleOpacity: 1
                }
            });
        });
    </script>
}
