﻿@model IEnumerable<Services.ArtistWithArtefactImage>
@if (Model != null && Model.Any())
{
    foreach (var item in Model.OrderBy(x => x.Artist.FullName))
    {
        <li>
            <a href="/Agent/ViewDetail/@item.Artist.Guid">@item.ArtefactWithImages.Count() new works by @item.Artist.FullName2</a>
        </li>
    }
}