﻿@model CodexMVC.Models.UniversalSearchModel
<div>
    @if (Model.Results != null)
    {
        if (Model.Results.Artists.Any())
        {
            <div class="row">
                <h3 class="heading">Artists</h3>
                <ul>
                    @foreach (var item in Model.Results.Artists)
                    {
                        <li>@Html.Raw(item.ToUniversalSearchHtmlDisplay())</li>
                    }
                </ul>
            </div>
        }
        if (Model.Results.Places.Any())
        {
            <div class="row">
                <h3 class="heading">Places</h3>
                <ul>
                    @foreach (var place in Model.Results.Places)
                    {
                        <li><a href="/Place/ViewDetail/@place.Guid">@place.ToDisplay()</a></li>
                    }
                </ul>
            </div>
        }
        if (Model.Results.Artefacts.Any())
        {
            <div class="row">
                <h3 class="heading">Artworks</h3>
                @{
            var withoutCreator = Model.Results.Artefacts.Where(x => x.Creator == null);
            var grouping = Model.Results.Artefacts.Where(x => x.Creator != null).OrderBy(x => x.Creator.FullName).GroupBy(x => x.Creator.Guid);
                }
                @if (withoutCreator.Any())
                {
                    <ul>
                        @foreach (var item in withoutCreator.OrderBy(x => x.Artefact.Name))
                        {
                            <li>
                                <a href="/Artefact/ViewDetail/@item.Artefact.Guid" target="_blank">@Html.Raw(item.ToHtmlDisplay())</a>
                            </li>
                        }
                    </ul>
                }
                @foreach (var group in grouping)
                {
                    <h4>
                        <b>
                            <a href="/Agent/ViewDetail/@group.First().Creator.Guid" target="_blank">
                                @group.First().Creator.FullName2
                            </a>
                        </b>
                    </h4>
                    <ul>
                        @foreach (var item in group.OrderBy(x => x.Artefact.Name))
                        {
                            <li>
                                @if (item.Subject != null)
                                {
                                    <span>
                                        On the subject of <b>@item.Subject.Name</b>:
                                    </span>
                                }
                                @if (item.RepresentsAgent != null)
                                {
                                    <span>
                                        Represents <b>@item.RepresentsAgent.FullName2</b>:
                                    </span>
                                }
                                @Html.Raw(item.ToHtmlDisplay())
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    }
    else
    {
        <h4>No results</h4>
    }
</div>