﻿<script type="text/html" id="person-stack-template">
    @Html.Partial("~/Views/Templates/Stacks/AgentStack.cshtml")
</script>
<script type="text/html" id="place-stack-template">
    @Html.Partial("~/Views/Templates/Stacks/PlaceStack.cshtml")
</script>
<script type="text/html" id="thing-stack-template">
    @Html.Partial("~/Views/Templates/Stacks/ArtworkStack.cshtml")
</script>
<script type="text/html" id="category-stack-template">
    @Html.Partial("~/Views/Templates/Stacks/CategoryStack.cshtml")
</script>
