﻿<div class="animated fadeInDown">
    <h3>Place Manager</h3>
    <div data-bind="if: $data.state.isNone">
        <label>Select a place to edit</label>
        <ul data-bind="foreach: $data.entities">
            <li data-bind="text: $data.Name, click: $parent.entitySelected.bind($parent)"></li>
        </ul>
    </div>
    <div>
        <label>Or</label>
        <button data-bind="click: $data.addNewEntityClicked">+ Place</button>
    </div>
    <div data-bind="if: $data.state.isEdit">
        <div data-bind="if: $data.editStackIsReady">
            <div data-bind="template: { name: 'place-stack-template', data: $data.editStack }"></div>
        </div>
    </div>
    <div data-bind="if: $data.state.isNew">
        <div>
            <label>Name:</label>
            <input type="text" data-bind="value: $data.model.name" />
        </div>
        <button data-bind="click: $data.saveEntityClicked">Save</button>
    </div>
</div>
