﻿<div class="animated fadeInDown">
    <h3>Artwork Manager</h3>
    <div data-bind="if: $data.state.isNone">
        <label>Select a thing to edit</label>
        <ul data-bind="foreach: $data.things">
            <li data-bind="text: $data.Name, click: $parent.thingSelected.bind($parent)"></li>
        </ul>
    </div>
    <div>
        <label>Or</label>
        <button data-bind="click: $data.addNewArtworkClicked">Add New Artwork</button>
    </div>
    <div data-bind="if: $data.state.isEdit">
        <div data-bind="if: $data.editArtworkStackIsReady">
            <div data-bind="template: { name: 'thing-stack-template', data: $data.editArtworkStack }"></div>
        </div>
    </div>
    <div data-bind="if: $data.state.isNew">
        <div>
            <label>Name:</label>
            <input type="text" data-bind="value: $data.model.name" />
        </div>
        <button data-bind="click: $data.saveArtworkClicked">Save</button>
    </div>
</div>
