﻿@model CodexMVC.Models.AddExhibitionModel

@{
    ViewBag.Title = "Add an art exhibition";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    form label small {
        color: #888;
        font-weight: 200;
    }
</style>

<h2>Add an art exhibition</h2>

@using (Html.BeginForm("Add", "Exhibition"))
{
    <div id="main-template" class="artwork-form">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Article <small>e.g., 'The', 'A'</small></label>
                @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Article)
            </div>
            <div class="form-group col-md-10">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", data_bind = "value: $data.name" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Importance <small>A <strong style="color: red;">5 star</strong> work is a must see for everyone and a <strong style="color: red;">1 star</strong> work is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the work <em>might not</em> appear in an image stream</small></label>
                @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <h3>Starts on</h3>
                    <div class="col-md-4">
                        <label>Year</label>
                        @Html.DropDownListFor(x => x.YearStart, new SelectList(Model.Years, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.MonthStart, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label>Day</label>
                        @Html.DropDownListFor(x => x.DayStart, new SelectList(Model.Days, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3>Finishes on <small>Optional</small></h3>
                    <div class="col-md-4">
                        <label>Year</label>
                        @Html.DropDownListFor(x => x.YearEnd, new SelectList(Model.Years, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.MonthEnd, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <label>Day</label>
                        @Html.DropDownListFor(x => x.DayEnd, new SelectList(Model.Days, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            Url
                        </label>
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Url)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Located in <small>Where it is being held</small></label>
                @Html.DropDownListFor(x => x.LocatedInGuid, new SelectList(Model.Collections, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Style <small>Such as Renaissance, Baroque, Romanticism</small></label>
                @Html.DropDownListFor(x => x.StyleGuid, new SelectList(Model.Styles, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                <label>Type of art <small>Such as landscape, portraiture, sketches</small></label>
                @Html.DropDownListFor(x => x.GenreGuid, new SelectList(Model.Genres, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <h3>Artists <small>Optional</small></h3>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist1Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist2Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artist3Guid, new SelectList(Model.Artists, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <h3>Artworks <small>Optional</small></h3>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork1Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork2Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-4">
                @Html.DropDownListFor(x => x.Artwork3Guid, new SelectList(Model.Artworks, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(".rating").rating({
            min: 1, max: 5, size: "lg", step: 1
        });
    </script>
}