﻿@model CodexMVC.Models.ViewExhibitionList
@{
    ViewBag.Title = "Exhibitions";
    ViewBag.Section = "Exhibition";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>

<div class="page-header">
    <h1>Exhibitions</h1>
</div>

<div>
    <a href="/Admin/Exhibition/Add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
</div>

@*<div class="row">
        <div class="col-md-12">
            <a href="/Agent/List?mode=ByArtist" class="btn btn-default">Alphabetical</a>
            <a href="/Agent/List?mode=ByCitizenship" class="btn btn-default">By Place</a>
            <a href="/Agent/List?mode=ByRepresentativeOf" class="btn btn-default">By Style</a>
            <a href="/Agent/List?mode=ByAttribute" class="btn btn-default">By Profession</a>
            <a href="/Agent/List?mode=ByDateOfBirth" class="btn btn-default">By Date</a>
        </div>
    </div>*@

@if (Model.Exhibitions != null && Model.Exhibitions.Any())
{
    <ul>
        @foreach (var subitem in Model.Exhibitions.OrderBy(x => x.Exhibition.Name))
        {
            <li>
                <h4>
                    <a href="/Admin/Exhibition/ViewDetail/@subitem.Exhibition.Guid">@subitem.Exhibition.ToDisplay()</a>
                    <span>
                        at @subitem.Collection.Name in @subitem.Location.Name
                    </span>
                </h4>
            </li>
        }
    </ul>
}