﻿@model CodexMVC.Models.EditCitedIn
@{
    var isNew = Model.CitedInGuid == null;
    var mode = isNew ? "Add" : "Edit";
    var button = isNew ? "Create" : "Update";
    var title = mode + " is cited in";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="float: right; padding-left: 50px;">
    <a href="/Agent/List">Agents</a> /
    <a href="/Agent/ViewDetail?guid=@Model.Agent.Guid">@Model.Agent.Name</a>
</div>
<h2>@title</h2>
@using (Html.BeginForm(Model.EditActionName, "Agent"))
{
    @Html.HiddenFor(x => x.ActGuid)
    @Html.HiddenFor(x => x.Agent.Guid)
    @Html.HiddenFor(x => x.CitedInGuid)
    <div>
        <label>Cited In:</label>
        @Html.DropDownListFor(x => x.Citation.Guid, new SelectList(Model.Artefacts, "Value", "Text"))
    </div>
    <button type="submit">@button</button>
}