﻿@model CodexMVC.Models.EditAgent

@{
    var isEdit = Model.AgentGuid != null;
    var mode = Model.AgentGuid == null ? "Add" : "Edit";
    ViewBag.Title = mode + " agent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/Admin/Agent/List">List</a></li>
    @if (isEdit)
    {
        <li><a href="/Admin/Agent/ViewDetail?guid=@Model.AgentGuid">@Model.Name</a></li>
    }
    <li class="active">@mode</li>
</ol>
<div class="page-header">
    <h1>@mode</h1>
</div>
@using (Html.BeginForm("Edit", "Agent"))
{
    @Html.HiddenFor(x => x.AgentGuid)
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Article)
        @Html.TextBoxFor(x => x.Article, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Article)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LastName)
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Importance <small>A <strong style="color: red;">5 star</strong> agent is a must see for everyone and a <strong style="color: red;">1 star</strong> agent is of specialist interest; anything below <strong style="color: red;">4 stars</strong> means the agent <em>might not</em> appear in an image stream</small></label>
            @Html.TextBoxFor(x => x.Rating, new { @class = "form-control rating" })
        </div>
        <div class="col-md-6 form-group">
            <div class="row">
                <h4>Sex</h4>
                <div class="col-md-4">
                    @Html.RadioButtonFor(x => x.Sex, "Male")
                    <label>Male</label>
                </div>
                <div class="col-md-4">
                    @Html.RadioButtonFor(x => x.Sex, "Female")
                    <label>Female</label>
                </div>
                <div class="col-md-4">
                    @Html.RadioButtonFor(x => x.Sex, "None")
                    <label>None</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            @Html.LabelFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description, new { rows = 20, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        
    </div>
    <div class="form-group">
        @Html.ValidationMessage("Names")
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-lg btn-primary">Save</button>
    </div>
}