﻿@model CodexMVC.Models.EditAlias
@{
    var title = "Add/Edit alias";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="float: right; padding-left: 50px;">
    <a href="/Agent/List">Agents</a> /
    <a href="/Agent/ViewDetail?guid=@Model.Agent.Guid">@Model.Agent.FullName</a>
</div>
<h2>@title</h2>
@using (Html.BeginForm("EditAlias", "Agent"))
{
    @Html.HiddenFor(x => x.Agent.Guid)
    <div>
        <label>
            Alias:
        </label>
        @Html.TextBoxFor(x => x.Alias)
    </div>
    if (Model.Agent.Aliases != null)
    {
        <div>
            <label>Aliases:</label>
            <ul>
                @foreach (var alias in Model.Agent.Aliases)
                {
                    <li>
                        @alias [<a href="/Agent/DeleteAlias?agentGuid=@Model.Agent.Guid&alias=@alias" onclick="return confirm('Are you sure you want to delete this alias?');">delete</a>]
                    </li>
                }
            </ul>
        </div>
    }
    <button type="submit">Save</button>
}