﻿@model CodexMVC.Models.ViewSearchResults
@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Search Results</h2>

@if (Model.Artefacts != null && Model.Artefacts.Any())
{
    <div class="row">
        <ul>
            @foreach (var item in Model.Artefacts)
            {
                <li>
                    <a href="/Admin/Artefact/ViewDetail?guid=@item.Artefact.Guid">
                        @item.Artefact.Name
                    </a>, @(item.Is.Any() ?  item.Is.FirstOrDefault().Name.ToLower() : "") by @item.Owner.FullName2
                </li>
            }
        </ul>
    </div>
}

