﻿@using Services.Helpers
@using Data.Entities
@using CodexMVC.Models
@using System.Linq
@model EditAct
@{
    var editing = Model.NewAct != null;
    ViewBag.Title = "Edit Act";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var StatedBy = Session["StatedBy"] as List<Data.Agent>;
    var DataSets = (List<SelectListItem>)ViewBag.DataSets;
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<h2>Edit Act</h2>

@using (Html.BeginForm("EditAct", "Act"))
{
    @Html.HiddenFor(x => x.Act.Guid)
    @Html.HiddenFor(x => x.Act.Created)
    @Html.HiddenFor(x => x.Attachments)
    if (Model.Act.Guid != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Rendered <small>What this act looks like in the timeline</small></h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                @{
        var markdown = new MarkdownDeep.Markdown();
                                }
                                @Html.Raw(markdown.Transform(Model.NewAct.ToHtml()))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 field-validation-error">
            @Html.ValidationSummary()
        </div>
    </div>
    <div style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>
                        Significance <small>Determines which timeline the act belongs to. <b>Historic</b> is historic significance, <b>Personal</b> is important personal moments, and <b>Small</b> is personal minutiea.</small>
                    </h4>
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Significance, Significance.Historic)
                    @Html.LabelFor(x => x.Act.Significance, "Historic")
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Significance, Significance.Personal)
                    @Html.LabelFor(x => x.Act.Significance, "Personal")
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Significance, Significance.Minutiea)
                    @Html.LabelFor(x => x.Act.Significance, "Minutiea")
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>
                        Importance <small>Determines the styling (size) of the act <em>within</em> the selected timeline</small>
                    </h4>
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Importance, Importance.Big)
                    @Html.LabelFor(x => x.Act.Importance, "Big")
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Importance, Importance.Medium)
                    @Html.LabelFor(x => x.Act.Importance, "Medium")
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Importance, Importance.Small)
                    @Html.LabelFor(x => x.Act.Importance, "Small")
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>Experiencability <small>Denotes whether the act is something that can still be meaningfully 'experienced' in situ today. 'Yes' means that if you are at the location you might receive a notification about the act having taken place there</small></h4>
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Experienceable, "true")
                    <label>Yes</label>
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Experienceable, "false")
                    <label>No</label>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <div class="row">
            <div class="col-md-6 ">
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(x => x.Act.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Act.Name)
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>Container? <small>Denotes whether this is act containers other subsidiary acts. If it is, a <strong>Title</strong> is required to identify it</small></h4>
                </div>

                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Container, "true")
                    <label>Yes</label>
                </div>
                <div class="col-md-2 form-group">
                    @Html.RadioButtonFor(x => x.Act.Container, "false")
                    <label>No</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <h4>Text <small>To link to an entity select their name (or some text), right-click the mouse, and select the correct item from the lists returned</small></h4>
                @Html.TextAreaFor(x => x.Act.Description, new { rows = 10, data_provide = "markdown-editable", data_autofocs = "true", @class = "form-control input-lg", oncontextmenu = "onTextAreaRightClick(this); return false;" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <h4>
                            Historical Source <small>Specify whether the source is <b>Primary</b> (first-hand accounts or documents) or <b>Supposition</b> (analyses, summaries, reviews, and speculation).</small>
                        </h4>
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.RadioButtonFor(x => x.Act.HistoricalSource, HistoricalSource.Primary)
                        @Html.LabelFor(x => x.Act.HistoricalSource, "Primary")
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.RadioButtonFor(x => x.Act.HistoricalSource, HistoricalSource.Supposition)
                        @Html.LabelFor(x => x.Act.HistoricalSource, "Supposition")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Tags <small>Each tag should be separated by a comma</small></label>
                    @Html.HiddenFor(x => x.Tags)
                    <input type="text" class="form-control typeahead" id="TagText" />
                    <button type="button" onclick="addTagClicked(); return false;">Add Tags</button>
                    <div id="tags-template">
                        <!-- ko if: $data.items().length == 0 -->
                        <p>
                            <b>None</b>
                        </p>
                        <!-- /ko -->
                        <!-- ko foreach: $data.items -->
                        <p style="padding:5px; border-radius: 5px; margin-right: 5px; border: 1px solid #ccc; float: left;">
                            <span data-bind="text: $data.Name"></span> <span data-bind="click: $parent.remove.bind($parent)"><span class="glyphicon glyphicon-trash"></span></span>
                        </p>
                        <!-- /ko-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Attach videos and images</h4>
                            <a href="/Admin/Video/Add" target="_blank" class="btn btn-default">+ Video</a>
                            <a href="/Admin/Image/Add" target="_blank" class="btn btn-default">+ Image</a>
                            <button class="btn btn-default" onclick="attachClicked('VideoContext'); return false;">Attach</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Attachments</h4>
                            <div id="context-box">
                                <div id="attachments-template">
                                    <!-- ko if: $data.items().length == 0 -->
                                    <p>
                                        <b>None</b>
                                    </p>
                                    <!-- /ko -->
                                    <!-- ko foreach: $data.items -->
                                    <p style="padding:5px; border-radius: 5px; border: 1px solid #ccc;">
                                        <span data-bind="text: $data.Name"></span> <span data-bind="click: $parent.remove.bind($parent)"><span class="glyphicon glyphicon-trash"></span></span>
                                    </p>
                                    <!-- /ko-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>
                Data Sets
            </label>
            <a class="btn btn-default" href="/Admin/DataSet/Add" target="_blank">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <div class="row">
                <div class="col-md-11">
                    @Html.DropDownList("DataSet", DataSets, new { @class = "form-control" })
                </div>
                <div class="col-md-1">
                    <a href="#" onclick="refreshDataSetsClicked(); return false;" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
            </div>
            <button class="btn btn-default" onclick="return addPointClicked();">Add Point to Data Set</button>
        </div>
    </div>
    <div style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <label>
                    Contained in
                </label>
                @Html.HiddenFor(x => x.SubsetOf.RelationToDestinationGuid)
                @Html.DropDownListFor(x => x.SubsetOf.Destination.Guid, new SelectList(Model.Containers, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <h3>
        Source
    </h3>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Section<small>e.g., page number</small></label>
                @Html.TextBoxFor(x => x.Act.Source, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <label>
                Agent
            </label>
            <input type="text" class="form-control typeahead" id="StatedByText" value="@(Model.NewAct != null && Model.NewAct.StatedBy != null ? Model.NewAct.StatedBy.FullName2 : "")" />
            @Html.HiddenFor(x => x.StatedByGuid)
            @Html.HiddenFor(x => x.StatedByRelationGuid)
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Text</label>
                @Html.HiddenFor(x => x.HasSourceGuid)
                @Html.DropDownListFor(x => x.SourceGuid, new SelectList(Model.Sources, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @if (StatedBy != null && StatedBy.Any())
            {
                <label>
                    Recent Selections
                </label>
                @Html.DropDownList("StatedByMultiple", StatedBy.Select(x => new SelectListItem { Text = x.FullName2, Value = x.Guid }).ToList(), new { id = "StatedByMultiple", multiple = "multiple", rows = 5, @class = "form-control" })
            }
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-12">
                <button type="Submit" class="btn btn-default btn-primary btn-lg">Save</button>
                <a href="/Admin/Act/AddAct" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-6">
            <h3>From</h3>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.On)
                        @Html.LabelFor(x => x.ProximityModel, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityModel, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityModel, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityModel, Proximity.After)
                        @Html.LabelFor(x => x.ProximityModel, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Act.Milennium, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Act.Year, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Act.Year)
                        @Html.CheckBoxFor(x => x.Act.Decade)
                        @Html.LabelFor(x => x.Act.Decade, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Act.Month, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Act.Day, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Act.Hour, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Act.Minute, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>To</h3>
            <div class="row">
                <div class="col-md-12  form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.On)
                        @Html.LabelFor(x => x.ProximityEndModel, "On")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.Around)
                        @Html.LabelFor(x => x.ProximityEndModel, "Around")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.Before)
                        @Html.LabelFor(x => x.ProximityEndModel, "Before")
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.ProximityEndModel, Proximity.After)
                        @Html.LabelFor(x => x.ProximityEndModel, "After")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>AD/BC</label>
                        @Html.DropDownListFor(x => x.Act.MilenniumEnd, new SelectList(Model.Milennia, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Year</label>
                        @Html.TextBoxFor(x => x.Act.YearEnd, new { @class = "form-control" })
                        @Html.CheckBoxFor(x => x.Act.DecadeEnd)
                        @Html.LabelFor(x => x.Act.DecadeEnd, "Decade?")
                    </div>
                    <div class="col-md-3">
                        <label>Month</label>
                        @Html.DropDownListFor(x => x.Act.MonthEnd, new SelectList(Model.Months, "Value", "Text"), new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Day</label>
                        @Html.TextBoxFor(x => x.Act.DayEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Hour</label>
                        @Html.TextBoxFor(x => x.Act.HourEnd, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <label>Minute</label>
                        @Html.TextBoxFor(x => x.Act.MinuteEnd, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="entity-lookup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Search / Quick Add</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>
                                Search <small>Try typing in the entity name if you hadn't selected a name just before</small>
                            </label>
                            <input type="text" class="form-control" data-bind="value: $data.search, valueUpdate: 'afterkeydown', enterkey: $data.searchClicked" placeholder="..." />
                            <button type="button" class="btn btn-default btn-primary" data-bind="click: $data.searchClicked">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" data-bind="click: $data.agentModeSelected()">
                                <span class="glyphicon glyphicon-plus"></span> Agent
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" data-bind="click: $data.artefactModeSelected()">
                                <span class="glyphicon glyphicon-plus"></span> Artefact
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" data-bind="click: $data.placeModeSelected()">
                                <span class="glyphicon glyphicon-plus"></span> Place
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span data-bind="text: $data.resultText"></span>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: $data.mode() == 'Agent'">
                        <div class="col-md-12">
                            <h4>
                                Quick add: Agent
                            </h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Full name
                                    </label>
                                    <input type="text" data-bind="value: $data.agent.fullname" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        First name
                                    </label>
                                    <input type="text" data-bind="value: $data.agent.firstname" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Last name
                                    </label>
                                    <input type="text" data-bind="value: $data.agent.lastname" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>
                                        Citizen of
                                    </label>
                                    @Html.DropDownList("Agent.CitizenshipGuid", Model.Places, new { @class = "form-control", data_bind = "value: $data.agent.citizenshipGuid" })
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        Profession
                                    </label>
                                    @Html.DropDownList("Agent.ProfessionGuid", Model.Categories, new { @class = "form-control", data_bind = "value: $data.agent.professionGuid" })
                                </div>
                                <div class="col-md-4">
                                    <label>Gender</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-primary" data-bind="click: $data.createAgentClicked">Create</button>
                                    <button type="button" class="btn btn-default" data-bind="click: $data.cancelClicked">Cancel Quick Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: $data.mode() == 'Artefact'">
                        <div class="col-md-12">
                            <h4>
                                Quick add: Artefact
                            </h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Name
                                    </label>
                                    <input type="text" data-bind="value: $data.artefact.name" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Is a
                                    </label>
                                    @Html.DropDownList("Artefact.ArtefactTypeGuid", Model.Categories, new { @class = "form-control", data_bind = "value: $data.artefact.artefactTypeGuid" })
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Made by
                                    </label>
                                    @Html.DropDownList("Artefact.MadeByGuid", Model.Agents, new { @class = "form-control", data_bind = "value: $data.artefact.madeByGuid" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-primary" data-bind="click: $data.createArtefactClicked">Create</button>
                                    <button type="button" class="btn btn-default" data-bind="click: $data.cancelClicked">Cancel Quick Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="visible: $data.mode() == 'Place'">
                        <div class="col-md-12">
                            <h4>
                                Quick add: Place
                            </h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Name
                                    </label>
                                    <input type="text" data-bind="value: $data.place.name" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>
                                        Inside of
                                    </label>
                                    @Html.DropDownList("Place.InsideOfGuid", Model.Places, new { @class = "form-control", data_bind = "value: $data.place.insideOfGuid" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Latitude
                                    </label>
                                    <input type="text" data-bind="value: $data.place.latitude" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label>
                                        Longitude
                                    </label>
                                    <input type="text" data-bind="value: $data.place.longitude" class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-default btn-primary" data-bind="click: $data.createPlaceClicked">Create</button>
                                    <button type="button" class="btn btn-default" data-bind="click: $data.cancelClicked">Cancel Quick Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" data-bind="visible: $data.agents().length">
                            <label>
                                Agents
                            </label>
                            <ul data-bind="foreach: $data.agents">
                                <li><a href="#" data-bind="click: $root.selected.bind($root)"><span data-bind="html: $data.Text"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4" data-bind="visible: $data.artefacts().length">
                            <label>
                                Artefacts
                            </label>
                            <ul data-bind="foreach: $data.artefacts">
                                <li><a href="#" data-bind="click: $root.selected.bind($root)"><span data-bind="html: $data.Text"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4" data-bind="visible: $data.places().length">
                            <label>
                                Places
                            </label>
                            <ul data-bind="foreach: $data.places">
                                <li><a href="#" data-bind="click: $root.selected.bind($root)"><span data-bind="html: $data.Text"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4" data-bind="visible: $data.categories().length">
                            <label>
                                Categories
                            </label>
                            <ul data-bind="foreach: $data.categories">
                                <li><a href="#" data-bind="click: $root.selected.bind($root)"><span data-bind="html: $data.Text"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="attachment-lookup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Find Attachments</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>
                                Search <small>Type in the attachment name or associated tags</small>
                            </label>
                            <input type="text" class="form-control" data-bind="value: $data.search, valueUpdate: 'afterkeydown', enterkey: $data.searchClicked" placeholder="..." />
                            <button type="button" class="btn btn-default btn-primary" data-bind="click: $data.searchClicked">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span data-bind="text: $data.resultText"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" data-bind="visible: $data.images().length">
                            <label>
                                Images
                            </label>
                            <ul data-bind="foreach: $data.images">
                                <li>
                                    <div>
                                        <img data-bind="attr: { src: $data.Url + '?mode=crop&height=100' }" />
                                    </div>
                                    <span data-bind="text: $data.Name"></span>
                                    <a href="#" data-bind="click: $root.selected.bind($root)">Select</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4" data-bind="visible: $data.videos().length">
                            <label>
                                Videos
                            </label>
                            <ul data-bind="foreach: $data.videos">
                                <li><a href="#" data-bind="click: $root.selected.bind($root)"><span data-bind="html: $data.Name"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {

    <script src="~/Scripts/bootstrap-typeahead.min.js"></script>

    <script>
        ko.bindingHandlers.enterkey = {
            init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
                var allBindings = allBindingsAccessor();
                $(element).keypress(function (event) {
                    var keyCode = (event.which ? event.which : event.keyCode);
                    if (keyCode === 13) {
                        allBindings.enterkey.call(viewModel);
                        return false;
                    }
                    return true;
                });
            }
        };
    </script>
    <script>
        var utils = app.Utils;
        var select = utils.select,
            each = utils.each;
    </script>
    <script>
        var DataSetModal = (function() {
            var DataSetModal = function(){
                this.name = ko.observable();
                this.unitOfMeasure = ko.observable();
                this.subjectTag = ko.observable();
                this.parent = ko.observable();
            };
            DataSetModal.prototype.start = function(){

            };
            DataSetModal.prototype.saveClicked = function(){
                var model = this.unbind();
                $.post("/Admin/API/CreateDataSet", modal, function(data){
                    // etc
                });
            };
            DataSetModal.prototype.unbind = function(){
                return {
                    name: this.name(),
                    unitOfMeasure: this.unitOfMeasure(),
                    subjectTag: this.subjectTag(),
                    parent: this.parent()
                };
            };
            return DataSetModal;
        });
        var dataSetModal = new DataSetModal();
    </script>
    <script>
        var Attachments, Tags;

        function addTagClicked(){
            var tagText = $("#TagText");
            var values = tagText.val();
            if (!values || values.length == 0){
                return;
            }
            tagText.val("");
            Tags.addCsv(values, "Tag");
        }
        var ItemBuilder = (function(){
            function ItemBuilder(params) {
                this.field = $("#" + params.field);
                var items = JSON.parse(params.items);
                this.items = ko.observableArray(items);
            }
            ItemBuilder.prototype.remove = function(item){
                this.items.remove(item);
                this.updateField();
            };
            ItemBuilder.prototype.addCsv = function(values, label) {
                var _ = this;
                var parts = values.split(",");
                each (parts, function (part) {
                    var item = {
                        Guid: null,
                        Name: part,
                        Label: label
                    };
                    if (part.indexOf(":") > 0) {
                        var keyValue = part.split(":");
                        item.Name = keyValue[0].trim();
                        item.Value = keyValue[1].trim();
                    }
                    _.add(item);
                });
            };
            ItemBuilder.prototype.add = function(item) {
                this.items.push(item);
                this.updateField();
            };
            ItemBuilder.prototype.updateField = function() {
                var items = ko.toJSON(this.items);
                this.field.val(items);
                console.log(items);
            };
            return ItemBuilder;
        })();
        (function () {
            var attachments = @Html.Raw(Json.Encode(Model.NewAct != null ? Model.Attachments : "[]"));
            Attachments = new ItemBuilder({
                items: attachments,
                field: "Attachments"
            });
            ko.applyBindings(Attachments, document.getElementById("attachments-template"));

            var tags = @Html.Raw(Json.Encode(Model.NewAct != null ? Model.Tags : "[]"));
            Tags = new ItemBuilder({
                items: tags,
                field: "Tags"
            });
            ko.applyBindings(Tags, document.getElementById("tags-template"));
        })();
    </script>
    <script>
        $("#StatedByMultiple").on("change", function(){
            var list = $(this);
            var selected = list.find("option:selected");
            $("#StatedByText").val(selected.text());
            $("#StatedByGuid").val(selected.val());
        });
    </script>
    <script>
        var statedByTypeAheadOptions = {
            onSelect: function (item) {
                $("#StatedByGuid").val(item.value);
                console.log(item);
            },
            ajax: {
                url: "/API/SearchAgentJson",
                timeout: 500,
                displayField: "Text",
                valueField: "Value",
                triggerLength: 3,
                method: "get",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                },
                preProcess: function (data) {
                    if (data.Success === false) {
                        return false;
                    }
                    return data.Results;
                }
            }
        };
        $("#StatedByText").typeahead(statedByTypeAheadOptions);
    </script>

    <script>
        var tagTypeAheadOptions = {
            onSelect: function (item) {
                console.log(item);
            },
            ajax: {
                url: "/API/SearchTagJson",
                timeout: 500,
                displayField: "Text",
                valueField: "Value",
                triggerLength: 3,
                method: "get",
                loadingClass: "loading-circle",
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                },
                preProcess: function (data) {
                    if (data.Success === false) {
                        return false;
                    }
                    return data.Results;
                }
            }
        };
        $("#TagText").typeahead(tagTypeAheadOptions);
    </script>

    <script>
        var AttachmentModel = (function(){
            function AttachmentModel(){
                this.images = ko.observableArray([]);
                this.videos = ko.observableArray([]);
                this.selectedItem = ko.observable();
                this.search = ko.observable();
                this.resultText = ko.observable();
                this.modal = $('#attachment-lookup-modal');
            }
            AttachmentModel.prototype.searchClicked = function(){
                var _this = this;
                $.get("/API/FindImages", { query: _this.search() }, function(data) {
                    _this.bindAPIResult(data);
                });
            };
            AttachmentModel.prototype.bindAPIResult = function(data){
                this.images(data.Images);
                this.videos(data.Videos);
            };
            AttachmentModel.prototype.show = function(){
                this.modal.modal('show');
            };
            AttachmentModel.prototype.hide = function(){
                this.modal.modal('hide');
            };
            AttachmentModel.prototype.selected = function(entity){
                this.selectedItem(entity);
                var item = {
                    Guid: entity.Guid,
                    Name: entity.Name,
                    Label: entity.Label
                };
                Attachments.add(item);
                this.hide();
            };
            return AttachmentModel;
        })();
        var attachmentModel = new AttachmentModel();
        ko.applyBindings(attachmentModel, document.getElementById("attachment-lookup-modal"));

        function attachClicked(id) {
            attachmentModel.show();
        }
    </script>
    <script>
        var LookupModel = (function(){
            function LookupModel(){
                this.agents = ko.observableArray([]);
                this.artefacts = ko.observableArray([]);
                this.places = ko.observableArray([]);
                this.categories = ko.observableArray([]);
                this.selectedItem = ko.observable();
                this.search = ko.observable();

                this.resultText = ko.observable();
                this.mode = ko.observable();
                this.agent = {
                    firstname: ko.observable(),
                    lastname: ko.observable(),
                    fullname: ko.observable(),
                    citizenshipGuid: ko.observable(),
                    professionGuid: ko.observable(),
                    sex: ko.observable()
                };
                this.artefact = {
                    name: ko.observable(),
                    artefactTypeGuid: ko.observable(),
                    madeByGuid: ko.observable(),
                    locatedInGuid: ko.observable(),
                    locatedAtGuid: ko.observable()
                };
                this.place = {
                    name: ko.observable(),
                    insideOfGuid: ko.observable(),
                    latitude: ko.observable(),
                    longitude: ko.observable()
                };
            }
            LookupModel.prototype.createPlaceClicked = function(){
                var _this = this;
                var params = {
                    name: this.place.name(),
                    insideOfGuid: this.place.insideOfGuid(),
                    latitude: this.place.latitude(),
                    longitude: this.place.longitude()
                };
                $.get("/API/CreatePlace", params, function(data) {
                    _this.resultText("Place created successfully!");
                    _this.cancelClicked();
                }).fail(function(){
                    _this.resultText("Unable to create the place.");
                });
            };
            LookupModel.prototype.createArtefactClicked = function(){
                var _this = this;
                var params = {
                    name: this.artefact.name(),
                    artefactTypeGuid: this.artefact.artefactTypeGuid(),
                    madeByGuid: this.artefact.madeByGuid(),
                    locatedInGuid: this.artefact.locatedInGuid(),
                    locatedAtGuid: this.artefact.locatedAtGuid()
                };
                $.get("/API/CreateArtefact", params, function(data) {
                    _this.resultText("Artefact created successfully!");
                    _this.cancelClicked();
                }).fail(function(){
                    _this.resultText("Unable to create the artefact.");
                });
            };
            LookupModel.prototype.cancelClicked = function(){
                this.mode(null);
            };
            LookupModel.prototype.createAgentClicked = function(){
                var _this = this;
                var params = {
                    firstname: this.agent.firstname(),
                    lastname: this.agent.lastname(),
                    fullname: this.agent.fullname(),
                    citizenshipGuid: this.agent.citizenshipGuid(),
                    professionGuid: this.agent.professionGuid(),
                    sex: this.agent.sex()
                };
                $.get("/API/CreateAgent", params, function(data) {
                    _this.resultText("Agent created successfully!");
                    _this.cancelClicked();
                }).fail(function(){
                    _this.resultText("Unable to create the agent.");
                });
            };
            LookupModel.prototype.agentModeSelected = function(){
                this.mode("Agent");
            };
            LookupModel.prototype.artefactModeSelected = function(){
                this.mode("Artefact");
            };
            LookupModel.prototype.placeModeSelected = function(){
                this.mode("Place");
            };
            LookupModel.prototype.searchClicked = function(){
                var _this = this;
                $.get("/API/EntitySearch", { search: _this.search() }, function(data) {
                    _this.bindAPIResult(data.Results);
                });
            };
            LookupModel.prototype.bindAPIResult = function(data){
                var select = app.Utils.select;
                this.agents(data.Agents);
                this.artefacts(data.Artefacts);
                this.places(data.Places);
                this.categories(data.Categories);
            };
            LookupModel.prototype.selected = function(entity){
                this.selectedItem(entity);
                var ta = document.getElementById("Act_Description");
                var text = getSelectedText(ta).text.trim();
                var linkText = text != entity.Text ? "|" + text : "";
                var single = "[" + entity.Type + "|" + entity.Value + linkText + "]";
                replaceSelectedText(ta, single);
                $('#entity-lookup-modal').modal('hide');
            };
            return LookupModel;
        })();
        var lookupModel = new LookupModel();
        ko.applyBindings(lookupModel, document.getElementById("entity-lookup-modal"));

        function onTextAreaRightClick(element){
            var selected = getSelectedText(element);
            if (!selected.text || selected.text.length == 0){
                $('#entity-lookup-modal').modal('show');
                lookupModel.cancelClicked();
                return;
            }
            $.get("/API/EntitySearch", { search: selected.text }, function(data) {
                lookupModel.bindAPIResult(data.Results);
                $('#entity-lookup-modal').modal('show');
            });
        }
        /**
        Source: http://stackoverflow.com/questions/275761/how-to-get-selected-text-from-textbox-control-with-javascript
        */
        function getSelectedText(textComponent)
        {
            var selectedText;
            /**
            IE version
            */
            if (document.selection != undefined)
            {
                textComponent.focus();
                var sel = document.selection.createRange();
                selectedText = sel.text;
                return {
                    text: selectedText,
                    start: sel.startPos,
                    end: sel.endPos
                };
            }
                /**
                Mozilla version
                */
            else if (textComponent.selectionStart != undefined)
            {
                var startPos = textComponent.selectionStart;
                var endPos = textComponent.selectionEnd;
                selectedText = textComponent.value.substring(startPos, endPos);
                return {
                    text: selectedText,
                    start: startPos,
                    end: endPos
                };
            }
        }
        function getInputSelection(el) {
            var start = 0, end = 0, normalizedValue, range,
                textInputRange, len, endRange;

            if (typeof el.selectionStart == "number" && typeof el.selectionEnd == "number") {
                start = el.selectionStart;
                end = el.selectionEnd;
            } else {
                range = document.selection.createRange();

                if (range && range.parentElement() == el) {
                    len = el.value.length;
                    normalizedValue = el.value.replace(/\r\n/g, "\n");

                    // Create a working TextRange that lives only in the input
                    textInputRange = el.createTextRange();
                    textInputRange.moveToBookmark(range.getBookmark());

                    // Check if the start and end of the selection are at the very end
                    // of the input, since moveStart/moveEnd doesn't return what we want
                    // in those cases
                    endRange = el.createTextRange();
                    endRange.collapse(false);

                    if (textInputRange.compareEndPoints("StartToEnd", endRange) > -1) {
                        start = end = len;
                    } else {
                        start = -textInputRange.moveStart("character", -len);
                        start += normalizedValue.slice(0, start).split("\n").length - 1;

                        if (textInputRange.compareEndPoints("EndToEnd", endRange) > -1) {
                            end = len;
                        } else {
                            end = -textInputRange.moveEnd("character", -len);
                            end += normalizedValue.slice(0, end).split("\n").length - 1;
                        }
                    }
                }
            }

            return {
                start: start,
                end: end
            };
        }

        function replaceSelectedText(el, text) {
            var sel = getInputSelection(el), val = el.value;
            el.value = val.slice(0, sel.start) + text + val.slice(sel.end);
        }

    </script>
    <script>
        function addPointClicked(){
            var launcher = $("#DataSet-Launcher");
            var params = [
                "ActGuid=" + @Html.Raw(Json.Encode(Model.Act.Guid)),
                "DataSetGuid=" + $("#DataSet").val(),
                "StatedInGuid=" + $("#SourceGuid").val(),
                "Citation=" + $("#Act_Source").val(),
                "Milennium="+$("#Act_Milennium").val(),
                "Year="+$("#Act_Year").val(),
                "Month="+$("#Act_Month").val(),
                "Day="+$("#Act_Day").val(),
                "Hour="+$("#Act_Hour").val(),
                "Minute="+$("#Act_Minute").val()
            ];
            var query = params.join("&");
            console.log(query);
            window.open("/Admin/DataPoint/AddToDataSetFromAct?" + query, "_blank");
            return false;
        }
        function refreshDataSetsClicked() {
            refreshList("/API/GetDataSetsList", ["DataSet"]);
        }
        function refreshList(apiMethod, listIds) {
            $.get(apiMethod, null, function (data) {
                $.each(listIds, function (__, listId) {
                    var list = $("#" + listId);
                    var selectedValue = list.val();
                    list.empty();
                    $.each(data.Items, function (__, item) {
                        list.append($("<option></option>").attr("value", (item.Value || "")).text((item.Text || "")));
                    });
                    list.val(selectedValue);
                });
            });
        }
    </script>
}